[2018-11-16 20:34] houshengbo commented on #999
@asteed
It looks like the following format
[code]
works.

I have added support for actions to support:
[code]

[2018-11-22 15:49] jthomas commented on #972
This would be an awesome feature - could the documentation to install the tool via Brew be added to the main README? This is most developers preferred choice rather than having to manually install tools.

[2018-11-28 00:24] srl295 opened #1013 "doc has a broken link"
[master/docs/wskdeploy_triggerrule_trigger_bindings.md#specification](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/docs/wskdeploy_triggerrule_trigger_bindings.md#specification) links to
non existent [specification/html/spec_trigger_rule.md](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/specification/html/spec_trigger_rule.md#triggers-and-rules)

should

[2018-11-28 15:02] jthomas opened #1014 "wskdeploy failing to read configuration file from user home directory for 386 version"
The 386 release of the tool fails to retrieve the user's home directory from the system. This causes it to expect the `wskprops` file in the current directory rather than the user's home directory.

## example

- Run a `docker run -it ubuntu` container and retrieve the latest release archive of the tool from the release page.

- Using a simple manifest run the 386 & amd64 versions of the tool with

[2018-11-28 15:10] mrutkows commented on #1014
Thanks James... and it looks easy to slot in that fallback function on error

[code]

[2018-11-28 15:11] mrutkows commented on #1014
and I believe while we are at it, we should emit a warning if we drop into looking for a "fallback" method and add Verbose/Trace to indicate where we ended up finding the value we will attempt to use (and the value itself)

[2018-11-28 16:01] jthomas commented on #1014
Looks like the `wsk` CLI handles this using an external library.
https://github.com/apache/incubator-openwhisk-cli/blob/461f94fafe405feb3c664a43f6c117bac4d3c27f/commands/property.go#L26

We might want to follow that approach instead.

[2018-11-28 18:14] mrutkows commented on #1014
@jthomas @pritidesai be aware we believe that the long-term fix (i.e., use a robust library like the one you found) within go-client is the correct fix and that would cause us then to clean up wskdeploy to not have ANY fallback methods.  For now, we have a PR to do a quick fix.  Priti volunteered to open issues address this in go-client and then leveraged afterwards in wskdeploy.

[2018-11-28 19:09] mrutkows commented on #1014
Looks like James Dubee added this lib. and "Expand()" to the CLI as part of the Go formatting PR: https://github.com/apache/incubator-openwhisk-cli/commit/c615efb697af7ef05c9b238005d5c8efe506c323

[2018-11-28 21:07] pritidesai opened #1016 "Whisk Client Refactor including Platform Agnostic Home Dir location"
After go client is upgraded to use platform independent library to determine the home directory (see issue # https://github.com/apache/incubator-openwhisk-client-go/issues/108), update whisk deploy to adopt those changes.

Also, @mrutkows and I discovered there is a discrepancy in initializing and creating whisk client object in whisk deploy. There are calls in multiple places which overrides the

[2018-11-29 04:52] npearce commented on #1005
I believe I ran into the same problem with a fresh docker-compose install today.

You can work around this with `--strict`

Verbose '-v' output below - note the missing runtimes.json warning:

[code]

[2018-11-29 10:42] jthomas commented on #1014
I've checked the new version and it works - thanks for the quick turnaround.

[2018-11-29 10:42] #1014 closed

[2018-11-29 14:55] mrutkows commented on #1014
@pritidesai @jthomas Thanks James for bringing this issue to us and also pointing us to the quick fix.  Priti, can you merge ASAP please?

[2018-11-29 18:32] mrutkows commented on #1016
@pritidesai Believe that both CLI and wskdeploy SHOULD use the same lib., the REST CLI should ideally be agnostic of where (OS/platform) it invoked from if it needs to still have some odd way of providing defaults (not injected by tool using it) then it should also use same lib as an import (edited)

I would think that the design should be that any IDE or app using REST directly should instantiate

[2018-11-29 18:36] mrutkows commented on #1016
and of course we need to document the lib. and its MIT license wherever we import (verify in NOTICE file for CLI, wskdeploy and go-client) whenever we implement.

[2018-11-30 19:14] pritidesai opened #1018 "Find out how to package runtimes.json into wskdeploy binary"
As a quick fix in PR #1017, I have moved runtime `json` into `runtimes.go` but we want to bring back `runtimes.json` back to maintain portability of `wskdeploy` where for adding any new runtime, we can just update the `json` file. I found a way to bundle `json` into wskdeploy binary using `packr` but need to look into it more and see how we can make it part of binary.

[2018-12-05 20:51] AnthonyAmanse commented on #1000
@houshengbo I think adding like a date and the latest commit SHA fingerprint would be useful. Something like `latest-12-05-2018-<commit-sha>`. This makes it easier for users to sync/compare their local `wskdeploy` binaries to what's on the upstream's "latest".

Side question: Is the `0.9.9` version the stable and recommended version?

[2018-12-09 20:36] palash25 commented on #908
Hi I would like to take this up @mrutkows

[2018-12-13 23:04] rabbah commented on #1018
This should not exist in wskdeploy - the tool should IMO read it from the API host.

[2018-12-14 09:56] jthomas opened #1020 "Support default manifest without explicit parameter"
Small UX feedback... Could we support using a default manifest (`manifest.yml `) from the current directory if the user doesn't explicitly provide one as a command-line argument?

This would allow me to just type `wskdeploy` rather than `wskdeploy -m manifest.yml` all the time.

[2018-12-20 21:09] pritidesai commented on #1020
@jthomas this is supported, `wskdeploy` looks for `manifest.yaml` first followed by `manifest.yml` in current directory at https://github.com/apache/incubator-openwhisk-wskdeploy/blob/7bf2617461857e77642b3f82e99ffa1d9691d783/utils/misc.go#L108

[2018-12-21 09:30] #1020 closed

[2019-01-31 14:13] #788 closed

[2019-02-02 19:31] playground opened #1028 "Api paths are getting created under the wrong api with manifest.yaml"
manifest.yaml
[code]
[code]
According to the deploy log, both api/list and api/upload should have been created under api named "cos-dashboard".  However they are being created under "starter-apis"
![image](https://user-images.githubusercontent.com/243495/52168341-1f92c200-26f7-11e9-899a-bfd2c11e8cf6.png)

[2019-02-02 23:16] csantanapr commented on #1028
Thanks for reporting the issue @playground

@mdeuser ^^

[2019-02-02 23:17] csantanapr commented on #1028
It would be helpful if you could open a ticket with IBM Cloud on this to have support jump to also help.

[2019-02-04 18:41] playground commented on #1028
@mdeuser yes I already have starter-apis defined as a test which as a base path of /api.  So I can't have a base path with the name /api even though it is for a new endpoint name?

[2019-02-04 19:36] mdeuser commented on #1028
@playground - you can add new endpoints to an existing api.  the new endpoints would specify the existing basepath, which in your case is `/api`.  however, the new endpoints are not able to rename the api. in your case the existing api (base path `/api`, name `starter-apsi`) will retain the name `starter-apis` even though the new endpoints try to specify a different api name (`cos-dashboard`).  an

[2019-02-04 22:04] #1028 closed

[2019-02-15 15:50] rabbah opened #1031 "wsk project deploy fails if ~/.wskprops files defines a namespace"
This is based on work related https://github.com/apache/incubator-openwhisk-catalog/pull/268.
To reproduce, create a ~/.wskprops file like this, for example:

[code]

Then try to run `wsk` to project deploy. The cli is picking up the NAMESPACE property and trying to install actions in the wrong namespace. This will fail since the key on the command line does not match. AFAIK there is no way to ove

[2019-02-15 18:50] pritidesai commented on #1031
This is related to #809, lets add support to read env. variable `WSK_CONFIG_FILE` in addition to what we have today with `--config`, here is the precedence order (highest to lowest):

- `--config`
- env. variable `WSK_CONFIG_FILE`
- `$HOME/wskprops` as a default

[2019-02-15 22:22] asteed opened #1032 "Cannot specify nodejs:default runtime"
## Overview
Currently it appears that the runtime specified in the `manifest.yml` has to be an explicit runtime version (e.g.: `nodejs:8`). It does not support using the value `nodejs:default`.
## Example
Given the following `manifest.yml`
[code]
The result when using `wskdeploy` is as follows
[code]
Below is the list of available runtimes where `nodejs:6` is currently indicated as the default nod

[2019-02-18 05:21] TPei opened #1033 "memorySize is limited to 512MB"
wskdeploy limits memory size to 512mb. To me, it is unclear why that is. I'd propose raising those limits, OpenWhisk (at least on IBM) supports up to 2048MB limits

[2019-02-18 05:34] TPei commented on #1033
Hmm, ok, according to the documentation, the memory limit is still 512MB https://github.com/apache/incubator-openwhisk/blob/master/docs/reference.md

[2019-02-18 05:36] TPei commented on #1032
Hmm, it actually works on my machine

[2019-02-18 05:46] TPei commented on #1032
I assume you are running the latest version of wskdeploy?

[2019-02-18 06:08] TPei opened #1035 "test fail with invalid runtimes"
Tests now fail with invalid runtimes: https://travis-ci.org/apache/incubator-openwhisk-wskdeploy/builds/494723361

This is presumably related to changes in incubator-openwhisk, that removed some old runtimes: https://github.com/apache/incubator-openwhisk/pull/4254

[2019-02-18 10:53] #1035 closed

[2019-02-18 11:04] TPei commented on #1033
hmm, @rabbah shed some light on the issue: "openwhisk operators can configure these limits at deployment time". Makes me wonder if more than 512MB should be allowed here. Right now the setting is just ignored. The warning is only shown when deploying with -v (verbose) and then there's so much output that it's very hard to notice...

Could we instead show a warning and still use the setting? What w

[2019-02-18 13:20] rabbah commented on #1033
I haven’t looked at the implementation here but any hard coding of limits in the wskdeploy client is a bug in my opinion and should be read from the api host which provides them.

There is an issue I opened related to the runtime kinds for example which bit me sometime ago.

[2019-02-19 15:55] asteed commented on #1032
Hi @TPei - Yes, this was initially done with 0.9.9
[code]
I've also just tested the unnumbered `latest` [version](https://github.com/apache/incubator-openwhisk-wskdeploy/releases/download/latest/openwhisk_wskdeploy-latest-mac-amd64.zip) (that shows it was modified yesterday) and see the same result.

Both fail with the same output
[code]
If it helps, I'm running openwhisk via docker-compose based

[2019-02-20 09:55] huksley opened #1037 "Unable to deploy simple API with error msg_config_missing_apigw_access_token"
OS: Linux Ubuntu 18.04
OpenWhisk deployed to docker using [devtools](https://github.com/apache/incubator-openwhisk-devtools/tree/master/docker-compose) compose setup

I've tried using latest and 0.9.9 version of deploy

I've created simple manifest [myservice.yaml](https://gist.github.com/huksley/efdf069e4be7551f06129cd0b7c6cefe)

- [x] Deploying without APIs - successful
- [ ] Deploying with `api

[2019-02-20 10:25] TPei commented on #1032
Ok, I was able to reproduce this, it was working for me earlier since I tried it with a source file (not a zip) and it just inferred the runtime in that case and set to latest...

[2019-02-20 11:24] TPei commented on #1032
Ok, I first of all added a test for this:
https://github.com/apache/incubator-openwhisk-wskdeploy/pull/1039
and as expected it throws the same error:
https://travis-ci.org/apache/incubator-openwhisk-wskdeploy/builds/495929157

Next up would be a fix, but I'm not sure my knowledge suffices to do this :laughing:

So we might need some help here from @pritidesai or @mrutkows :smiley:

[2019-02-21 16:36] rabbah commented on #1032
Here's my guess: the runtimes are set by reading the manifest from the API host. This list does not include a "default" kind. That has to be constructed based on the response which looks like this:

[code]

One has to map over the runtimes and find the default.
Alternatively, wskdeploy should just assume that `:default` always exists and just check that there exists a kind family matching the spec

[2019-02-21 16:37] rabbah commented on #1032
I think this is the relevant method: https://github.com/apache/incubator-openwhisk-wskdeploy/blob/755d4a4ec2e283e4d0b958a8db9c8a1d3a6a13c9/cmd/root.go#L123-L133

[2019-02-22 07:27] TPei commented on #1032
thanks @rabbah I'll look into that :)

[2019-02-22 13:18] mrutkows commented on #1033
According to my recollection, wskdeploy itself imposes no limits on memory (or other size); thanks for referencing the docs/other issue.

[2019-02-22 13:37] rabbah commented on #1033
Why is this closed?

[2019-02-22 16:31] rabbah commented on #1031
@pritidesai I'd like to resolve this issue to land a patch before the release I'm going to push next week. Do you think we can fix this before then? Do you have any bandwidth to work on it?

[2019-02-22 16:41] rabbah commented on #1013
@mrutkows can you take a look at this and advise? I fixed the links on a branch but the section heading doesn't make sense to me. It reads "For convenience, the Actions and Parameters grammar can be found here:" then links to triggers and rules specs.

[2019-02-22 16:44] rabbah commented on #1000
Great suggestion @AnthonyAmanse  - are you interested in submitting a PR?

[2019-02-22 16:51] rabbah commented on #988
As noted in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/983#issuecomment-466464704, the change should be to remove the types entirely for the API responses that are JSON and only depend on the fields that are needed... here, I believe it's just `kind`.

[2019-02-25 05:53] TPei commented on #1033
Just because the PR was merged, bu the underlying issue (hard coding client-side vs reading from api host) still remains, I guess. Updated the title accordingly

[2019-03-06 05:40] TPei commented on #1032
Hey @asteed
#1039 was merged yesterday and it seems to be working now if you use the new, latest release
https://github.com/apache/incubator-openwhisk-wskdeploy/releases/tag/latest

[2019-03-06 11:00] TPei commented on #1033
the API (such as https://openwhisk.ng.bluemix.net/) returns the memory size limit as "limits.max_action_memory", this can be used accordingly I'd say

[2019-03-06 13:03] #1032 closed

[2019-03-08 14:51] EternalPhane commented on #913
@Nickkr I'm having a similar issue except that the zipped path starts from the folder contains manifest. Did you ever find the resolution?

[2019-03-08 23:35] Nickkr commented on #913
@EternalPhane No, never got it to work on Windows. Working fine for me on Linux though.

[2019-03-11 11:16] TPei opened #1042 "Can't specify limits on Sequences"
When settings limits on a sequence, such as
[code]
it causes an error:
[code]

However, Sequence memory limits can be set via the regular cli:
`wsk action update my_sequence --memory 1024`

[2019-03-13 22:02] epatters commented on #805
In view of #834 and #978, can you please clarify the status of Composer support? Can I already use composer with wskdeploy by first compiling using the `composer` command, then handing off the resulting JSON file to wskdeploy as a conductor action? Thanks.

[2019-03-19 21:24] rabbah opened #1044 "sanitize repo"
In the release candidates, I found these three files have +x permission unnecessarily:
incubator-openwhisk-wskdeploy-0.10.0-incubating/cmd/version.go
incubator-openwhisk-wskdeploy-0.10.0-incubating/tools/travis/docker/Dockerfile
incubator-openwhisk-wskdeploy-0.10.0-incubating/ansible/environments/local/group_vars/all

Also, noticed that the name of the project in the NOTICE and DISCLAIMER files do

[2019-03-25 23:54] AnthonyAmanse opened #1045 "require-whisk-auth in actions/sequences not working"
* Specifying `require-whisk-auth` in actions isn't working as mentioned in the [docs](
https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/specification/html/spec_actions.md#fields)
[code]

* It works when using it in the `annotations` key (suggested here: #712)

Example:
[code]

* Using `true` does not create a random number like what the wsk cli does `wsk action create ... --web

[2019-03-26 00:51] AnthonyAmanse opened #1046 "Creating an API (API Gateway) with require-whisk-auth does not generate the correct swagger file"
Using `wskdeploy` to create APIs with action, by default, publicly exposes the action's web api (example: `https://us-south.functions.cloud.ibm.com/api/v1/web/<redacted>/hello/world.json`).

When using `require-whisk-auth` to secure the action, `wskdeploy` successfully creates the API but the swagger file is missing a necessary block to add the `X-Require-Whisk-Auth` header.

manifest.yaml file us

[2019-04-04 20:42] mrutkows opened #1049 "Implement dynamic Action Limits using wskadmin limits command"
It would be a very good feature to dynamically pull the target provider's user limits (customizable per namespace) and then use these for validation (perhaps implement a flag that adds this extra dynamic behavior as to not impose on developers by adding extra connections/api calls under-the-covers they do not care about).

see https://github.com/apache/incubator-openwhisk/blob/master/tools/admin/R

[2019-04-10 14:13] trimoq opened #1050 "Segfault when Scheme not defined"
Wskdeploy crashes with a Segfault when the URL Scheme is not defined in `apihost`:

- version: 0.10.0-incubating
- manifest: the sample from [the getting-started-guide](https://openwhisk.apache.org/documentation.html#wskdeploy)

To reproduce the segfault:
[code]
in contrast, the following works:
[code]

The segfault seems to originate [this code](https://github.com/apache/incubator-openwhisk-clien

[2019-04-10 14:44] #1000 closed

[2019-04-11 10:51] trimoq commented on #1050
Ok, according to the [go docs](https://golang.org/src/net/url/url.go?s=13181:13220#L469):

If the code in the [go client](https://github.com/apache/incubator-openwhisk-client-go/blob/47ad3426a4e3632fd17d859303f4074ae7b959ff/whisk/wskprops.go#L72) is modified to the following, a missing schema is not causing a segfault anymore.

[code]
Does this has to be fixed or must the user set the scheme in th

[2019-04-14 23:21] ZachHerridge commented on #1037
I'm having the same problem no my digital ocean managed Kubernetes deployment.

[2019-05-22 09:06] alvarolopez commented on #548
This but is valid also for the Packages and Actions:

    Error: manifest_parser.go [115]: [ERROR_YAML_PARSER_ERROR]: File: [manifest.yaml]:
    ==> yaml: unmarshal errors:
    ==> line 3: field description not found in struct parsers.Package
    ==> line 10: field description not found in struct parsers.Action

[2019-06-07 07:24] KeonHee opened #1055 "Fails to export the alarm feed trigger"
## Failure Scenario
Exporting a project with an alarm feed trigger will fail.

### 1. yaml file: `deploy.yaml`
[code]

### 2. Sync deploy
[code]

### 3. Check project value
[code]

### 4. Export project
[code]

## Cause of failure
The URL of the API that validates the alarm feed trigger is invalid.

As is:
[code]

To be:
[code]

[2019-06-07 10:06] KeonHee commented on #1055
Sorry. I tested with an old version `wskdeploy`.
This issue was fixed #1052

[2019-06-07 10:06] #1055 closed

[2019-06-28 21:36] dgrove-oss commented on #1050
The user should not be required to set the scheme.   Sorry this issue got overlooked for two months.

[2019-07-02 12:38] #1050 closed

[2019-07-15 17:35] mrutkows opened #1061 "Update HomeBrew release to have Apache prefix in name"
See thread here:
https://lists.apache.org/list.html?dev@openwhisk.apache.org

[2019-07-19 13:22] Logicon211 opened #1062 "Add support for concurrency limit"
Currently there is support for the following limits for a function:

[code]

`concurrency` is a limit that can be manually applied to a function using the wsk CLI, but can't be applied to functions in a wskdeploy manifest.yaml. it is **different** than `concurrentActivations`

ie: `wsk action update <actionpath> --concurrency 100 `

It is used to allow a number of functions to be run concurrently

[2019-08-19 13:07] mrutkows commented on #1037
@ZachHerridge @huksley You are using a developer version of OpenWhisk that does not include an API gateway service.  You might try to deploy a full implementation using Kubernetes or use a commercial offering such as IBM Cloud Functions.

[2019-08-19 13:18] mrutkows commented on #1037
@huksley @ZachHerridge There is not error in wskdeploy; likely it is an error in the devtools configuration as it is outdated and intended for simple use cases for early developer experience.  I would recommend opening an issue under the api gateway component and/or asking in either the project's Slack channel (general, or apigateway).  In the meantime, you could try using the Kube deployment whic

[2019-08-19 13:45] mrutkows commented on #1037
@huksley @ZachHerridge Also, your .wskprops appears to be missing a key/value for ```APIGW_ACCESS_TOKEN```

[2019-08-19 14:49] mrutkows commented on #1037
Seeing that your .wsprops file is very sparse... I would also ask if you have followed the CLI setup instructions: https://github.com/apache/openwhisk/blob/master/docs/cli.md

and also to see what server-side errors you might get... be sure to add a key ```APIGW_ACCESS_TOKEN``` to .wskprops if it does not exist (with a empty value if needed) so that wskdeploy will call the Whisk client which may p

[2019-08-19 18:47] mrutkows commented on #1037
@huksley @ZachHerridge For our testing (in Travis), we assume that the key ```APIGW_ACCESS_TOKEN``` is the default for the "guest" account and has a known value of ```"DUMMY TOKEN"```.  This is NOT well documented and I intend to correct that (in multiple places).  Typically, it is assumed that you have installed the CLI, performed a manual ```api list``` command and it (as a side effect) would ge

[2019-08-19 18:51] mrutkows commented on #1037
Additionally, I would note that the ```"sequence:"``` key is not supported under the ```"api:"``` key of the manifest.yaml file...  it is assumed that you defined an action sequence elsewhere, name it and reference that name when creating your API endpoint (and I will fix that documentation).   Please see the 2 integration tests for API gateway for definitive examples here:
https://github.com/apac

[2019-08-20 08:28] KeonHee opened #1066 "Failed to ./gradlew releaseBinaries"
### Error log
[code]
### Cause
The old version of [github.com/apache/openwhisk-client-go/whisk](https://github.com/apache/openwhisk-wskdeploy/blob/master/build.gradle#L65) was the cause.
It should be updated to `d8ccb1442651beee6a9245913e3ca0cb182888b1 `

[2019-08-20 12:46] #1066 closed

[2019-09-09 19:00] mrutkows opened #1069 "Add "helloworld" & "runtime" tests for newer .NET and Ballerina runtimes"
Currently, we have "helloworld" tests for other langs and need some equivalency for newer runtime langs. of .NET and Ballerina.  Here is what we have now for "helloworld":

[code]
or some "helloXXX" variant:
[code]

and "runtime" (version) variants for:
[code]

NOTE: we SHOULD have helloworld tests use "default" kind (not versioned) for each runtime language and a runtime test for each supported v

[2019-09-10 01:34] #809 closed

[2019-09-10 16:24] #548 closed

[2019-09-17 12:55] dgrove-oss opened #1073 "Build non-source test artifacts from source"
The directory tests/src/integration contains a number of non-source artifacts (.zip, .jar, compiled executables) that cannot be included in an Apache source release.

A build target should be added to re-create all these files from source (and the artifacts should either be removed from git entirely or centralized to a single directory like tests/dat/ or tests/binary that can be cleanly excluded f

[2019-09-17 13:41] dgrove-oss commented on #1073
Note, when this issue is fixed, the exclusion in the release script package_source_code.sh add in https://github.com/apache/openwhisk-release/pull/301 should be removed.

[2019-09-25 15:36] mrutkows commented on #1037
Please also see fix was merged to supply a "DUMMY TOKEN" with this PR: https://github.com/apache/openwhisk-wskdeploy/pull/1057

which was merged into the 1.0.0 release: https://github.com/apache/openwhisk-wskdeploy/releases/tag/1.0.0

[2019-10-21 15:15] dpsommer opened #1077 "Trigger Feed vs Non-Feed inputs apply differently"
I've run into the following issue trying to deploy triggers/rules to IBM Cloud Functions.

Trigger inputs seem to have different behaviour depending on whether or not a `feed` parameter is specified. Without a feed parameter, the inputs array is sent as an object to the Parameters object in Functions, which is then passed to triggered actions as part of the input payload. When given a feed paramet

[2019-10-21 23:57] style95 commented on #1077
Yes, this is an old issue.

When you create a trigger with `wsk`, seemingly it just creates the trigger, but it actually creates a trigger and executes a feed action with the given trigger name.
And when you execute the feed, the `trigger_payload` is passed as a request body.
We can easily figure out this with `-v` option.

[code]

Also, when you get the trigger information, it fetches data from t

[2019-10-22 04:47] dpsommer commented on #1077
@style95

Ok, there are still two unanswered questions though (correct me if I'm wrong):

1. Despite the parameters being set and passed to the alarm feed action, the `payload` value (from triggered_payload being set) is *not* sent to the triggered action. This is the main issue.
2. There doesn't seem to be a way, as far as I can tell, to set arbitrary key-value pairs in the `params` object you're

[2019-10-22 08:22] mrutkows commented on #1077
@style95 I had interacted with @dpsommer and asked him to open this issue. After speaking with Priti, it seems that last year (May 2018) that we found that the Go Client was not accepting/forwarding the payload... we had thought at the time James Dubee would work to address this in the Go Client and wskdeploy would then work.  Apparently, the "ball was dropped" and no issue was opened and no fix w

[2019-10-22 09:28] KeonHee commented on #1077
@dpsommer
How about changing this way? It works well to me

[code]

Your way is also passed to the action, but it looks like the `payload` is not **json**, it's a **string**, so it doesn't seem to be delivered.

[2019-10-22 11:35] dpsommer commented on #1077
@KeonHee

Updating `manifest.yaml` with your change does update the values I'm seeing in the trigger payload:

<img width="428" alt="Screen Shot 2019-10-22 at 7 30 52 AM" src="https://user-images.githubusercontent.com/3322850/67281692-ff31b000-f49d-11e9-8b92-2dee13be5f41.png">

but as @mrutkows mentioned, the payload itself still isn't forwarded at all to the triggered actions.

As a side not, whe

[2019-10-22 19:49] pritidesai commented on #1077
The same issue is raised multiple places:

https://github.com/apache/openwhisk-wskdeploy/issues/884
https://github.com/apache/openwhisk-client-go/issues/122
https://github.com/apache/openwhisk-cli/issues/293

Looks like it has not been resolved yet. @jasonpet @dubee @eweiter any more info/updates on this?

[2019-10-22 19:54] pritidesai commented on #1077
Hey @steven0711dong any insight into this? @dubee sent me your way

[2019-10-23 03:52] style95 commented on #1077
@dpsommer
While there is some inconsistency between feed parameters and trigger parameters, I could still pass payloads to a triggered action as expected.

We are checking on the version we used to see the difference.

[2019-10-23 09:10] style95 commented on #1077
@dpsommer
Kindly clarify one thing.
Did you manually fire the trigger or fire it via an alarm cron job?

[2019-10-23 11:46] dpsommer commented on #1077
@style95

I was firing it manually to test. Checking the logs this morning, the parameters updated based on @KeonHee 's feedback were passed when the cron jobs fired.

Thanks for your help.

[2019-10-23 12:12] style95 commented on #1077
@dpsommer Thank you for the confirmation.

So the main issue is that trigger parameters are stored in the alarm package stack rather than a trigger itself.

[2019-10-23 23:10] pritidesai commented on #1077
@steven0711dong is looking into this and will start fixing it next week ... thanks @steven0711dong!

[2019-10-23 23:40] pritidesai commented on #1077
@KeonHee @dpsommer yes the `trigger_payload` does get to the action when the trigger invokes it, but the `params` doesnt reach to the associated action which could be sent via `--param` or `-p`.

[2019-11-28 14:40] HunderlineK commented on #805
I am following the same approach as @epatters
[code]

It just seems when referencing an action inside a compose we need to prefix it with the package name as well? i.e. `composer.retry(3, 'package-name/action-name')` instead of `composer.retry(3, `action-name`)`, even if they are defined in the same package

[2019-12-02 22:42] mrutkows commented on #805
@lionelvillard as the composer expert, can you comment?

[2019-12-02 22:48] dgrove-oss commented on #805
you want @tardieu, not @lionelvillard

[2019-12-02 23:27] tardieu commented on #805
The action name may specify the namespace and/or package containing the action following the usual OpenWhisk grammar. If no namespace is specified, the default namespace is assumed. If no package is specified, the default package is assumed.

https://github.com/apache/openwhisk-composer/blob/master/docs/COMBINATORS.md#action

It is possible however to invoke an action from the same package without

[2019-12-02 23:50] tardieu commented on #805
I believe conductor actions like sequence actions interpret unqualified action names in the same way. Unqualified names are assumed to refer to the default package. Composer is no different. But `invokeRelative` can work around that.

[2019-12-02 23:51] tardieu commented on #805
I will add `invokeRelative` to the composer documentation.

[2019-12-05 20:11] mrutkows opened #1082 "Deprecate godep in favor of govendor"
Please switch and document for developers how to use/build.

Please see the same work done in go-client for reference: https://github.com/apache/openwhisk-client-go/pull/113/files

[2019-12-12 17:08] mrutkows commented on #1082
Any PR should be coordinated with similar Issue/requirement in go-client:
https://github.com/apache/openwhisk-client-go/issues/134

[2019-12-19 20:07] David-N-Perkins commented on #1046
Any movement on this?  I just discovered this, and it's a blocker for us.

[2019-12-30 23:04] mdeuser commented on #1046
@pritidesai @mrutkows - fyi.. not sure if you've seen this one
@steven0711dong

[2020-01-01 04:35] steven0711dong commented on #1046
@pwplusnick Hi Will, I compared the `api create` command POST call issued by both wsk-deploy and blue-cli. I believe the POST request body issued by wsk-deploy is missing `secureKey`, which is the value of `require-whisk-auth`. I believe a new variable for the value of `require-whisk-auth` should be added to Api Struct. Let me know what you think.

[2020-01-02 14:15] mrutkows commented on #1046
@David-N-Perkins
1) It appears we believe we are testing this annotation in the following integration test:
https://github.com/apache/openwhisk-wskdeploy/blob/master/tests/src/integration/webaction/manifest.yml
2) It appears the spec. grammar indicates its valid value is a boolean:
  require-whisk-auth: <boolean>
3) Indeed the key needs to appear under the annotations key (map) as the orig. spec.

[2020-01-02 14:29] mdeuser commented on #1046
hi @mrutkows - the value of the `require-whisk-auth` annotation can be either a boolean, number or a string.
https://github.com/apache/openwhisk/blob/master/docs/annotations.md#annotations-specific-to-web-actions

[2020-01-02 16:04] steven0711dong commented on #1046
@mrutkows @mdeuser Whichever value we put for require-whisk-auth(true, false, string), wsk-deploy handles action deployment well. The problem is api deployment. It ignores the require-whisk-auth value when deploying api.

[2020-01-07 16:36] mdeuser commented on #1046
@steven0711dong - is your above statement based on wskdeploy's correct passing of the `secureKey` parameter to the create api action?

[2020-01-07 16:43] steven0711dong commented on #1046
@mdeuser wskdeploy doesn't pass secureKey parameter to create api action.

[2020-01-07 17:55] mdeuser commented on #1046
@steven0711dong - but wskdeploy _should_ pass the `secureKey` parameter?

[2020-01-07 18:40] steven0711dong commented on #1046
@mdeuser correct. Wskdeploy should pass the secureKey.

[2020-01-07 22:41] mrutkows commented on #1046
For reference, here is the documentation for the top-level `web-secure` feature and corresponding annotation: https://github.com/apache/openwhisk/blob/master/docs/webactions.md#Securing-web-actions (IBM Has this version: https://cloud.ibm.com/docs/openwhisk?topic=cloud-functions-actions_web)

There looks to be room for improvement, as well as better referencing from here:
https://github.com/apache

[2020-01-08 15:57] mrutkows commented on #1046
Please note that this information needs to be added to the go client api struct so that it gets passed on the header: https://github.com/apache/openwhisk-client-go/blob/master/whisk/api.go

[2020-01-09 17:38] mrutkows opened #1084 "Feature: Support the "Concurrency" action limit on any action"
This PR that added the "concurrency" flag to the CLI was this one:
https://github.com/apache/openwhisk-cli/pull/383 (edited)

The flag was added to the CLI command flag structs here:
https://github.com/apache/openwhisk-cli/blob/master/commands/flags.go

wskdeploy should support this to maintain CLI parity.

[2020-01-24 22:38] mrutkows commented on #1046
Please note that the functionality was added in PR https://github.com/apache/openwhisk-wskdeploy/pull/1083.  The work for sequences will need to be done in a separate PR and will use this issue to track that work.

[2020-01-25 17:12] mrutkows commented on #1046
@AnthonyAmanse please verify the fix with open version of wskdeploy if able.

[2020-01-25 17:12] #1046 closed

[2020-01-30 20:27] steven0711dong opened #1088 "Deploy trigger with feed action fails"
Using the following manifest file to deploy an action and a trigger with feed will result in 403 authentication error.
[manifest.pdf](https://github.com/apache/openwhisk-wskdeploy/files/4136086/manifest.pdf)

After tracing the code, I found out the wsk-deploy configures the feed action after successfully deploying the trigger by invoking the feed action. But the POST request URL used for invoking

[2020-01-31 17:31] #1088 closed

[2020-02-25 08:46] GravityInc commented on #1005
Hi Guys,

This is the first time im raising an issue so apology if im not following the process. Please can you guide me to the process to raise the below issue.

My yaml file is:
packages:
  hello_world_package:
    version: 1.0
    license: Apache-2.0
    actions:
      hello_world:
        function: hello.js
        runtime: nodejs:10
when i try wskdeploy i get the error:
Info: The API host is

[2020-04-16 18:08] srl295 commented on #1013
@mrutkows @rabbah ping, any update on this?

[2020-04-16 21:46] rabbah commented on #1013
Need Matt to cooment.

[2020-04-17 14:18] csantanapr commented on #1013
@srl295 could you submit a PR with this change?

[2020-04-17 14:39] mrutkows commented on #1013
@srl295 will look at asap

[2020-04-17 21:05] #1013 closed

[2020-04-27 23:45] srl295 opened #1095 "API spec inconsistent"
https://github.com/apache/openwhisk-wskdeploy/blob/master/specification/html/spec_apis.md#apis says:

[code]

but, the examples given (`hello` and `world` do not start with a `/` character.

See also: #955

[2020-05-26 13:01] #1095 closed

[2020-05-26 13:36] brunogirin opened #1097 "Specifying action parameters in the inputs array or the annotations one"
# Issue

Action parameters specified in the `inputs` array are not visible through the WSK CLI while parameters specified in the `annotations.parameters` array are visible.

# Expected behaviour

How the `inputs` and `annotations.parameters` arrays work should be documented and the tests should reflect this.

# Details

I am trying to specify action parameters in the manifest so that those paramet

[2020-05-26 15:28] brunogirin commented on #1097
Addendum: when I use the `inputs` structure and I create an API that calls the function, I get this error when calling the API with `curl`, suggesting that the `inputs` structure marks the parameters to reserved properties that the API gateway can't set:

[code]

[2020-08-04 20:32] mrutkows opened #1099 "Update docs to reflect everywhere wskdeploy does interpolation on manifest values"
It became apparent to me that we have not kept the docs current as to what values in the manifest now support interpolation (and more could!).

This involves going through the manifest parser: https://github.com/mrutkows/openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go

and look for all places where a value is extracted via the "InterpolateStringWithEnvVar()" function and document it her

[2020-08-05 04:44] morrme commented on #1099
I'm not sure how to properly document this in the specified file, but if it helps, the occurences are :

[Line 195](https://github.com/mrutkows/openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L195)
[Line 248](https://github.com/mrutkows/openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L248)
[Line 324](https://github.com/mrutkows/openwhisk-wskdeploy/blob/master/parsers/manifest

[2020-08-10 22:06] huydoan2 opened #1102 "Need test case for duplicate entries in manifest.yaml"
We need a test case for expected behavior when there are duplicated entries in `manifest.yaml` such as:

[code]

https://github.com/apache/openwhisk-wskdeploy/pull/1101 eliminated a similar test due to a package change and the behavior also changes.

[2020-08-11 22:06] robertoyoc opened #1103 "Support for Swagger 3.x"
# Subject of the issue
Does wskdeploy support using Swagger 3.x file?
Is OpenWhisk compatible with this OAS?

Your environment
Local computer where trying to deploy:
OpenWhisk CLI 1.0.0
wskdeploy 1.0.0
go version go1.14.7 linux/amd64

Host:
Ubuntu 18.04.4 LTS (GNU/Linux 5.3.0-1032-aws x86_64)
Kubernetes Version 1.18.6
Helm version v3.2.4

Steps to reproduce
I'm using the following OAS:

open_api3_

[2020-08-12 19:44] rabbah commented on #1103
My guess is there are a few schema alignments necessary both in the cli/go client and in the route management package in the openwhisk repo.

Are you interested in submitting a pull request to support openapi?

[2020-12-09 05:58] shazron opened #1107 "Spec documentation for action includes and excludes is missing"
See implementation: https://github.com/apache/openwhisk-wskdeploy/pull/991

The action spec: https://github.com/apache/openwhisk-wskdeploy/blob/master/specification/html/spec_actions.md#actions

[2020-12-10 06:00] style95 commented on #250
Any updates on this issue?
This feature is provided in the serverless framework and we should support this at least for nodejs I think.

[2020-12-10 06:02] style95 commented on #250
oh I found this.
https://medium.com/openwhisk/whisk-deploy-zip-actions-with-include-exclude-30ba6d96ad8b

Then what is the relationship with this PR?

[2020-12-10 06:15] style95 commented on #250
self answering to my question.
It is to support the `npm install` step.

[2020-12-10 20:39] mrutkows commented on #1107
@shazron Thanks for pointing this put.  Will see what I can do to add/expose this documentation once I return from holiday.  If you want to make an attempt, please feel free to submit a PR.

[2021-01-29 21:41] Amndeep7 opened #1109 "Binaries no longer packaged with releases"
Couldn't find an issue mentioning this, but it seems like the 1.x release line no longer has pre-built binaries attached to them.  Was this an intentional decision and, if so, why?

[2021-01-29 21:46] dgrove-oss commented on #1109
The wskdeploy functionality was incorporated in `wsk` as a subcommand:  `wsk project [command]`

[2021-01-29 21:46] #1109 closed

[2021-01-29 22:24] Amndeep7 commented on #1109
Thanks for the quick response - was able to find the command.  Is there a place to file a bug report on the primary [openwhisk documentation page](https://openwhisk.apache.org/documentation.html)?

`The functionality of wskdeploy is also embedded as the deploy subcommand within the wsk CLI. The functionality is identical and supports all the same parameters and flags. This means that you can use t

[2021-01-29 22:33] dgrove-oss commented on #1109
Good point.  The website is maintained here: https://github.com/apache/openwhisk-website.  In particular, the file _layouts/documentation.html  needs to be fixed up.

[2021-02-08 21:54] mrutkows opened #1110 "Explicit runtime version test failing on deprecated go:1.11 action"
The "runtimes" integration test:
tests/src/integration/helloworld/manifest.yaml

is failing as the `go:1.11 ` runtime was deprecated in https://github.com/apache/openwhisk/pull/4987 in favor of `go:1.15`.

[2021-02-21 15:51] kingledion commented on #1069
Helloworld test for Rust is added with this MR: https://github.com/apache/openwhisk-wskdeploy/pull/1119

[2021-02-23 03:19] kingledion opened #1121 "wskdeploy does not work with .rs extension rust files."
Rust 1.34 support works with https://github.com/apache/openwhisk-wskdeploy/pull/1119, however, this MR only passes tests for cargo projects in .zip format. Plain .rs files do not work as the runtime is not properly connected with the extension.

For the case of the Travis test pipeline, the problem is that the runtime tests are hardcoded to use the bluemix host: https://github.com/apache/openwhisk

[2021-03-01 22:43] Amndeep7 commented on #978
Hi @brunogirin - I'm just wondering what the blocker is to make a PR against this repo containing the documentation you wrote in your fork.  When I skimmed through it, it seemed like it'd be a good addition to the official docs (esp since it clarified how to use the `conductor` key as opposed to me having to look around in issues and [pr](https://github.com/apache/openwhisk-wskdeploy/pull/834/file

[2021-03-04 19:44] mrutkows opened #1125 "Upgrade to v2 of go-i18n (internationalization) package"
In this PR: https://github.com/apache/openwhisk-wskdeploy/pull/1124

I updated all the dependencies to their latest versions, but go-18n has a new v2 interface which can be explored for adoption and hopefully in the process improve the methods by which we generate the i18n_resources.go file and language resources.

[2021-03-11 12:43] brunogirin commented on #978
Hi @Amndeep7 if I remember correctly (it was more than 2 years ago so I'm not sure anymore), I was thinking of adding more stuff to it. However, if what is there already is useful, I'm happy to file a PR to get things moving.

[2021-03-11 15:37] Amndeep7 commented on #978
@brunogirin "Perfect is the enemy of good" and all that - I think getting at least something on to the documentation site is better than the nothing that exists atm.

[2021-03-17 03:53] advancedwebdeveloper opened #1129 "Unrecognized architecture:aarch64"
Hello.

I caught such error:

[2021-03-17 14:37] brunogirin commented on #978
@Amndeep7 OK I'll have a look when I have the time.

[2021-03-17 15:32] mrutkows commented on #1129
@advancedwebdeveloper the gradle wrapper build works fine within our Linux (Ubuntu) build pipeline which runs with every GitHub PR and on every merge (release).  It also runs well (verified) on local Ubuntu and Mac OS just fine.

Not sure why it even attemped to build "AARCH64" as it is not in the supported matrix:
https://github.com/apache/openwhisk-wskdeploy#downloading-released-binaries

Can yo

[2021-03-17 15:36] advancedwebdeveloper commented on #1129
@mrutkows , I have access to those servers - and they are alternative to x86_64. So diversification is the answer.

Please instruct me about what should I track/trace/log, in detail.
CC @ianlancetaylor, for the Golang's ecosystem stuff.

[2021-03-17 15:41] mrutkows commented on #1129
@advancedwebdeveloper as I cannot reproduce locally or see in the Travis builds, not sure how to help...

and not sure why the problem changed to "go-bindata" (tool) execution?  Which is a tool that is dated, but has never failed with current configs.

[2021-03-17 15:51] mrutkows commented on #1129
@advancedwebdeveloper your first problem capture indicated:

```Build file '/home/oceanfish81/openwhisk-wskdeploy/build.gradle' line: 32```

seems to imply the import of the "gogradle" gradle plugin failed... does the build environment have external access to that tool/repo?  (https://github.com/gogradle/gogradle)

[2021-03-17 16:11] advancedwebdeveloper commented on #1129
If you are talking about

$ git clone https://github.com/gogradle/gogradle

 - yes. Or you are considering something else?

On Wed, Mar 17, 2021 at 5:52 PM Matt Rutkowski ***@***.***>
wrote:

[2021-03-17 16:11] advancedwebdeveloper commented on #1129
How should I enable additional tracing?

On Wed, Mar 17, 2021 at 6:10 PM Yan Titarenko ***@***.***>
wrote:

[2021-03-17 16:44] mrutkows commented on #1129
@advancedwebdeveloper

I have no idea how you increase tracing in Gradle Wrapper, I am a novice user of it as a build tool and it has never failed for me where low-level trace was needed (simply inspecting the line number as effectively a Java application was always enough) <or> simply manually running (locally) the build tools in the gradle tasks and making sure build paths, etc. were correct suf

[2021-03-18 20:30] advancedwebdeveloper commented on #1129
I was able to perform

with

https://gist.github.com/advancedwebdeveloper/9ee1d333d0101b06823735cf871055b1

[2021-03-18 20:34] advancedwebdeveloper commented on #1129
Sorry, that was ahead of the discussion - it contained a modified source code.

Consider using such a diff:

I wasn't heading to cross-compile anything - nor I was heading to run under an emulator.
So you can submit a proper patch.

[2021-03-18 20:34] #1129 closed

[2021-03-18 20:49] advancedwebdeveloper opened #1130 "Tests are failing with modified reflection API (reflect -> goccy/go-reflect ), on Aarch64"
So,
while I was able to build

with such an applied patch:
https://gist.github.com/advancedwebdeveloper/9ee1d333d0101b06823735cf871055b1
.

Now, test are failing:

[test_report.zip](https://github.com/apache/openwhisk-wskdeploy/files/6167115/test_report.zip)

[2021-03-18 20:52] advancedwebdeveloper commented on #1130
This on behalf of https://groups.google.com/g/golang-nuts/c/S2gBW3BV4QU/m/I4gWtrPxBwAJ
Also consider investigating https://github.com/json-iterator/go/issues/501

[2021-03-19 01:32] style95 commented on #1130
@advancedwebdeveloper
Thank you for the contribution.

How about opening a PR with your change and describe your intention more here?

[2021-03-19 07:22] mrutkows commented on #1130
@advancedwebdeveloper  Running the "goTest" (gradle command) has never been valid in local configurations (especially for integration tests).  As the README states, you should run only "unit" tests locally with "go test" (actual go command); "go test" integration tests will only work in Travis as the needed credentials are provided in that environment.

FWIW, The direction of the client tools (wsk

[2021-03-19 22:30] advancedwebdeveloper commented on #1130
OK, understood.

And how would I run Travis in my local environment?
Or you want me to fork on Github - and your bot would push a job to Travis, automatically?

OK, I am just following the current instructions.

[2021-03-22 15:42] mrutkows commented on #1130
Travis is not run locally, but in the Travis CI servers that are paid for by the Apache Software Foundation.  If you submit a pull request, a Travis PR job will be run, and our Travis scripts will automate the install of OpenWhisk and its services and run all unit and integration tests.  Of course, you can change the build.gradle to attempt to build for a new architecture (if it is supported on th

[2021-03-23 14:26] mrutkows commented on #1130
and indeed this is also true for Golang... compiles... https://gist.github.com/conoro/4fca191fad018b6e47922a21fab499ca

[2021-03-23 14:34] mrutkows commented on #1130
and a recent blog post confirms our linux-arm64 would work on aarch64 servers… https://opensource.com/article/21/1/go-cross-compiling

[2021-03-23 14:46] mrutkows commented on #1130
and reading this (although they neglect to say they removed support for Darwin 32-bit in Go 1.15) indicates 1.16 beta will support new M1 chips (better?) https://blog.golang.org/ports (is this why I see a PR for 1.16.2? https://github.com/apache/openwhisk-wskdeploy/pull/1132)

[2021-04-02 15:07] mrutkows opened #1141 "Add support for Apple Silicon (i.e., Darwin (not iOS), ARM64) with cross-compile linker"
Step up to go 1.16 and support the new darwin-arm64 piar (note: on pre-1.16 golang darwin-arm64 meant iOS; now there is a new ios GOOS value).

Feature Tracking for rename of GOOS: https://github.com/golang/go/issues/38485
1.16 release notes: https://golang.org/doc/go1.16

Need to turn cross compile linker on:
https://www.reddit.com/r/golang/comments/ltaega/cross_compiling_to_darwinarm64_apple_sil

[2021-08-29 09:01] GitHubDiom opened #1143 "Each sequance invocation is suffer from cold start"
Hi there,

I am trying to develop an application by using `wskdeploy`.

I created a sequence invocation following the example in the project, functions in the sequence invocation are run in custom run-time (that is, python-io:3, modified by original run-time python:3).

When I invoke the sequence repeatedly, I found that the sub-functions are suffered from a cold start.

This affects the execution

[2021-08-30 14:38] mrutkows commented on #1143
Hi @GitHubDiom,  Please note that the whisk deploy tool has not control over cold/warm start times of functions; it is simply a deploy/undeploy tool.  I would recommend this issue be moved to the main openwhisk repo. and discussed as a backend issue.  Perhaps it is a problem with co-location of actions in a sequence (scheduling)?

[2021-10-08 12:53] #1143 closed

[2021-10-12 02:36] ryutoyasugi opened #1145 "Environment variable not available in action name"
[code]

[2021-10-14 14:04] GitHubDiom opened #1147 "Can wskdeploy orchestrates actions as a DAG?"
Hi there,

I want to build a DAG job in openwhisk by using wskdeploy.

I know wskdeploy can create a sequence, but can wskdeploy create a DAG job?

suppose there are 4 DAG functions in a workflow, the relationship of the 4 functions is floowing:

A --> B ——>D
&emsp;↘ &emsp;&emsp;↗
&emsp;&emsp;&emsp;C

That is, function `A` sends the same outputs to function `B` and function `C`.

Note that functio

[2022-01-18 09:38] shazron opened #1148 "manifest spec doesn't specify `project.config` key"
See: https://github.com/apache/openwhisk-wskdeploy/pull/1078
Associated Doc: https://github.com/apache/openwhisk-wskdeploy/blob/master/docs/wskdeploy_apigateway_open_api_spec.md

Spec missing this key: https://github.com/apache/openwhisk-wskdeploy/tree/master/specification

[2022-05-07 00:36] AkimitsuTosha opened #1149 "Binding a JSON type to a package causes a panic"
In the current master version, binding a JSON type to a package causes a panic

Target manifest
[code]

error logs
[code]

[2022-05-07 17:05] AkimitsuTosha opened #1152 "swift 4.2 runtime is missing"
Integration test fails because swift 4.2 runtime is missing

[2022-05-10 12:20] #1152 closed

[2022-05-30 14:02] Wohllebe-dotSource opened #1154 "Empty files are missing"
Hi,

I'm using `wskdeploy` to deploy a nodejs project. Some of my dependencies under `node_modules` contains empty files, that are currently ignored by `wskdeploy`:
https://github.com/apache/openwhisk-wskdeploy/blob/d653592d8b8e8b7e64f228049bfa2f74db07a1e1/utils/zip.go#L79-L81

Unfortunately, the missing files currently break my application.

Is the empty check really needed?
How can I ensure that

[2022-06-29 13:44] mrutkows commented on #1154
@Wohllebe-dotSource Just curious... why does your code need to include zero-length files?  It would be good to understand the use case before any code changes are made. Also, feel free to submit a PR for review/discussion and try the removal of the zero size check locally to verify your assumption.