[2016-10-27 05:58] daisy-ycguo opened #2 "Develop 1st test case"
Develop the first test case of Wsk Tool.
I recommend to use the "HelloWorld" use case.
I will submit the related files to "tests" folder.

Daisy

[2016-10-27 09:40] daisy-ycguo commented on #2
I have designed three more use cases. I will add them later.

[2016-10-27 13:19] paulcastro opened #4 "Create an apiClient that integrates with the go-whisk package"
The OpenWhisk API has an existing Go package go-whisk that implements the OpenWhisk REST API.  It is designed to be re-used by other applications.  We should integrate our tool with this package to handle the network calls to an OpenWhisk instance.

go-whisk will provide us with:
- A REST API implementation
- A framework for adding i18n to our code

[2016-10-27 14:32] rabbah commented on #4
A good motivation to pull the CLI out of the main repo? @csantanapr FYI

[2016-10-28 06:10] #2 closed

[2016-10-31 05:33] daisy-ycguo opened #9 "Add testcase2"
testcase2 is based on testcase1 but it can be deployed and tested independently because the artifacts of testcase1 is included.

The testcase2 to deploy a basic trigger and rule based. The demo can be shown with following commands:

 #deploy package, including
 #Action "hello" is deployed
 #Trigger "locationUpdate" is deployed
 #Rule "myFirstRule" is deployed
$ wsktool deploy -p /tests/testcases/t

[2016-10-31 06:21] lzbj opened #10 "build and install wsktool raises problem."
With current codebase, when I try make build, the go will complain "fatal: repository 'https://github.com/openwhisk/go-whisk/' not found", because currently the repo doesn't exists.
So the import will fail.

If I change the package import source code to github.com/openwhisk/openwhisk/tools/cli/go-whisk/whisk, the go will complain that
" Installing dependencies
$GOPATH/src/github.com/openwhisk/open

[2016-10-31 06:25] lzbj commented on #10
It seems the reason is here:https://golang.org/cmd/go/#hdr-Relative_import_paths

[2016-10-31 09:23] daisy-ycguo opened #12 "Add testcase3"
The third test case will support feed action. It uses the github hook as a sample. This use case will install a feed to fire a trigger when there is activity in a specified GitHub repository.

The package will deploy:
a feed action named as "webhook_feed"
a trigger named as "webhook_trigger"
a action named as "sendemail"

When the package is deployed successfully, it can be tested as following:
 #

[2016-11-02 02:38] lzbj opened #16 "Add a travis file for the project."
Add a travis file, so make sure all the tests(unitary, integration)  are passed and build success, for a minimum gate before any merge of pr.

[2016-11-02 05:19] #9 closed

[2016-11-02 06:52] daisy-ycguo opened #18 "Add parser for manifest.yml and integrate with servicedeployer."
We want a parser to support the elements in the manifest files of testcase1.
I'm going to make the following changes:
- utils/manifest.go will be added for manifest_full.yaml parser.
- tests/manifest_test.go will be added accordingly.
- remove deployment.go and test code according.
- Integrate manifest.go with deployerService.
- Add corresponding test cases for the integration.
- Refactor and chan

[2016-11-03 08:26] lzbj commented on #16
Added a simple travis file with the support from Makefile, but we got build fails.

[2016-11-07 06:25] lzbj opened #23 "Is the action needs to be hard coded in the sample manifesto yaml?"
Currently the manifest_full.yaml the action hello is hard coded, which makes parser a little bit confused, so the better action name would be action, and put the action name as a property?

Another issue, do we need to consider some web contents, I read the spec, it seems some action or whisk entities maybe on the web?

[2016-11-07 06:25] lzbj commented on #23
Daisy could you take a look?

[2016-11-08 07:52] daisy-ycguo commented on #23
@lzbj action name is not hard coded. If you set the type as a map, you can get the action names as Keys.

As to your second question, I think we can save the request as our future target. In the first and two iteration, we only consider the local files, but we should support both relative path and absolute path.

[2016-11-08 08:01] daisy-ycguo opened #25 "Build errors because of missing wsktool/utils and go-whisk in github.com"
In my first build, I have to copy my local `wsktool/utils` folder and `go-whisk` to $GOPATH/src/github.com.
I think it should be resolved some time in the future.

[2016-11-08 19:53] csantanapr commented on #4
@paulcastro feel free to work on putting go-whisk on it's own repo, this way you can added as a dependency for wsktool. then wsk cli and wsktool can leverage the same library.

CC @mdeuser

[2016-11-08 21:26] paulcastro opened #27 "Move deploy code into root command"
With the new name, `wskdeploy deploy` is redundant.  We should remove the deploy command and move its function into the wskdeploy root command

[2016-11-09 09:37] daisy-ycguo commented on #23
The issue has been addressed in dev meeting. We finally agreed to not use arrays in yaml files.
I closed it.

[2016-11-09 09:37] #23 closed

[2016-11-09 12:47] mdeuser commented on #4
Some extra go-whisk/go-whisk-cli decoupling may be required to facilitate this work.  I think some utility functions may be shared...

[2016-11-11 15:50] #27 closed

[2016-11-11 15:51] paulcastro commented on #4
This has been addressed by new deployer architecture, will close.

[2016-11-11 15:51] #4 closed

[2016-11-11 15:53] paulcastro commented on #10
Will close for now given temporary location of go-whisk repo.  There is open issue in the core OpenWhisk to look at setting this up.

See: https://github.com/openwhisk/openwhisk/issues/1480

[2016-11-11 15:53] #10 closed

[2016-11-11 16:38] paulcastro opened #31 "Add defaults flag to command"
`wskdeploy --no-defaults  yes | no`  (or true | false) should affect if we use file system conventions and allow default values for manifest file.  Default is yes (we should not allow defaults)

[2016-11-11 16:39] paulcastro opened #32 "Add interactive flag"
`wskdeploy --interactive-mode yes|no ` can toggle on and off any prompting.  Default is no (or false), we should allow interactive mode.

[2016-11-11 17:04] rabbah commented on #32
allow for case insensitive and true|false also please?

[2016-11-11 17:18] paulcastro commented on #32
@rabbah sounds like the right thing to do.

[2016-11-14 07:03] lzbj opened #35 "Add a dockerfile for wskdeploy."
Add a makefile for wskdeploy, update README if necessary to tell customer how to use the tool.

[2016-11-16 03:51] lzbj commented on #35
Now the file is added, also need to update the README in the how to build section to tell people how to use it.

[2016-11-18 01:24] lzbj commented on #35
Done.

[2016-11-18 01:24] #35 closed

[2016-11-18 01:25] lzbj commented on #25
Fixed.

[2016-11-18 01:25] #25 closed

[2016-11-18 01:25] lzbj commented on #16
Done.

[2016-11-18 01:25] #16 closed

[2016-11-18 01:26] lzbj commented on #18
Done.

[2016-11-18 01:26] #18 closed

[2016-11-18 17:42] #32 closed

[2016-11-18 17:42] #31 closed

[2016-11-19 17:40] paulcastro opened #41 "Add support to manage dependencies"
The current tool cannot reference other OpenWhisk packages as dependencies.  At a minimum we should be able to pull in and reference entities in other packages w/o requiring the developer to copy the source code.  This requires:

- create a module to parse dependency graph and validate it
- create feature to download/obtain dependencies into the current project path and be able to reference these

[2016-11-23 01:20] lzbj opened #42 "WIP:Add support to "get" deployments information from remote OpenWhisk API."
We add a new "get" command to download information about the installed actions/trigger/rules.
The get should support get those information from different namespace etc.

[2016-11-23 02:11] daisy-ycguo opened #43 "Support the deployment of trigger & rule"
We need to support the deployment of trigger & rule.
This function can be tested using tests/testcases/triggerrule

[2016-11-24 02:05] daisy-ycguo opened #45 "[WIP]Add basic support of deployment.yml"
We need to start supporting deployment file. According to the Specification, a Deployment file contains configuration information, e.g.
- input parameters
- authorization credentials
- namespaces

and so on.

There is a simple Deployment file in tests/testcases/triggerrule, with namespaces of application and packages, authorization credential of OW, and input parameters to rule. We can start the s

[2016-11-24 02:10] lzbj opened #46 "Improve traces and hints."
Now if there is no default manifest/deployments yaml in current dir, the tool will panic with stack traces, which is not friendly to users, we need to improve this. We also need better description for basic commands currently already supported etc.

[2016-11-24 02:13] daisy-ycguo opened #47 "[WIP]Add deployment of feed"
We need to:
- update parser to support feed
- update servicedeployer.go to support feed
- update the webhook test case.

[2016-11-28 07:03] lzbj opened #49 "wskdeploy should display the detailed error of any deployment fails."
It seems we need some conversion to get the detailed error message, as well as error code when there is error happened during deploying items onto openwhisk platform.

[2016-11-30 02:13] lzbj commented on #49
close as pr merged.

[2016-11-30 02:13] #49 closed

[2016-11-30 02:13] lzbj commented on #46
Close as pr merged

[2016-11-30 02:13] #46 closed

[2016-11-30 02:13] lzbj commented on #43
Close as pr merged.

[2016-11-30 02:13] #43 closed

[2016-12-01 01:29] lzbj commented on #42
Close as merged

[2016-12-01 01:29] #42 closed

[2016-12-01 03:01] lzbj commented on #45
Daisy is discussing and confirming with Matt about the sample deployment yaml definition and usage. The code implementation will follow that.

[2016-12-07 02:23] lzbj opened #55 "The wskdeploy tool deploy rule failed."
We deploy rule with the sample file, the rule deployment failed. With the error message:
Got error creating rule with error message: {{.msg}} (code {{.code}}) and error code: 144.

Other action, trigger, package creation failed, it seems related to this issue.
https://github.com/openwhisk/openwhisk/issues/1577

We need to investigate and fix this.

[2016-12-07 07:29] daisy-ycguo opened #56 "Support multiple packages deployment in a single command"
We need to discuss how to support multiple packages deployment in a single command. There are two options:

- add multiple packages in a single manifest file
- use multiple manifest files, 1 package per a manifest

Let's discuss the solution here.

[2016-12-07 18:07] paulcastro commented on #56
I can open the discussion with a level-set.  In the current model, the manifest file corresponds to the local resources a developer will create as part of their project.  There is a limitation now that the manifest file assumes there will only be a single package. I had assumed the packages correspond to a developer organizing construct, i.e. the developer just wants to group related entities toge

[2016-12-08 02:19] lzbj commented on #56
@paulcastro , you mean we need to introduce another config flat file, perhaps can we merge deployment and manifest into one yaml file, then use a flat file to variables?

[2016-12-09 03:26] lzbj opened #58 "The tool doesn't support solo -m or -d flags."
With the latest code change, the tool doesn't support solo -m or -d flags, it will prompt error messages, better keep backward compitable.

[2016-12-09 21:13] mrutkows opened #59 "Rename repo. openwhisk-wskdeploy"
We need to conform to the convention established for all repos. under the OpenWhisk family.  This is something we discussed among the initial committers for OpenWhisk under Apache as the established naming convention going forward.  This will align us also with existing Apache project GitHub repos. conventions and ease any potential movement under a different org.

[2016-12-13 03:03] #45 closed

[2016-12-13 03:03] #55 closed

[2016-12-13 12:42] daisy-ycguo commented on #47
A feed has an associated trigger, whose URL is registered to a call back service in the feed action. I'm not clear how to handle that logic of trigger. I think there are two options:

1. Following the existing logic of OpenWhisk, when creating a trigger, "--feed" option can be used to associate the trigger with a feed action. An implicit "feed action" invocation will happen, passing the parameter

[2016-12-14 08:35] lzbj commented on #58
Close as fixed.

[2016-12-14 08:35] #58 closed

[2016-12-14 08:40] lzbj opened #62 "Need to check the consistency between the deployment yaml and manifest yaml"
Currently the manifest and deployment yaml defined both some properties such as name space, package name etc, basically we deploy the entities by obey to the manifest file, but we need to add some check in the code level to make basic consistency, or hints to help user identify the errors.

[2016-12-15 03:20] daisy-ycguo commented on #47
David and I decided to use the first option.

[2016-12-16 03:20] lzbj commented on #62
This is may need to take consider when we come a solution about support multiple packages.

[2016-12-19 07:19] lzbj opened #64 "Refactor the yaml parser."
Currently there are two yaml file to help deploy the wsk objects, one is deployment yaml and one is manifest yaml, if we need those 2 files, we'd better parse them in separate go modules, currently they are in one module. It's better to put them in 2 diff module.

[2016-12-19 08:59] lzbj opened #65 "Support action remote location."
Currently when creating actions, the default location is the src folder under the manifest path, we need to support the source location is somewhere on the web, for example http://github.com/repo_name/path/action.js.

[2016-12-20 02:13] #12 closed

[2016-12-20 13:08] paulcastro commented on #56
@lzbj that is a possibility.  As I understand it, the current model will have a mixture of wiring descriptions (i.e. triggers, rules, etc.) spread across both a manifest file and deployment descriptor depending on the scenario.  I think there are 4:

1. I am authoring a package that has no outside dependencies.  My package is not standalone - I am primarily creating this package to be re-used by o

[2016-12-21 02:49] lzbj commented on #56
Thank you Paul for your detailed explanation. Now I understand better.

[2016-12-22 03:28] lzbj opened #68 "Add a simple UI through web browser then CLi."
We could add a simple UI through web browser if user don't want to bother with Cli, it's perhaps more intuitive, we could wrap up go cli with a web server, and some basic HTML template.

[2017-01-03 04:03] mrutkows opened #69 ""go build" fails; missing "github.com/cloudfoundry/jibber_jabber""
Following the README, the "go get" command did automatically pull the go CLI, but did not get these new Cloud Foundry dependencies.  This message is shown on command line building the development branch:

<img width="896" alt="screen shot 2017-01-02 at 10 01 03 pm" src="https://cloud.githubusercontent.com/assets/7816715/21599747/4271638e-d137-11e6-8d59-c607a43a6a23.png">

[2017-01-03 04:04] mrutkows commented on #69
What is this package called "nicksnyder" that sounds rather dubious for us to include?  What is it used for and is this an approved package with known license?

[2017-01-03 04:16] mrutkows opened #70 "README should include instructions on how to run the command as well"
Please add a section that shows how to run the command using "go" and also the known parameters using one of our test files.

[2017-01-03 04:19] mrutkows opened #71 "rename project openwhisk-wskdeploy to follow ASF conventions"
All openwhisk family projects should start with "openwhisk-".

Please note "master" and "development" or out of sync and should be have merges (from both sides) to sync them.   Ideally, "master" should be "master" and reflect the working code for GA.

[2017-01-03 06:11] lzbj commented on #69
We need run "go get -t -d ./..." before run the go build, I'll submit a pr to the readme to fix this issue.

[2017-01-03 13:15] mrutkows commented on #69
Shouldn't updating "godeps" fix this?  Also, I am more concerned that we are pulling in more non-standard libraries that have questionable licenses. Apache will not like this if we want to leave incubator.

[2017-01-03 13:15] mrutkows commented on #69
it is also the i18n lib. as well

[2017-01-03 17:06] mrutkows opened #73 "[WIP] Create DEPENDENCIES.md to track external libs."
I would like to create a new top-level file (which I intent to make a convention for all OpenWhisk family of projects) that lists all external libraries (e.g., imports) we rely upon to build (or run).  The list should for convenience list the type of license and provide a hyperlink to that project/license for convenience when we need to provide reviews for Apache.

The goal is to become aware that

[2017-01-03 17:09] mrutkows opened #74 "Update godeps to include 2 libraries (i18n, jibber_jabber)"
Of course we can always use "go get" flags to assure that the tool will automatically "pull" all dependent libs. that it finds; however, we should also make these library import (dependencies) explicit as well in our "godeps" file (i.e., https://github.com/openwhisk/wskdeploy/blob/master/Godeps/Godeps.json).

This SHOULD allow people to simply use "go get" with no flags as intended (for simplicity

[2017-01-03 17:11] mrutkows opened #75 "Remove dependency on i18n library"
The i18n library:
"github.com/nicksnyder/go-i18n/i18n"

Has an ad-hoc license which may prevent us from exiting Apache incubator.  Please find an alternative or attempt to remove. Otherwise we will need to submit it for legal review at the ASF.

[2017-01-03 17:13] rabbah commented on #75
@dubeejw @mdeuser FYI.

[2017-01-04 07:05] #47 closed

[2017-01-04 07:05] #64 closed

[2017-01-04 07:05] #65 closed

[2017-01-04 07:07] lzbj commented on #69
Close this one as we have issue #73, #74 to track it.

[2017-01-04 07:07] #69 closed

[2017-01-04 07:53] lzbj commented on #74
Correct, it's been a best practice once you add one package or module, run the `godep save` command to update the dependency file. Apparently we didn't do that for a while. Will submit a pr to update the file and update the README.md to tell user to install and use godep tool.

[2017-01-04 19:54] mrutkows commented on #75
Today, I reviewed the license (with expert guidance) and it seems the body is a copy of an MIT license (it did look familiar at first glance).  That means, if we only import this library and IFF we have to keep it... we need to list it in the new DEPENDENCIES.md file as "MIT like".  I would be happy to close this issue once that is done.

[2017-01-05 14:03] mdeuser commented on #75
For this repo, @paulcastro is best to answer the go-i18n package usage question above... and I think he would also be the creator of the above mentioned DEPENDENCIES.md file.

[2017-01-05 19:43] mrutkows commented on #74
@mdeuser fyi, we are adding to godeps

[2017-01-09 05:35] #74 closed

[2017-01-09 06:11] lzbj opened #78 "Add a command to return the version of the wskdeploy tool"
We also need to add a command to return the version of wskdeploy tool. As mentioned by https://github.com/openwhisk/openwhisk/issues/1677

[2017-01-09 20:48] paulcastro commented on #59
Done

[2017-01-09 20:48] #59 closed

[2017-01-09 20:50] paulcastro commented on #71
Same as #59 ?

[2017-01-09 20:56] paulcastro commented on #75
There is technical debt here that we need to pay.  We currently depend on a copy of the go-whisk code in the core OpenWhisk repo, which in-turn depends on the go-i18n library. Our copy is intentionally short circuited to remove the go-i18n dependency because of early compilation issues.  I intended to put it back when we had a better handle on how it all worked.

[2017-01-11 02:53] daisy-ycguo opened #83 "Travis failed because of building errors"
Need to check.

[2017-01-11 03:26] lzbj commented on #41
@paulcastro ,very interesting features, please split it into smaller issues, so we could help if possible.

[2017-01-11 06:34] #83 closed

[2017-01-12 02:34] #73 closed

[2017-01-12 02:34] #71 closed

[2017-01-12 02:35] #70 closed

[2017-01-12 02:36] #78 closed

[2017-01-13 21:37] mrutkows opened #86 "Master branch (PR #79) still shown as broken"
https://github.com/openwhisk/openwhisk-wskdeploy/branches/all

(see red X) on the PR on the link, although the "push" to development worked the "pull" did not.

[2017-01-16 03:22] lzbj commented on #86
I merged with the development branch, the reason of broken may cause by the repo rename, some code not changed to reflect that, now it should be fixed.

[2017-01-17 01:28] #86 closed

[2017-01-25 18:54] paulcastro opened #87 "Add test case for bots"
This test case includes proposal for declaring sequence, use api-experimental, add annotations

[2017-01-25 18:55] paulcastro opened #88 "add test case for Openstack"
Example refactored manifest and deployment yaml.  Also has example of properties based deployment file.

[2017-01-25 18:58] paulcastro commented on #88
Merged in #89

[2017-01-25 18:58] #88 closed

[2017-01-25 18:59] paulcastro commented on #87
Merged in #89

[2017-01-25 18:59] #87 closed

[2017-02-07 09:21] daisy-ycguo commented on #68
We may need to take a look at how to integrate wskdeploy into OpenWhisk management UI in Bluemix.

OpenWhisk editor in Bluemix supports two kind of interfaces: Web UI and the CLI.
- CLI: Can `wskdeploy` be a part of wsk cli ? We may consider to use `wsk deploy` to invoke the real go program `wskdeploy`.
- Web UI: The current web UI is not able to manage packages. We may add a section under `manage

[2017-02-07 09:24] daisy-ycguo opened #92 "How to integrate wskdeploy into wsk cli ?"
We need to think about how to integrate wskdeploy as a part of wsk cli. Shall we integrate them at the source code level ? Or shall we integrate them at build level ?

[2017-02-07 09:25] daisy-ycguo commented on #92
Related with Issue #75

[2017-02-07 09:58] jthomas commented on #92
I like the `cf` cli approach where you can add plugins to the core CLI to add features. It means you don't have to install lots of different CLI tools for interacting with the system.

[2017-02-07 10:44] rabbah commented on #92
+1 for a plugin approach.

[2017-02-07 20:03] mrutkows commented on #92
A plug-in approach would be great if we can get the CLI code (framework) into its own project.  The design should be discussed on "dev" and drawn out on our Apache CWIKI.

[2017-02-07 23:05] paulcastro commented on #92
@mrutkows agreed.  At the very least we should have an official Go SDK separate from the core repo.

[2017-02-08 03:34] daisy-ycguo opened #93 "Support 'wskdeploy undeploy'"
The goal would be to read a manifest file, then remove all entities currently deployed in OpenWhisk.

[2017-02-08 03:45] lzbj opened #94 "Add sample manifests for existing packages and support it."
Now the use cases contains sample ones, we need support real and more complex openwhisk packages use cases such as https://github.com/openwhisk/openwhisk-package-rss
Github feed advanced, polygen tracking etc mentioned in the specification.

[2017-02-10 03:30] lzbj commented on #93
Good feature.

[2017-02-10 10:37] daisy-ycguo commented on #94
@lzbj I suggest we separate this issue into small issues, e.g.
- support RSS pkg
- support openwhisk-catalog
- support OWGitSlackBot

Then it will be easier to manage.
By the way, I'm think about proposing PR with manifest and deployment files to each repo if the use case has its own repo. For example, we can provide a PR to openwhisk-package-rss repo to add manifest.yml and deployment.yml other t

[2017-02-13 03:24] lzbj commented on #94
@daisy-ycguo, please open new issues if you think we'd better do, we can discuss with others later.

[2017-02-13 03:33] lzbj opened #96 "Add more test cases data and test codes to ensure quality."
As we need to support more use cases and features, we added a lot of test cases datas to support more use cases, we also need to add test code and test cases to ensure the quality of the project.

[2017-02-14 01:46] lzbj opened #99 "[WIP] Add deploy cmd."
Currently the deploy were a default behavior under root command, and the manifest and deployment flag are global flags, we need to separate deploy/undeploy and corresponding
flags under each command. Add this issue to separate the refactor progress.

[2017-02-14 02:32] paulcastro commented on #99
Let's keep the deploy command in root for now.  I remember now that `wskdeploy deploy` is awkward.  however, we should definitely have an undeploy command `wskdeploy undeploy`

[2017-02-14 06:33] daisy-ycguo opened #101 "Support "composition entity""
Use case "[Data Processing with MessageHub](https://github.com/IBM/ogs-data-processing-messagehub)" needs an action sequence. We should support `composition entity` in wskdeploy.

Sample:
[code]

[2017-02-14 14:15] paulcastro commented on #101
Could you take a look at the openstack use case?  There is an example there for sequences also of the form:

[code]

I wanted to have a separate entity for sequences since we may want to have more composition entities in the future.  What do you think?

I'm fine with having a formal YAML list or a comma delimited list to specify the actions that make up the sequence.

[2017-02-14 14:18] paulcastro commented on #94
Do we need to add both deployment and manifest files? I think we just need to add a manifest file to the repos.  In our current model, the deployment file is just used for deployment instances.

[2017-02-14 14:37] paulcastro opened #102 "Proposal: add a new element to spec to support for API Gateway mapping"
There is currently an experimental API for an API Gateway.  We should investigate support for this API inside a manifest and/or deployment.

The experimental API currently runs in the CLI and we can derive the calls from running the CLI in verbose mode.

An example of possible syntax:

[code]

where the action is `newbot`, and the constructed API is a GET call with path `/whiskbot/newbot`

[2017-02-15 02:06] daisy-ycguo commented on #101
I'm fine with your sample. I think yours looks simpler than the previous one which I copied from the pkg specification file.

@mrutkows do you agree to use a separate entity for sequence? If you agree, the specification file needs to be changed accordingly.

[2017-02-15 02:27] daisy-ycguo commented on #102
Good idea. It's a kind of mapping, mapping a REST GET call to an action. So I think it can be included in the deployment yaml file.

[2017-02-15 02:38] lzbj commented on #102
Is it included in a manifest file, we may need the source file, so example:
api-experimental:
    newbot:
      src:/src/newbot.js
      basepath: /whiskbot
      path: /newbot
      verb: get
      action: newbot

just FYR.

[2017-02-15 04:19] paulcastro commented on #102
I'm not sure we need the a `src` -- I think the specified `action` should map back to a defined entity in the manifest already. For example, see the whiskbot use case where `newbot` is already defined as a sequence, then we use api-experimental to define a REST API for it.

The danger here is that the underlying protocol for api-experimental is still ... experimental.  It may change on us without

[2017-02-15 04:22] paulcastro commented on #93
Do we want to think of having a "verify" feature as part of this (or as a separate issue?).  Verify would read the manifest and deployment files, then check to see what is already installed in OpenWhisk. Verify is probably useful on its own, but I'm thinking that it can be used during deploy or undeploy to update just what has changed.

[2017-02-15 05:31] lzbj commented on #102
Ok, clear. Maybe we could put it as a low priority one after the data processing use cases.

[2017-02-15 09:00] #99 closed

[2017-02-15 09:14] lzbj commented on #93
Good point, is it like a diff tool to help users know the difference between existing entities and entities defined in deployment and manifest? if that's the case, my personnel view is we add it as a separate cmd, to help user determine next step(deploy or undeploy).

[2017-02-15 18:51] mrutkows commented on #102
@daisy-ycguo @paulcastro can we create a proposal for the grammar for the spec. please? or do we want this issue to reflect the spec. and open another later for the work once we add it?

[2017-02-15 18:54] mrutkows commented on #102
for reference: https://www.ibm.com/blogs/bluemix/2017/01/exposing-openwhisk-restful-apis-api-gateway/

Please note the OpenAPI config option as well when designing a proposal.

[2017-02-16 02:17] lzbj opened #104 "Master branch tests failed."
Master branch tests failed, we need to fix it according to latest codes updates.

[2017-02-16 02:19] rabbah commented on #104
It's really bad practice to merge code that breaks master.

[2017-02-16 02:25] lzbj commented on #104
Ok, thank you for kind remind @rabbah , I'll take care next time and try fix it ASAP.

[2017-02-16 02:28] rabbah commented on #104
Great! Thank you. Practicing good habits makes us all better.

[2017-02-16 03:06] lzbj commented on #104
Close as fixed.

[2017-02-16 03:06] #104 closed

[2017-02-16 03:24] paulcastro opened #105 "Add prompts for interactive mode if .wskprops and deployment.yaml don't specify namespace or authkey"
We currently rely on .wskprops or the deployment.yaml file to specify the namespace and authkey.  If these values are missing (because there is no .wskprops or its missing from the deployment.yaml), we should add prompts for the user to enter in the information during a deployment.

[2017-02-16 03:29] paulcastro commented on #56
I believe this is our current model:

- manifest.yaml will specify the entities, schema, and relationships for a package.  All packages in a repo require a manifest.yaml file.  We can deploy a package, even w/o a manifest file as long as we have a namespace and authkey

- deployment.yaml will specify deployment specific items such as the aforementioned namespace and authkey,  parameter bindings, a

[2017-02-16 03:29] #56 closed

[2017-02-16 03:32] paulcastro commented on #41
When someone pushes a package to a repo, there should be a default package name for it that is unique.  We currently don't have a scheme for this though we could borrow from other dependency management frameworks.  For instance, we could use a URL as the canonical name for the package.

When someone integrates a package from a repo, they should have the option to override the default name.

An exa

[2017-02-16 03:39] paulcastro opened #106 "Generate template package using "init" or "generate" command"
It would be useful to have a `wskdeploy generate <package-name>` or `wskdeploy init <package-name>` , which could prompt the user for basic information about a package and generate a starter manifest.yaml as well as a starter directory structure (e.g. a `src` directory).  It could also generate a starter `deployment.yaml-template` file.  That way, a developer can use `wskdeploy` almost exclusively

[2017-02-16 03:40] paulcastro commented on #101
Sequence support is merged in PR #103

[2017-02-16 07:08] daisy-ycguo commented on #102
@mrutkows I think we should create the grammar in spec before we start the implementation.

[2017-02-16 07:19] lzbj commented on #93
@paulcastro , I opened another issue for this, I think it's a step before we implement undeploy.

[2017-02-16 07:22] lzbj opened #107 "[WIP] Add verify command."
Add a verify command which would read the manifest and deployment files, then check to see what is already installed in OpenWhisk.
This is a derivative of https://github.com/openwhisk/openwhisk-wskdeploy/issues/93

[2017-02-16 07:24] daisy-ycguo commented on #101
Close this issue. Open another one to reflect the changes to spec.

[2017-02-16 07:24] #101 closed

[2017-02-16 07:29] daisy-ycguo opened #108 "Change the spec to add the description of `sequences` for sequences"
The current implementation is using a separate entity for sequences, other than `composition entity`.
Refer to [manifest.yaml](https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/tests/testcases/whiskbot/manifest.yaml) in test case `wskbot` and [manifest.yaml](https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/tests/testcases/openstack/manifest.yaml) in test case `openstack`.
[c

[2017-02-16 08:19] daisy-ycguo commented on #102
I have two options for the proposal. @mrutkows @paulcastro @lzbj please review.

Option 1

The goal of API Gateway is to expose actions via RESTful urls. So the exposed RESTful urls could be properties (or sub elements) of actions. A new property ( or a sub element) is added to `action` element or other elements, e.g. `action sequence` and etc.

The property ( or sub elements) can be put in manife

[2017-02-16 13:32] paulcastro commented on #107
Sounds good - we can do this in two phases.  The undeploy function can take arrays of entities (from the manifest) that should be undeployed.  In the first phase, we just pass all the entities from the manifest even if they aren't deployed.  In the second phase, we add the verification step which takes the entities from the manifest, and filters out the entities that haven't been deployed and then

[2017-02-16 13:45] paulcastro commented on #102
@daisy-ycguo  these look like great options. I slightly prefer the second option also since we can treat it as a separate entity in our implementation.  We may want to add syntax to indicate if it is a trigger or action to make it more explicit:

[code]

 I'd like to get comments from people on the gateway side to see if we're missing something.

[2017-02-16 16:11] paulcastro commented on #107
I made a PR for undeploy #110

[2017-02-16 18:23] lionelvillard opened #111 "Error while fetching gopkg.in/yaml.v2"
when using newer git version, go get gopkg.in/yaml.v2 fails:

    Cloning into '/Users/villardl/Projects/whisk/whiskpm/src/gopkg.in/yaml.v2'...
    error: RPC failed; HTTP 301 curl 22 The requested URL returned error: 301
    fatal: The remote end hung up unexpectedly

this is caused by git not forwarding redirect by default anymore. One fix is configure git to follow redirect for gopkg.in:

[2017-02-17 01:26] lzbj commented on #102
I also prefer the second option, one question, do we also need consider the API sequence, for example, we need put put/post/get to achieve some final results?

[2017-02-17 02:00] lzbj commented on #111
@lionelvillard ,pls help update the readme if you think it's better and submit pr. tks.

[2017-02-17 02:23] lzbj commented on #93
Close as pr merged.

[2017-02-17 02:23] #93 closed

[2017-02-17 02:31] daisy-ycguo commented on #102
@paulcastro Why do you want to differentiate actions and triggers in api-gateway-entries definition? Will they be treated differently in the back end?

@lzbj Do you mean `action sequence` ?I think we should take `action sequence` into consideration.

[2017-02-17 02:50] lzbj commented on #107
Ok, thanks, hope I got a chance to submit a pr regarding this issue. :-)

[2017-02-17 05:37] lzbj opened #113 "The deployment planning seems printed twice."
When try run the deploy test cases, for example, openstack test cases, the deployment planning got printed twice.

[2017-02-17 05:39] lzbj opened #114 "whiskbot test case failure."
When I run the whiskbot test cases, I got a failure "2017/02/17 13:41:42 error happened during unmarshal :yaml: line 43: did not find expected key", need to investigate and fix this one.

[2017-02-17 07:09] lzbj commented on #114
It seems test datas included in this test cases are not supported yet, right? @paulcastro

[2017-02-17 13:47] paulcastro commented on #114
Yes, correct.   Still need to add support for some keys like api-experimental

[2017-02-17 13:48] paulcastro commented on #113
Fix Merged in PR #115

[2017-02-17 13:48] #113 closed

[2017-02-17 13:51] paulcastro commented on #102
@daisy-ycguo mostly from a usability issue.  If someone is editing the manifest, they can more easily see where an action or trigger is if we group them together.  I'm not 100% sure this is necessary though.

[2017-02-17 13:56] mrutkows opened #117 "Look at creating compiled binary for non-developer users"
We would like to have a compiled version of the tool available for download by end users (not developers) so they do not need to install pre-reqs and build it themselves.

This issue would involve cross-compiling to allow running for Linux, Mac and Windows across processor architectures.

See: http://www.bite-code.com/2015/06/24/cross-compiling-go-on-mac-os-x/ as one article on how to do this.  No

[2017-02-17 13:57] mrutkows commented on #117
Of course we would build to subdir of the project, as well as update the docs for "download".

[2017-02-17 14:00] csantanapr commented on #117
We should leverage what we already did for the `wsk` to compile.
We use docker container that has the go env, have gradle script that compiles all binary architectures and platform build individual zips
Look at repo folder [tools/cli](https://github.com/openwhisk/openwhisk/tree/master/tools/cli) for details on docker file, script, and gradle.

[2017-02-17 14:03] csantanapr opened #118 "typo seqeunces in whiskbot manifest"
seqeunces: in https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/tests/testcases/whiskbot/manifest.yaml#L44

[2017-02-17 15:37] #111 closed

[2017-02-17 15:56] paulcastro opened #120 "Implement filesystem reader as a deployer"
The current tool doesn't support file system defaults to deploy OpenWhisk actions.  We can add some conventions to parse a file system directory and add actions to the deployment plan.

We can directly update the plan in memory, or update the manifest file itself and add the actions.  The latter would provide an intermediate staging point to see the entire plan in one place, however it might be di

[2017-02-17 19:20] lionelvillard opened #121 "Potential runtime name inconsistency"
wsk specify the runtime version after `:`, like this:

    wsk action create packageAction --kind nodejs:6 action.zip

The package specification uses `@`, i.e `nodejs@6`

So the question is: should both names be the same?

[2017-02-17 20:46] paulcastro opened #122 "Implement namespace swap command"
wskdeploy commands run in the context of a single OW namespace. This means a deployment will utilize only that namespace.  Managing multiple versions of deployments over several namespaces could be important because it allows a developer to have a "production" version of a deployment and several test versions.  To make managing this easier, we could add a `swap` command, which would allow a develo

[2017-02-17 20:47] paulcastro commented on #121
Yes.

[2017-02-17 22:49] paulcastro opened #123 "Support .yaml and .yml extensions"
wskdeploy will only find yaml files with a `.yaml` extension.  It's more flexible to have support for `.yml` also.

[2017-02-20 02:13] #105 closed

[2017-02-21 19:56] lionelvillard opened #125 "Considering removing development branch"
It is common practice to use the master branch for day-to-day development and use branches for releases/features. A good article on this topic can be found here: https://barro.github.io/2016/02/a-succesful-git-branching-model-considered-harmful/

Should we delete the development branch (after merging it to master)?

[2017-02-22 14:32] lionelvillard commented on #106
The `init` command should only create the manifest and a starter directory structure. Another command should be used for creating deployment. Eventually the `init` command could prompt the user to run the `add deployment` command after `init`.

The directory structure after `init` looks like this one:

    |- actions
    |- feeds
    manifest.yaml

[2017-02-22 15:10] jzaccone opened #126 "panic: runtime error: invalid memory address or nil pointer dereference"
After following the "How to build on local host" instructions, I ran:
[code]

I get the following error:
[code]

[2017-02-22 15:10] lionelvillard opened #127 "Proposal: new 'add' command"
`wskdeploy` should provide a way to easily add `action`, `feed`, `trigger` and `rules` in the manifest file.

[2017-02-22 19:01] krook opened #129 "Support a "Deploy to Bluemix" button"
As discussed with @csantanapr and @mrutkows we should create a shared service (perhaps even an OpenWhisk web action) that can deploy resources from an arbitrary GitHub OpenWhisk demo application repo that has a `wskdeploy` manifest file in it.

This should be modeled on the existing tool for [deploying samples to Bluemix Cloud Foundry apps](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluem

[2017-02-23 01:31] lzbj commented on #123
Close as merged.

[2017-02-23 01:31] #123 closed

[2017-02-23 02:04] lzbj commented on #106
close as pr merged.

[2017-02-23 02:04] #106 closed

[2017-02-23 15:55] paulcastro commented on #126
Looks like the test case is broken.  @daisy-ycguo @lzbj do you recall if this test worked for the current manifest and deployment files?  It looks like the deployment file references a package which isn't declared in the manifest.

[2017-02-23 15:56] jzaccone commented on #126
I fixed the test locally, I can submit a PR today.

[2017-02-23 16:16] paulcastro commented on #126
Thanks!  Hopefully the verification work on issue #107 will help catch some of these.

[2017-02-23 16:33] jzaccone opened #132 "Why are triggers and rules under package in manifest.yml?"
From the OpenWhisk getting started [documentation](https://console.ng.bluemix.net/docs/openwhisk/openwhisk_triggers_rules.html#openwhisk_triggers):

So why are triggers and rules underneath package in manifest.yml?

[code]

[2017-02-23 17:57] mrutkows commented on #132
Packages are compositional units, they can be composed into other packages (and form applications or services) and provide linkage to larger Orchestration templating, much as what you see in AWS Cloud Formation.

[2017-02-23 17:58] mrutkows commented on #132
In addition, packages are units of delivery (catalog) and can be versioned, ascribed metadata, etc. as a whole.

[2017-02-23 18:36] rabbah commented on #132
I think john's point is that you can't create a trigger or rule inside a package so that's at odds with the principles you just outlined.

[2017-02-23 18:45] mrutkows commented on #132
@rabbah I see.  Semantically, we have a conflict then since we established Package to mean a collection of Actions; whereas, we were trying to use it for a broader "packaging" of related whisk entities for publishing.  We have discussed using the term "service" or "bundle" (or "application" which was deemed too broad).  Good time to discuss again.

[2017-02-23 22:03] jzaccone commented on #132
Good question.

I feel like this abstraction should extend to the OpenWhisk project itself. Shouldn't the goal of the wskdeploy tool to mirror the abstractions defined on the OpenWhisk platform?

In a way, these things (rules, feeds, triggers) are all associated if they are defined in the same manifest.yml file. Since they aren't reusable in the OpenWhisk platform itself, whats the advantages of h

[2017-02-23 22:07] paulcastro commented on #132
wskdeploy assume everything is associated to a package, even though this is not true for triggers in rules.  I did some internal refactoring (I changed the data structure so that triggers and rules are no longer contained in a package struct) because of this issue.  However, this isn't surfaced in the Manifest.  My current thought is that containment in a package is a useful abstraction to provide

[2017-02-23 22:44] paulcastro opened #134 "Add support for system feed actions"
Feed actions are triggers that are backed up by specific event sources by OW.  The developer does not have to fully manage these sources.  These include /whisk.system/alarms, cloudant feeds, etc.   We can add a shortcut to declare triggers that are associated to these supported feed actions in the manifest file.

For example:
[code]
could declare a `cronTrigger` that fires on alarm events.    We c

[2017-02-24 10:15] daisy-ycguo opened #135 "Add support for environment variables in yaml parser"

[2017-02-24 11:21] #135 closed

[2017-02-24 12:09] daisy-ycguo opened #136 "Support action location to be a directory (ZIP support)"
If the action location is a folder, wskdeploy should zip all files under this folder and create the action whose source file is a zip file.

e.g.
[code]

[2017-02-24 14:16] lionelvillard commented on #132
I tend to agree with @jzaccone, `wskdeploy` should follow the `openwhisk` terminology, and as such not have `triggers` under `package`. This is particularly confusing especially for newcomers.

In my opinion, `bundle` and `module` are both valid option.

This extra layer opens the door for having multiple packages under a single "project". This might be desirable or not.

[2017-02-24 14:21] mrutkows commented on #132
We need to challenge the whisk terminology; package is not a strong concept other than to those that have learned the CLI.  @lionelvillard.  @paulcastro I wish we could have discussed this before making the change.  A "package" construct should exist to describe everything packaged in a filesystem/directory or eventually a zip provided for related entities; which I still contend is universally kno

[2017-02-24 14:30] mrutkows commented on #132
@paulcastro if you indeed changed the code then the spec. is not incorrect and we lack a substitute construct.

[2017-02-24 14:37] paulcastro commented on #132
The change I made is only in an internal data structure.  The manifest itself is not changed.

[2017-02-24 14:48] lionelvillard opened #137 "Add support for package registry interaction"
`wskdeploy` should ease the interaction with public and private OpenWhisk package registries. This proposal is about adding the following commands:

- publish: publishes packages and notify registry
- install: installs the dependencies describes in the manifest. No registry interaction.
- unpublish: unpublishes packages

A separate effort is underway to provide an experimental public registry (mor

[2017-02-24 15:07] lionelvillard commented on #136
I wonder if there is a need for a mechanism to ignore files. Might not be needed for nodejs runtime. I'm just raising the issue to see what other people think about about this.

[2017-02-24 15:12] mrutkows commented on #136
That is an interesting concept and I see a need for it. @lionelvillard Could you please open an issue against the specification to consider this (I can label once created) and we can discuss there.  Do similar for like ideas ;)

[2017-02-24 15:20] lionelvillard commented on #132
@mrutkows

Is this true? I was under the impression that the concept of `package` is core to OpenWhisk:
- https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#openwhisk-entities
- https://github.com/openwhisk/openwhisk/blob/master/docs/reference.md#rest-api

Disclaimer: I'm new to the OpenWhisk world, so bear with me.

[2017-02-24 15:45] paulcastro commented on #136
The `filesystemreader` (see PR #133 ) would need to ignore any directories intended to be zipped.  @lionelvillard maybe we need a convention on where to place actions created from zipped files?  For example, the filesystemreader knows that all directories inside `actions/bundles` will be zipped. This will be come a bigger issue if the other runtimes begin to allow more conventional package formats

[2017-02-24 16:00] mrutkows commented on #132
@lionelvillard Someone made the decision to namespace in this way; we have already seen issues with it going forward.  Conceptually, what constitutes a package can and should be questioned in light of becoming accepted and part of a larger service/packaging ecosystem.

[2017-02-24 16:21] lionelvillard opened #138 "Missing Description and Repository in yamlparser"
The spec allows `description` and `repositories` to be defined in an package.

[2017-02-24 17:49] lionelvillard commented on #132
There is a proposal to have triggers/rules inside a package for v2: https://github.com/openwhisk/openwhisk/issues/219#issuecomment-272951007

(thanks Rodric)

[2017-02-24 21:22] mrutkows commented on #132
@rabbah @lionelvillard Excellent!  As we add more compositions this will become important.

[2017-02-27 01:40] lzbj commented on #126
Close as fix merged.

[2017-02-27 01:40] #126 closed

[2017-02-27 02:20] lzbj opened #139 "Add manifest file for support of the data processing app use case."
This is a mapping of this issue. https://github.com/IBM/openwhisk-data-processing-message-hub/issues/5, and pr https://github.com/IBM/openwhisk-data-processing-message-hub/pull/16

[2017-02-27 14:47] paulcastro commented on #96
Merged

[2017-02-27 14:47] #96 closed

[2017-02-27 14:53] paulcastro opened #141 "Tool crashes if deployment.yaml is not present"
Tool will crash with nil pointer if deployment.yaml is not present.  This file should not be mandatory since it is primarily used for now to set bindings.  Other needed settings like namespace/credentials can be set in the ~/.wskprops file or entered from interactive prompts.

[2017-02-27 15:15] jzaccone opened #142 "Question: How do I bind to public packages?"
How can I use the manifest.yml or deployment.yml to bind to public packages with my custom parameters? Let me know if there is some docs that I am missing.

[code]

[2017-02-27 15:24] paulcastro commented on #142
That feature is not supported, though we opened an issue related to this -- #41.  The proposal is to add a dependency key to the manifest.yaml file, this will allow you to specify external package entities in the manifest.  There an open question now on how best to declare that the dependency is shared rather than some code in a github repo.

[2017-02-27 15:26] paulcastro commented on #120
Merged

[2017-02-27 15:26] #120 closed

[2017-02-27 15:29] jzaccone commented on #142
Thank you for the quick response. Closing this issue.

[2017-02-27 15:29] #142 closed

[2017-02-27 22:10] paulcastro commented on #125
I support this.

[2017-02-27 22:57] csantanapr commented on #125
Yes I agree "master" for dev
As long master is always green gated by Travis CI

Other branches when ever we need a branch release

[2017-02-28 02:02] #127 closed

[2017-02-28 02:02] #141 closed

[2017-03-01 16:03] paulcastro opened #146 "Support inline parameter binding in manifest file"
Currently, parameter binding can only be done in a deployment file.  It should be possible to do in-line parameter binding in the manifest, especially for values that are set by the developer and not intended to be changed.

One possible change is to add a value to the schema "inputs" key:

[code]

However, we also allow simple name value pairs without types in the deployment file.  We could allow

[2017-03-01 16:03] paulcastro commented on #146
My preference is the second option.

[2017-03-01 19:11] lionelvillard opened #147 "Improve wskdeploy --help output"
`wskdeploy --help` is too verbose. I suggest removing the sample manifest.

Also it's not very clear that `wskdeploy` without a command is used to deploy a manifest file. As a newcomer I felt this to be quite confusing as I expected to see a `deploy` command. The solution might to be provide a better help message when running `wskdeploy --help`

[2017-03-01 22:30] mrutkows commented on #146
This is supported in the 0.8.3 Packaging Spec. as the first "use case" for hello world: Manifest Files:

**Manifest files**
_Example 1: No parameter descriptions_
[code]

[2017-03-02 02:23] lzbj opened #148 "Provide some yaml quick fail or validation mechanism to avoid confusing errors."
When I try to add support to data processing use cases etc, I found it's a little difficult to make the deployment, manifest yaml correct, and I got null pointer errors with yaml parsers.
For example, if the deployment.yaml lacks the package->name property, there will be null pointer
errors, the error could bypass the yaml parser check

So is there a way to fast validate the yaml correctness, some

[2017-03-02 19:24] paulcastro commented on #121
Our current implementation will throw an error if you don't use the kinds specified by OW.  We should update the spec.

[2017-03-02 19:27] paulcastro commented on #148
This is a good point. We need a validator since its very easy to make mistakes in the YAML files.  In addition to a validator,  letting wskdeploy itself create and modify the YAML file through commands like `wskdeploy add action .....` might also be useful.  @lionelvillard comments on your ideas around this?

[2017-03-02 19:30] paulcastro commented on #146
I'd like a simpler approach where the version of the package applies to the entities so we don't need to explicitly assign a version number to actions, triggers, rules.

[2017-03-02 19:33] paulcastro commented on #146
Inferred types would be good.  The inputs in the YAML file get converted into a JSON based request body underneath the covers before calling the OpenWhisk REST API so any inference we make explicit in the spec should follow the JSON type inference rules.

[2017-03-03 01:46] #139 closed

[2017-03-03 15:09] lionelvillard commented on #148
My suggestion would be to add a `validation` command based on an explicit schema formally describing the specification. We can either use JSON schema or Rx, but JSON schema is probably a much better choice (much bigger community). https://github.com/ghodss/yaml can be use to convert `YAML` to `JSON`.

[2017-03-03 16:00] paulcastro opened #153 "Add build scripts to create cross platform binaries"
Need build scripts like the wsk CLI to create cross platform binaries.

[2017-03-03 16:06] lionelvillard opened #154 "Proposal: Publish command"
The main purpose of the `publish` command is to create a release. It would executes the following sub commands:

1. check local repository is clean (no uncommitted files) and all commits have been pushed.
1. prompt user for input values (see below)
1. create a git tag with the following parameters:
    - tag: semver based on the latest release fetched from the server + 1. A flag determines whether

[2017-03-03 20:53] lionelvillard commented on #154
3 is not needed. 4 does 3.

[2017-03-03 21:01] paulcastro commented on #154
Sorry, did not mean to close.

I think this feature will be very useful for developers.  At some point could it also submit the repo for review to a public registry of other OW packages?

[2017-03-03 22:03] paulcastro commented on #146
If we overload the inputs/outputs section to include values, I see two options.

**Option 1: Preserve existing keys and add a value key**
[code]
**Option 2: Allow name value pairs as inputs**
[code]

Would we allow mixing and matching of the two? Or are they mutually exclusive.  One problem is not all inputs will take parameter values.  If at some point in the future we need to know all the inputs

[2017-03-06 02:39] lzbj opened #156 "Add manifest for support of OpenWhisk Serverless API use cases."
Support a first example manifest for the Serverless API use case.

[2017-03-06 02:48] lzbj opened #157 "Add manifest for support of the data processing cloudant use case."

[2017-03-06 06:19] lzbj opened #158 "wskdeploy should support package level bindings."
Currently we need to support OpenWhisk 101 use cases, and some of the use case need a package level binding, for example, the data processing cloudant use case needs to binding the /whisk.system/cloudant package, so we need to support this use case.

@mrutkows @paulcastro @daisy-ycguo , are we already supported this use case, I searched the use case in the code and spec samples, and didn't find cl

[2017-03-06 09:20] lzbj commented on #153
@paulcastro , Golang supports the cross compile well, for example, if user want to build for a windows platform, only type the command like "env GOOS=windows  GOARCH=386 go build", then the windows binary will be available. Probably we could provide a .bat file for a windows user?
For a linux/mac user, the current makefile is sufficient? what's your opinion?

[2017-03-06 13:16] paulcastro commented on #153
Yes, the Makefile is good for most things.  For Travis and Jenkins builds,  the OW CLI builds the binaries inside a Docker container using a build script similar to the Makefile -- I'd like to use that method.

[2017-03-06 13:18] paulcastro commented on #158
You did not miss anything. We don't have package binding support anywhere.

[2017-03-06 14:46] mrutkows opened #159 "Add manifest for support of OpenWhisk Serverless API use cases"
Support a first example manifest for the Serverless API use case.

[2017-03-06 14:52] #159 closed

[2017-03-06 15:33] paulcastro opened #160 "Update to use latest openwhisk-client-go"
The openwhisk-client-go needs to be updated to use the latest code from the core.  see [issue 1](https://github.com/openwhisk/openwhisk-client-go/issues/1).  Once that's done, we need to update the wskdeploy code to use it.  There are differences in the latest openwhisk-client-go code:

whisk.Package instead of whisk.SentNoPublish
whisk.KeyVal.Value is now a map[interface{}][interface{}
whisk.Acti

[2017-03-06 15:35] paulcastro opened #161 "add i18n to all strings"
When Issue #160 is fixed, we should add i18n to all strings using the wski18n code.  This means the build instructions for wskdeploy will include the packing of the i18n resources (as done by the CLI today).

[2017-03-07 02:35] paulcastro opened #163 "Set project path to be absolute"
Default mode breaks if project path is not explicitly set.   This is due to the path being "." and not an absolute path.

[2017-03-07 02:39] #163 closed

[2017-03-07 02:57] paulcastro opened #165 "new check in deployer makes deployment file mandatory"
The deployment file should be optional, new check makes it mandatory.

[2017-03-07 03:11] #165 closed

[2017-03-07 09:14] lzbj commented on #158
ok, I'll investigate it.

[2017-03-07 15:49] mrutkows opened #168 "Add "Experimental" disclaimer to the README"
Until we get full integration tests working as part of Travis and we have more test/use cases supported, we should add at the TOP and BOTTOM of the README, clear disclaimers saying "this is an Experimental tool/command".

[2017-03-08 01:41] #168 closed

[2017-03-08 01:41] #147 closed

[2017-03-08 02:20] daisy-ycguo commented on #117
depends on #153

[2017-03-08 02:24] daisy-ycguo commented on #153
We can follow the same technology that is used for `wsk` compiling and building. Look at [tools/cli](https://github.com/openwhisk/openwhisk/tree/master/tools/cli) for details on docker file, script, and gradle.

[2017-03-08 02:28] lzbj commented on #153
Yes, totally agree with you, let's reuse the existing techs&scripts as carlos and matt comments.

[2017-03-08 06:50] daisy-ycguo commented on #129
depends on #153 #117

[2017-03-09 16:29] mrutkows commented on #136
Please make sure we consider the inclusion of ZIP files for code packaging.

[2017-03-09 18:30] mlinnem opened #172 "In testcases, manifest files with input/output value 'string' treat it as default value, not type specification"
In manifest files, when specifying input and output parameters, the value 'string' was expected to be treated as a type specification, but it is instead treated as a default value.

[code]
[code]

Expected Result:
`"Hello, Micah from !"
`
Actual Result:

`"Hello, Micah from string!"`

Either this is a bug, or else it might be better make the value something more like "some_string" or "default_valu

[2017-03-09 18:38] mlinnem opened #173 "deployment.yaml file name, purpose potentially confusing"
Anecdotally, I was trying the wskdeploy tool in earnest for the first time a few days ago, and it took me a while to identify the purpose of the deployment.yaml file relative to the manifest.yaml file.

At first I was surprised that there were two different files necessary, as I had expected only one.

Then I thought perhaps only the deployment.yaml was necessary for deployment, per the 'deploymen

[2017-03-09 18:51] paulcastro opened #174 "Add $ notation to the manifest file"
Allow values to be set in the YAML files using $ notation.

[code]

First iteration: $ variables set to values read from environment.

Second iteration: support a properties file, like local.env

[2017-03-09 18:54] #138 closed

[2017-03-09 18:56] paulcastro commented on #173
We're evolving to support a simpler model.

Currently, you only really need a manifest file.  You can set parameters inline in the manifest file using the `inputs` section.  This means `inputs` is no longer used for schema definitions.

We do plan to support $notation #174 as part of this simpler model.

The deployment file may still have uses so we still support it (e.g. it supports multiple pack

[2017-03-09 18:56] paulcastro commented on #172
see response in #173

[2017-03-09 21:21] lionelvillard opened #175 "Add --save flag to persist defaults into the manifest"
`--save` should be conservative: add new actions, leave the existing ones in the manifest intact. We might want a `prune` command to remove manually deleted actions.

[2017-03-09 21:48] lionelvillard commented on #175
Eventually we could also have a `--onlysave` flag to only update the manifest without deployment.

[2017-03-10 07:24] mrutkows commented on #175
Actually, you would create a new manifest (new name) so perhaps a different switch would be in order.  typically, this would be considered a "rewrite" or "flattening" with the purpose of collapsing not only the deployment values, but also any imports as well (and their namespaces).

[2017-03-10 09:09] daisy-ycguo commented on #174
And deployment file.

[2017-03-10 13:29] lionelvillard commented on #175
I was more envisioning the scenario where devs start by implementing several actions and then want to automatically update the manifest.

`--save` is not the right way. We probably want another command, like `sync`.

[2017-03-10 18:44] lionelvillard commented on #41
After weighting several options, I would use a shorten (no protocol) URL as the canonical name for the package as you suggested. This has several advantages:
- it is unique
- no need to override the default name to avoid conflict
- no need to go through a global naming service to guarantee the package name uniqueness
- easier server-side deployment
- the name can be used to directly locate the sou

[2017-03-10 22:13] paulcastro commented on #41
Thinking about package bindings, perhaps something like this:

[code]

The above assumes there is an OpenWhisk package called `Cloudant`, it's location is "whisk.system", and I want to refer to it as `myCloudant` inside this manifest file.

I'm not sure how to handle name uniqueness for package names.  One option is to follow go's model, and use a internet style name based on whisk.system or GitHu

[2017-03-10 22:15] paulcastro commented on #41
Another option is to specify the binding name upfront, and not have a binding-name key.
[code]
If I want to use the default name (i.e. not specify a binding) then I just use the default name:

[code]

[2017-03-13 09:17] lzbj commented on #174
I'm investigate it.

[2017-03-13 13:24] lionelvillard commented on #41
For uniqueness, see https://github.com/openwhisk/openwhisk-wskdeploy/issues/41#issuecomment-285750992

The first option does not work, as property keys in YAML must be unique and the same package can be bound multiple times. Option 2 might be clearer.

[2017-03-14 02:41] houshengbo opened #177 "Proposal: Enable the travis support with openwhisk and add the structure for integration tests"
In order to run integration tests against an openwhisk deployment, openwhisk-wskdeploy needs to enable travis support with core openwhisk installation. Currently this is missing in this project.

openwhisk-wskdeploy needs to have an integration tests folder containing all the integration use cases supported by OpenWhisk. These test cases should pass within the travis to assure the code quality. Cu

[2017-03-14 13:55] houshengbo opened #179 "Proposal: Add the support of SDK command line"
TBD.

[2017-03-14 14:08] houshengbo opened #180 "Proposal: Offer wskdeploy in terms of a zip package automatically"
For users of wskdeploy, they should only care about the binary to deploy openwhisk entities or components.

It would be great if wskdeploy is offered as a zip package containing all the necessary binary build in an automatic way, so that the user can directly download, unzip it and use it via the command ./wskdeploy ... .

A good approach is to enable travis github release to run the build and pos

[2017-03-14 14:14] mrutkows commented on #180
@houshengbo Please see issue: https://github.com/openwhisk/openwhisk-wskdeploy/issues/153
as David is already working on cross-platform binaries that will be offered from project README for download. If we have that, we perhaps do not need a ZIP file as there is only 1 binary.

[2017-03-14 15:12] houshengbo commented on #153
@lzbj @daisy-ycguo What binaries do we expect to build? Based on the description here, I am sure that the wsk CLI is definitely one of them. Do we still expect anything else to be built, able to be described in the manifest?

[2017-03-14 22:06] mlinnem commented on #173
Ok cool. We might consider removing deployment.yml files from some of the sample apps then, since it seems like it's current use-case is to support advanced features. In the serverless-apis sample I only saw it being used for default values, which it sounds like can be done directly in the manifest. @krook ? No expectation on this for Interconnect necessarily but perhaps when we get a chance, if y

[2017-03-14 22:08] mlinnem commented on #172
Seems like this might be more an issue for the default values in the serverless-apis sample, rather than a spec problem. @krook thoughts? Again, not for Interconnect necessarily, just a possible improvement.

[2017-03-15 02:56] lzbj commented on #41
so we are all agree with this solution https://github.com/openwhisk/openwhisk-wskdeploy/issues/41#issuecomment-285799805, Ok, i'll investigate it and put it a high prio one, as our 101 use cases need to use dependencies.

[2017-03-15 02:58] lzbj commented on #153
@houshengbo , I think we need to use gradle to build wskdeploy as did by wsk cli.

[2017-03-15 05:23] daisy-ycguo commented on #174
Fixed.

[2017-03-15 05:23] #174 closed

[2017-03-15 06:59] paulcastro commented on #41
@lzbj I can reassign to you - thanks.  We agree on option 2 (see below).

For iteration 1: we will only support binding so location should be the package we are binding to.

In the next iteration, we will can add support for remote GitHub URLs.

[code]

[2017-03-15 07:04] paulcastro commented on #153
@houshengbo we don't need to build the entire wsk CLI -- I'd focus on building the wskdeploy binary.  That means building openwhisk/openwhisk-client-go and openwhisk/openwhisk-wskdploy.  I'd build for the most common architectures now (64 bit mac, linux and windows):

amd64 darwin
amd64 windows
amd64 linux

[2017-03-15 09:25] lzbj commented on #41
Ok, sure, got it. thanks.

[2017-03-15 09:35] daisy-ycguo opened #182 "Update use case: data-processing-app"
The use case is copied from [openwhisk-data-processing-messagehub](https://github.com/IBM/openwhisk-data-processing-message-hub). Now we are able to support env variables. We should update this use case to show the capability.

[2017-03-15 09:36] daisy-ycguo commented on #182
Just run this case, it gets an error while installing:
[code]

We need to fix it.

[2017-03-15 15:10] houshengbo commented on #180
@mrutkows I think I did not make this issue clear at the first time. I have modified the description and this issue is also part of the automation for our build.

[2017-03-15 15:19] paulcastro commented on #182
@daisy-ycguo have you updated to the latest master in openwhisk-client-go?  If you do, you'll get the full error message instead of `{{.msg}}`.

[2017-03-15 15:22] houshengbo opened #183 "Proposal: long-term conformation to other service building tool"
Currently, if we configure other services to be used by openwhisk actions, we have to manually configure the credentials in openwhisk, which leads to some degree of inconvenience and security concerns.

To plan for the long term, openwhisk deploy can be integrated to other service building tool, for example, terraform, to resolve the above use case. When the user asks for a service to be used by o

[2017-03-15 16:06] mrutkows commented on #183
The consideration of handling credentials is very important; however, in general, the OpenWhisk platform and CLI have this issue as well (as does any service that performs deployments or orchestration).  Terraform is one example of a deployment technology that would work for platform providers (perhaps like IBM), but that is not a general solution for the overall Apache project.

[2017-03-15 16:11] mrutkows commented on #183
Another thought on this topic, is that we could describe how encrypted credentials (tokens) could be used (as we do today for openwhisk-catalog for connecting to other services).  What metadata might we need (grammar changes, keys, etc.) in the specification to describe that could be used be a Provider of OpenWhisk (to decrypt)?

[2017-03-15 16:53] dubeejw commented on #153
Let me know if you have any questions as to how the WSK CLI build works.

[2017-03-15 17:45] dubeejw commented on #153
I haven't looked through the project too much, but where will the built artifacts be placed? Is there a plan to publish them somewhere? I'm curious since this project looks like a possible candidate to become a plugin to the wsk CLI.

[2017-03-15 21:28] mrutkows commented on #153
@dubeejw A tutorial would be great...

[2017-03-16 06:32] lzbj commented on #153
@dubeejw , I submitted a pr to address this issue, could you please help review it, thanks.

I tested the pr and could get a binary under the bin folder. Also the .zip package is also under bin folder. The command is ./gradlew distDocker or gradle distDocker.

@mrutkows , I could write a tutorial or we could update the README. What do you think?

[2017-03-16 06:44] lzbj commented on #117
@mrutkows @csantanapr , Yes, please help review pr https://github.com/openwhisk/openwhisk-wskdeploy/pull/181 thank you.

[2017-03-16 14:44] lionelvillard opened #186 "Proposal: add `keywords` key in `package`"
This is useful for packages to become more discoverable.

[2017-03-16 15:20] mrutkows commented on #180
@houshengbo assigning this to you... as Daniel @krook indicated this would be one of the priority issues for interconnect...

[2017-03-16 15:21] mrutkows commented on #180
@houshengbo please use David as needed to help.

[2017-03-16 15:25] mrutkows commented on #153
@houshengbo this is the binary issue which we need as high priority as well; again use David as needed.

[2017-03-16 15:25] mrutkows commented on #180
related to https://github.com/openwhisk/openwhisk-wskdeploy/issues/153

[2017-03-16 15:52] mrutkows commented on #136
@lzbj Daniel @krook wants to treat this as "high priority" so that new "Getting started" use cases can be deployed using our tool...  Please see if you can work on this support.

[2017-03-16 15:56] mrutkows opened #187 "Add code to support api-experimental using Option 1 grammar"
Reference: https://github.com/openwhisk/openwhisk-wskdeploy/issues/102

Please assume Option 1 grammar and implement as Daisy proposed:

Option 1

The goal of API Gateway is to expose actions via RESTful urls. So the exposed RESTful urls could be properties (or sub elements) of actions. A new property ( or a sub element) is added to action element or other elements, e.g. action sequence and etc.

[2017-03-16 15:59] mrutkows commented on #187
@lzbj @daisy-ycguo Daniel @krook asked that this be raised to high priority for the getting started use cases that will be available next week.

[2017-03-16 17:33] lionelvillard opened #189 "Allow `wskdeploy` to run as a OpenWhisk action"
`wskdeploy` should detect it runs within a `OpenWhisk` action and treat the first argument as a dictionary describing the command to run. It should also return a dictionary.

When running in `OpenWhisk`, `wskdeploy` should not rely on the filesystem to get the OW properties (`~/.wskprops`), the manifest and deployment files. The main arguments should instead be used.

Some commands cannot be run i

[2017-03-16 19:09] mrutkows commented on #153
@dubeejw I think we want to clearly (initially) place them in a "/bin/download" dir and then link them from our README (nad perhaps create a dedicated README in that download dir.   We of course, are working a longer term plan to build them with the greater CLI (and some framework/sdk) that will take us until June time-frame.

[2017-03-16 19:17] houshengbo commented on #180
@mrutkows The binary generation and deployment are able to be done by travis ci, since @csantanapr has merge the PR after changing the api_key for openwhisk-wskdeploy repo.
@lzbj What is the binary generation you are working on? Is it something similar to the travis deploy in this repo?

[2017-03-16 19:43] #180 closed

[2017-03-16 21:41] lionelvillard commented on #189
Forgot to mention this issue in commit msg: 32e1acf82587ee470e0f44c20aa9d0b1d13ab80c

[2017-03-17 02:47] lzbj commented on #102
@daisy-ycguo , yes.

[2017-03-17 03:12] lzbj commented on #158
close this one, please refer to https://github.com/openwhisk/openwhisk-wskdeploy/issues/41

[2017-03-17 03:13] #158 closed

[2017-03-17 03:25] lzbj commented on #187
@mrutkows , can we make the exposedUrl consistent like:

actions:
      fire:
        location: actions/fire/index.js
        inputs:
          triggerName:
            type: string
        exposedUrl: post /whiskbot/slack-event

sequences:
      newbot:
        actions: oauth/login, decrypt, newbot-setup
        exposedUrl: get /whiskbot/newbot
        exposedUrl: get /whiskbot/anothernewbot

[2017-03-17 05:21] daisy-ycguo commented on #117
Close as fixed.

[2017-03-17 05:21] #117 closed

[2017-03-17 05:25] daisy-ycguo commented on #153
The scripts are merged. The folder `bin` has an empty READEME.md. There is a section about how to download binaries in the root README.md. I think we can add this section also to `bin/README.md`.

[2017-03-17 16:22] mrutkows opened #194 "Print "usage" on Cobra error or appearance of -h or --help (by convention)"
https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/cmd/root.go

Should support -h and --help (one or both depending on cobra support)
and display usage with all possible options/switches/flags.

Then, on ANY error (malformed usage, bad option/flag) display this usage.

My reference is Python (configparser) and assume Cobra allows for some similar technique.

[2017-03-17 16:43] mrutkows opened #195 "Update all .go files with ASF header"
Please add the approved ASF header (as will be checked strictly by scanCode.py :

The strict text can be found in my private repo.: https://github.com/mrutkows/codescan/blob/master/ASFLicenseHeader.txt

or in my pull request (under review): https://github.com/openwhisk/openwhisk/pull/2030

[code]

[2017-03-20 02:33] lzbj opened #197 "Update README about how to cross compile binary with latest update."
Mainly tell user how to use java/gradle/docker to get cross compiled binary.

[2017-03-20 05:45] daisy-ycguo commented on #195
Close as fixed.

[2017-03-20 14:08] houshengbo commented on #197
@lzbj I was just thinking of opening a similar issue. It will be very handy if you update the doc accordingly.

[2017-03-20 16:34] mrutkows commented on #187
@lzbj Can you format your suggested change (use the <> code option) so I can see indentations?

[2017-03-21 01:17] mrutkows commented on #187
Upon re-reading your comments and review of the experimental API (and considering the ability to "import" manifests from other sources to create your own APIs) I too now agree Option 2 (from Daisy) is the best option.

Note: I think we can support an Option 1 grammar in the future (with simple notation)

Option 2 (revised) grammar using the "book club" example:

[code]
the above would translate to

[2017-03-21 01:25] mrutkows opened #201 "Update spec. to reflect API (gateway) grammar"
Option 2 (revised) grammar using the "book club" example:

[code]

the above would translate to the following grammars in the pkg. spec. to a new-top level keyname "apis" in the manifest:

Full grammar:

[code]

A somewhat simplified grammar :

[code]

I would still like to see API assignment/association (as in Option 1) under each action (seems simplest to me), something like:

[code]

Please fee

[2017-03-21 01:27] lzbj commented on #197
@houshengbo , sure, I'll update the gradle/docker part, I noticed you updated the travis integration with some cross compile and tag support, so feel free to comment or update if you want.

[2017-03-21 01:28] #195 closed

[2017-03-21 03:42] lzbj commented on #187
@mrutkows , sorry for the pull indentation.

Personally I prefer the latest one, it's much simpler, without new top level keynames introduced, keep a reduced model/yaml can avoid program complex and also user dilemma.

Another reason is api gateway insertion is meaningless /erroneous unless the action been successfully deployed. As it's a derivative for somewhat.

So what about:

actions:
    getB

[2017-03-21 03:46] lzbj commented on #201
@mrutkows , pls see my comments for #187 , FYR.

[2017-03-21 14:13] mrutkows opened #202 "Support full command line switches/flags for manifest (or any file) argument"
Would suggest changing -m to --manifest or adding it as a full alternative (short single letter switches are usually reserved for toggle functions, filenames usually are part of the syntax or spelled out for files).  You can support both, but any 'file" argument should have a full switch "--name".

[2017-03-21 14:38] mrutkows commented on #187
@lzbj Hi David, we need to support all the grammar, its not about always being "simplest"; we must provide a means for full composition (import) and integration with other standards.  In addition, <verb> is one of get | post | put | delete (for now) but not all of them at once.

[2017-03-21 15:48] #189 closed

[2017-03-22 01:29] lzbj commented on #187
@mrutkows , ok, thanks for your explanation, now it's much clear for me, seems it's a bigger feature then I thought, perhaps I'd better come back to this after your spec is ready.

[2017-03-22 01:55] mrutkows commented on #187
@lzbj if you choose to impl. Full or Simple to get it working that is fine just open a new issue for the work that remains and reference this issue and copy over important information into the new issue.

[2017-03-22 02:32] lzbj commented on #187
Ok, sure, I'll do it once I finish the simple one, then I'll come back with the full support.

[2017-03-23 02:43] lzbj opened #203 "Add more CI test cases."
Now as we started the job of support CI with Openwhisk deployments, we still lack util codes to support CI test, we need to add this infra/shim.

[2017-03-23 14:04] paulcastro commented on #160
Merged

[2017-03-23 14:04] #160 closed

[2017-03-23 14:05] paulcastro commented on #146
merged

[2017-03-23 14:05] #146 closed

[2017-03-23 14:06] paulcastro commented on #134
merged

[2017-03-23 14:06] #134 closed

[2017-03-26 12:40] houshengbo opened #205 "Unable to parse baseURL in the application section of deployment.yml"
This is the a valid yml file we ought to parse:

[code]
However, baseUrl value is unable to be picked up by the parser. Values from namespace and credential can be parsed, but the value of baseUrl is nil, though the baseUrl is not empty.
@lzbj @paulcastro This should be a valid bug.

[2017-03-26 12:47] houshengbo opened #206 "Add a timeout to access the baseurl"
If the baseurl we are about to access is not valid, it will take a very long time to get the error response. Suggest to add a timeout for whiskclient to access the baseurl.

[2017-03-27 17:09] lionelvillard opened #208 "Provide a way to deploy actions already deployed."
Currently `wskdeploy` does not support updating deployed actions. I think this should be the default behavior and eventually we could add a flag (like maybe `--safe` or `--create`) to prevent this default behavior

[2017-03-27 17:49] lionelvillard opened #211 "annotations are not properly parsed."
double quotes are missing

[2017-03-27 18:40] lionelvillard commented on #211
this is actually not the real issue. `ComposeActions` ignores annotations.

[2017-03-27 19:34] lionelvillard opened #213 "Action annotations are not properly deployed"

[2017-03-27 20:58] #213 closed

[2017-03-27 21:15] pritidesai commented on #208
_wskdeploy_ errors out saying "Got error creating action with error message: resource already exists (code 5812632) and error code: 153" if you try to deploy an action which already exists. Ideal behavior would be to delete an existing action and redeploy it based on the current manifest and deployment configuration.

It produces same error for rules and triggers if you try to deploy already exist

[2017-03-27 21:47] lionelvillard commented on #208
yes I agree. 577725355b3cae319f3efa1d0f5b69eef8343449 is not good enough.

[2017-03-27 21:55] paulcastro commented on #208
We're passing along error messages we getting from the openwhisk-client-go (aka go-whisk) package.  I agree the error messages should be more descriptive than `5777253 `

[2017-03-28 04:12] csantanapr opened #216 "specification and specification are not consistent for parameter using single line syntax"
According to spec 0.8.3 https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/specification/openwhisk_v0.8.3.pdf

inputs is defined as list of properties
each property can be expressed only as single line or complex object

options 1 (single line)
[code]
[code]

option 2 (object)
[code]
[code]

The following usecases have a wrong yaml
https://github.com/openwhisk/openwhisk-wskdeploy/blob/ma

[2017-03-28 14:48] paulcastro commented on #172
This is not really a bug right?  We decided to use `inputs` for parameter binding, not schema definition per discussion in #146

[2017-03-28 19:57] csantanapr commented on #216
According to @paulcastro Specification document 0.8.3 is wrong and needs to be updated, to specify that using a single-line with a type or value is allowed.

![image](https://cloud.githubusercontent.com/assets/1094878/24424529/e87313ca-13ce-11e7-92e9-65c1bd76b10e.png)

The only cautious thing to watch out, is if the user really wants a value of literal "string" it would need to use the multi-line

[2017-03-28 20:00] csantanapr opened #217 "Can't update specification document"
Specification document is only available as pdf https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/specification/openwhisk_v0.8.pdf

I was trying to update the spec to fix #216 but the original word document is not available in the repository.

Please add the word document in the repository to allow other folks be able to update the spec.

[2017-03-28 20:10] jthomas commented on #217
Could we have a Markdown copy to make it easy to raise issues and submit PRs against?

[2017-03-28 20:24] #205 closed

[2017-03-28 20:27] #211 closed

[2017-03-28 21:00] paulcastro commented on #216
Per discussion with @lionelvillard it makes sense to support the following use cases:

inline:
[code]

complex object:
[code]

It may make sense to say "value" instead of default:
[code]

This would work to be explicit about handling JSON objects if we allow a JSON type

[code]

[2017-03-28 21:00] lionelvillard opened #219 "Add support for non-inlined parameters"
This is option 2 of #216:

option 2 (object)
[code]
This is needed for non-string values

[2017-03-29 00:39] csantanapr commented on #217
Would be ideal to have it markdown or at least a google doc if it requires more complex formatting than what markdown can support

[2017-03-29 02:55] lzbj commented on #217
Also helpful if the spec could come up with a catalog

[2017-03-29 14:51] lionelvillard commented on #216
I would like to propose something slightly different. The common case is passing JSON as input value so the inline value should be parsed as JSON.

inline

[code]

which is equivalent to

[code]

The uncommon case to pass a JSON as a string value is still supported:

[code]

[2017-03-29 15:26] paulcastro commented on #216
@lionelvillard I think supporting JSON as a type for in-line parameters makes sense.

This means by default we will check all value strings to see if they are valid JSON, and if so we should treat them as JSON objects.  You override this behavior using your second option.

[2017-03-29 17:14] lionelvillard commented on #216
Yes that's the plan!

[2017-03-30 02:24] lzbj commented on #172
Close as not a bug.

[2017-03-30 02:24] #172 closed

[2017-03-30 12:42] #219 closed

[2017-03-30 14:15] mrutkows commented on #216
The spec. is not wrong.  The Manifest file (as written is correct) allows Parameter to only have "type" <any> for single line. In general, Paul and I agreed that simplification of manifest to allow users not to also require a Deployment file (only manifest) that values could be provided.  The "value" field is where the value is supposed to be provided.  There is no plan without discussion and agre

[2017-03-30 15:31] mrutkows opened #223 "Spec.: Grammar to support "built-in" or already deployed Actions"
See https://github.com/openwhisk/openwhisk-wskdeploy/issues/208

[2017-03-30 15:36] mrutkows commented on #208
This may be related to David work (a week or so ago) to verify what has been installed.  This would be a pre-cursor to "check" a deployment.  Using -verify to verify manifest is reflected in the Cloud.

[2017-03-30 15:43] mrutkows commented on #208
Would prefer having the "deployer" confirm (as part of the command) the permission to "update" the deployed application. That is provide, --update as an optional parm./flag.

[2017-03-30 15:46] mrutkows commented on #208
Need to open larger epic to track "udpate" feature @daisy-ycguo

[2017-03-30 15:50] paulcastro commented on #153
Merged

[2017-03-30 15:50] #153 closed

[2017-03-30 15:51] mrutkows commented on #203
Need more details @lzbj ... is there another related issue to this?

[2017-03-30 15:55] mrutkows commented on #202
Help needs to document this behavior. Paul indicates the Go lib. we use supports short and long flags, but perhaps we do not show in our help output.  Please verify.

[2017-03-30 16:29] mrutkows commented on #217
The long term goal was to have the PDF be canonical (still true) and provide a non-canonical version as markdown (and use a converter like pandoc), but conversion is not perfect.  Will look into this again. @csantanapr  In general, conversion fails with tables... as each markdown impl. does this slightly differently, https://guides.github.com/features/mastering-markdown/

[2017-03-30 17:18] csantanapr commented on #217
I do tables in excel having a "|" columns to separate, then I export to text giving me a compatible markdown github table.

[2017-03-30 17:28] csantanapr commented on #216
@mrutkows

I update the title of the issue to "specification and specification are not consistent for parameter using single line syntax"

I don't know what's wrong or not. But the implementation doesn't match the specification 0.8.3

Something most be done in either side to make them make sense to the user on what syntax it's allow to use.

[2017-03-30 17:48] mrutkows opened #224 "Provide a consistent set of descriptive errors."
There has been discussion has been had that for people writing tooling (e.g., wskdeploy) that we should provide a set of descriptive errors (and not simply pass out the error from the target platform provider).

Reference:
https://github.com/openwhisk/openwhisk-wskdeploy/issues/208

[2017-03-30 21:32] lionelvillard opened #225 "Add manifest for `wskdeploy` itself"
Since `wskdeploy` can be deployed, we should provide a minimal manifest:

[code]

Notice the `exec` location pointing to a generated zip file, which needs to be checked in so that it can be included by other OpenWhisk projects.

An alternative solution is to have `script` section with commands to generate the zip file.

Ideas?

[2017-03-30 21:39] houshengbo commented on #177
@lzbj David, I have established the backbone for the integration tests running in Travis CI. I only added one integration test in the PR #199. I need you to add more integration tests into tests/src/integration.

[2017-03-30 21:41] csantanapr commented on #225
Yes we should do our best, so users don't have to checkin a zip into git source control.
So adding a pre-deploy, and post-deploy  where user can point to a script in the repo would be good, or an inline script also works. in this case it can be something like `pre-deploy: "zip -r exec.zip actions/exec/*`

[2017-03-30 21:43] csantanapr commented on #225
Hum, thinkin for this case, it the wskdeploy go code, should take a directory as location, and zip and deploy for the user
[code]

[2017-03-30 21:49] csantanapr commented on #225
This ways to address, but the key thing to keep in mind, always assume that user doesn't have build artifacts checked into git source control like compiled code, zip, or node_modules folder

[2017-03-31 00:08] lionelvillard commented on #225
Totally agree regarding the generated artifacts.

The problem with `pre-deploy` and `post-deploy` is the added complexity. Deployments can now fail because of missing commands (like `go`), unless we require the use of docker files. It also means docker has to run inside docker (for remote deployment), which seems to be possible but I'm not 100% sure.

The other possibility is to rely on github rel

[2017-03-31 01:19] csantanapr commented on #225
yeah it can be a mix, maybe @rabbah and @starpit have some thoughts around it, but for now I would say let wskdeploy zip the folder start simple, the scripting it's something user needs to handle like you said like github releases or other means.

[2017-03-31 01:50] lzbj commented on #177
@houshengbo , got it, I'll take a look.

[2017-03-31 01:55] lzbj commented on #203
@mrutkows , yes, I'll work with Vincent about the CI, I think he already resolved part of this issue, I'll close this one once we finished at least one CI test.

[2017-03-31 02:11] lzbj commented on #136
close as merged.

[2017-03-31 02:11] #136 closed

[2017-03-31 02:12] #197 closed

[2017-03-31 02:17] lzbj commented on #225
zip action folder is already supported now.

[2017-03-31 13:40] mrutkows commented on #225
@krook  Daniel might want to view this thread...

As David mentioned...@csantanapr @lionelvillard
See https://github.com/openwhisk/openwhisk-wskdeploy/issues/136
"Support action location to be a directory (ZIP support)" (Daisy)

Of course, we could make this explicit rather than implicit via the manifest, but do not see a downside to make a safe assumption that a directory (path) as "location" imp

[2017-03-31 13:52] mrutkows commented on #225
@lionelvillard why can't we build from the ZIP (build) support that David and Vincent worked on which allows any user to build (via gradle) their own ZIP and use that as the location?

[2017-03-31 14:23] lionelvillard commented on #225
The zip support is one piece of the fully automated solution.

`gradle` (or other build system) is another piece. However:
- `wskdeploy` does not support invoking external scripts (see @csantanapr `pre-deploy` and `post-deploy` proposal)
- it's hard to run `gradle` inside a whisk action (which is what I'm trying to do).

[2017-03-31 20:15] pritidesai opened #226 "Add Support for Package Binding"
We have many deployment use cases which uses package binding, for example, the most common package binding is cloudant. Whisk deploy does not have support for such package binding. I am creating this issue to keep track of adding this support.

Openwhisk CLI  has support for such binding at https://github.com/openwhisk/openwhisk-client-go/blob/master/whisk/package.go#L54

Details on package bindin

[2017-03-31 20:20] mrutkows commented on #226
@pritidesai We have discussed adding grammar for "built-in" feeds/actions and adding credentials for alreaedy running (external services), but have not gotten around to formalizing the discussion.  Cloudant, for example, is just one Cloud storage (API) service and we need a general way to integrate with them.  Please note the wskdeploy tool's scope is limited to OpenWhisk APIs and any other servic

[2017-03-31 21:12] lionelvillard commented on #226
I'm quite confused. @pritidesai are you referring to #158?

[2017-03-31 21:23] pritidesai commented on #226
It has a reference to #41, I am not sure if #41 is about creating package binding listed under "dependencies", please clarify.

I am referring to adding support in wskdeploy so that we can automate these wsk CLI:

wsk package bind /whisk.system/cloudant TrackPRsInCloudant --param-file cloudant.json

This cloudant package can than be used in multiple custom actions.

wsk package bind /whisk.system/

[2017-04-04 15:11] houshengbo opened #227 "exec.Jar never defined: exec.Jar = base64.StdEncoding.EncodeToString([]byte(code))"
https://github.com/openwhisk/openwhisk-wskdeploy/commit/34bcfc6b2d46fe055b018a3931371b13682b3d1f
@lzbj The commit you did and merge has an issue.
exec.Jar = base64.StdEncoding.EncodeToString([]byte(code))
Jar is not available in exec, and Jar is never used anywhere. Please add tests to the changes you add. Otherwise we cannot secure the quality.
Thx.

[2017-04-04 15:12] houshengbo commented on #227
@lzbj I have removed this line of code in my PR: https://github.com/openwhisk/openwhisk-wskdeploy/pull/199. Thanks to the integration test in it. Otherwise, I would not even know the error.

[2017-04-05 03:04] lzbj commented on #227
tks, @houshengbo , please open an issue to openwhisk cli if you think it's a issue, the code is from go cli, it's not CI test.

[2017-04-05 19:16] #227 closed

[2017-04-05 19:25] houshengbo opened #228 "Dockerfile is only able to build the binaries based on the packages in the github, not local packages."
The reason for the current Dockerfile only able to build based on the packages in the github is that dockerfile physically pulls the code from openwhisk-client-go and openwhisk-wskdeploy each time we run it. No matter how much we change locally with the code, the docker build will not take effect, since the packages put under the go path are always the ones cloned from the github repo, not local c

[2017-04-06 07:47] lzbj opened #231 "CI test failed with error."
@houshengbo , I submit a pr, but I got a CI test error. please see the log below:
=== RUN   TestTriggerRule
2017/04/06 07:39:31 Warning: Unable to read whisk properties file '/home/travis/.wskprops' (file open error: open /home/travis/.wskprops: no such file or directory)
--- FAIL: TestTriggerRule (0.00s)
panic: runtime error: index out of range [recovered]
	panic: runtime error: index out of rang

[2017-04-06 08:47] lzbj commented on #231
Perhaps in your test data, there is no api definition, so the parser failed, I need to fix it, not a issue, so close it.

[2017-04-06 08:47] #231 closed

[2017-04-07 02:45] lzbj commented on #203
@mrutkows @houshengbo , I updated the title since we have infra available now, we need to add more CI test cases.

[2017-04-07 13:08] cjelger commented on #173
@paulcastro I actually started to look at wskdeploy for a project with multiple nodejs actions, and I could still see a useful model with both a `deployment.yaml` and multiple `manifest.yaml` files. Each nodejs action package could have its own local `manifest.yaml` declaring its actions, triggers, inputs, etc, but only to declare its features. At a project level, we could then declare a `deployme

[2017-04-07 13:28] cjelger opened #232 "Issues when deploying a nodejs package directory with node_modules dependencies"
With the latest changes (https://github.com/openwhisk/openwhisk-wskdeploy/commit/34bcfc6b2d46fe055b018a3931371b13682b3d1f) from @lzbj it's now possible to deploy a directory for an action. This is great but I've seen 2 issues:
- the deployment works, but if the nodejs action contains a node_modules directory for dependencies (even if they are not used in the main code), it's not possible to run th

[2017-04-07 13:37] cjelger opened #233 "Add support for web actions"
It would be great if wskdeploy would support web actions (like wsk does).

cc: @paulcastro as discussed on slack

[2017-04-07 15:02] paulcastro commented on #173
Quoting discussion with @cjelger on slack:

[code]

We are discussing adding dependencies and bindings in issue #41.  I think this use case should be a  different issue. This use case is an enhancement of the deployment file to support a "modules" concept, where a single large project can create modules that have independent manifest files.  The large project uses a deployment.yaml file to tie it

[2017-04-07 15:06] paulcastro opened #234 "Support concept of modular projects in deployment.yaml"
Referencing Issue #173, there is a use case where a single project can consist of modules, where each module has it's own manifest file.  The project uses a deployment file to select what pieces of each module are needed and wire together the project.

We are considering dependencies in Issue #41, however the model in #41 is that dependencies are stand-alone projects that get integrated into a lar

[2017-04-07 15:06] paulcastro commented on #173
Opened issue #234 around project modules.

[2017-04-10 01:58] lzbj commented on #177
@houshengbo ,it's finished, right, close it.

[2017-04-10 01:58] #177 closed

[2017-04-10 01:58] lzbj commented on #228
close as merged

[2017-04-10 01:58] #228 closed

[2017-04-10 02:09] lzbj commented on #232
@cjelger yes, I'll investigate and fix it if I can. thanks

[2017-04-12 12:40] paulcastro commented on #232
Merged

[2017-04-12 12:40] #232 closed

[2017-04-12 20:41] paulcastro commented on #41
I tried using `url` and `source` as keys to distinguish between GitHub and system bindings.  I'm not 100% this is correct and may refactor to overload `location` with two meanings.

[code]

[2017-04-13 09:05] lzbj commented on #233
ok, I'll investigate this one.

[2017-04-13 13:40] paulcastro commented on #233
@lzbj we have code now that can read annotations in a deployment file.  We should probably copy this code into the manifest reader and refactor the deployment file code to only add new annotations or overwrite existing ones from the manifest.

After that, one way to support web-export is simply make it an annotation:

[code]

@starpit had some thoughts about this model.  While we use annotations i

[2017-04-13 13:45] cjelger commented on #233
By the way, the first proposal from @paulcastro is exactly how they do in serverless, see https://serverless.com/framework/docs/providers/openwhisk/guide/web-actions/

[2017-04-17 02:38] shikhirsingh opened #240 "stderr: Debugger not listening on correct location [::]:5858"
All I did was install the debugger and run the invoke command. Here is what I got:

`
(wskdb) invoke autoreply-contactus-dev-main
stderr: Debugger listening on [::]:5858

stderr: /private/var/folders/p6/tr59ys4d61jc6_jwtqfv5md40000gn/T/wskdb-36430oM5iuTp5bVRT/autoreply-contactus-dev-main.js-debug:1
(function (exports, require, module, __filename, __dirname) { UEsDBAoAAAAAABEWkUqMIhLlKgMAACoDAAAKAA

[2017-04-17 02:56] shikhirsingh commented on #240
wrong location. ooops, posting this in correct repo

[2017-04-17 02:56] #240 closed

[2017-04-17 04:04] lzbj commented on #233
Just my personal view, the second one is more intuitive and reasonable.

[2017-04-17 20:18] houshengbo opened #241 "Tests for wskdeploy binaries"
There is a similar discussion for the openwhisk CLI repo as well. Currently Travis CI is able to release the binaries automatically, but there is no tests running on top of the generated binaries. There is still risk that we generate binaries with errors.

An approach is to change our integration tests by calling the command directly based on the binaries we generate in Travis, which supports mac

[2017-04-18 11:34] mrutkows commented on #233
Thanks David. Indeed, mainstreamed features should not be handled via annotations (although this may be the case) and reflecting them in the YAML as an attribute (key) of an Action would also be my preference.

[2017-04-18 13:33] mrutkows commented on #233
@cjelger support also added to the 0.8.4 spec.  https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/specification/openwhisk_v0.8.4.pdf

[2017-04-19 13:24] mrutkows commented on #241
AppVeyor should now be an approved 3rd party integration for all OpenWhisk repos.
<img width="1174" alt="screen shot 2017-04-18 at 3 02 23 pm" src="https://cloud.githubusercontent.com/assets/7816715/25182256/a55d0354-24d9-11e7-85c1-5a19fbb6c024.png">

[2017-04-19 21:46] paulcastro commented on #41
I'm updating over the code to support the original format using `location` without prefixes:

[code]

[2017-04-21 21:03] houshengbo commented on #187
@lzbj David, I tested the PR you submitted, and run with ./wskdeploy -m tests/usecases/api-gateway/simple_api_manifest.yaml,
and I got error: "2017/04/21 17:01:06 Got error creating api with error message: Response is not valid 'application/json'. (code 274) and error code: 144."

Here is the full output:
[code]
This error is generated, but not returned in the err, but in the stardard output.

[2017-04-21 21:10] houshengbo commented on #203
@lzbj @mrutkows I have already set up the Travis CI and the first integration test https://github.com/openwhisk/openwhisk-wskdeploy/blob/master/tests/src/integration/triggerrule/triggerrule_test.go, which runs automatically in Travis CI.

[2017-04-21 21:23] houshengbo opened #245 "zip action use case and test"
@lzbj used to submit a patch: https://github.com/openwhisk/openwhisk-wskdeploy/commit/e7b641d2924e45018b572e17d5f65d1cf1dcf879 adding the folder zip.

Is this the zip action we mentioned? @mrutkows @krook

We are missing the use case for it.

[2017-04-24 02:45] lzbj commented on #187
@houshengbo , did you tested against Bluemix, I tested against bluemix. I tested against local openwhisk faced the same issue as you mentioned.

[2017-04-24 02:48] lzbj commented on #203
@mrutkows @houshengbo , tks for your great job, I appreciate it. Yes, I'll modify submitted PR reference your test codes.

[2017-04-24 17:27] lionelvillard opened #246 "Sequence annotations are ignored"
Manifest causing the error:
[code]

I'm getting this error
[code]

[2017-04-24 17:35] paulcastro commented on #246
Seems like `test-private/sensitive` isn't defined?  It either has to be installed already or eventually you can pull in `test-private` as a dependency once PR #243 is merged.

Annotation code is in deployment.yaml code.  We should copy this into manifest code, then refactor deployment code so it properly merges any annotations already declared in the manifest.

[2017-04-24 17:48] lionelvillard commented on #246
`test-private/sensitive` exists, but the code creates `test-public/test-private/sensitive`.

[2017-04-24 17:49] paulcastro commented on #246
Ugh.  That's fixed in PR#243.

[2017-04-24 18:02] lionelvillard commented on #246
Ah yes I see it. What about annotations?

[2017-04-24 18:05] paulcastro commented on #246
Nope, annotations is not fixed in #243 👎

[2017-04-24 18:16] lionelvillard commented on #246
Actually this fix is still valid as the second part of the condition is not needed (If there is no `/` then there is no prefix as well).

[2017-04-24 18:36] lionelvillard opened #248 "Add support for sharing a package"
[Package sharing documentation](https://github.com/openwhisk/openwhisk/blob/master/docs/packages.md#sharing-a-package)

Could be done by adding the field `shared` under `package`:
[code]

@paulcastro @mrutkows ?

[2017-04-25 00:10] pritidesai opened #249 "Check if wskdeploy supports env. variables in manifest/deployment file"
Generally, while creating package binding, it takes hostname, credentials, etc. as input parameters. And ideally its best to set env. with such sensitive information instead of hardcoding in a yaml file. Do we have support for env. variables in manifest/deployment yaml file? Can we specify something like:

[code]

@mrutkows @daisy-ycguo @houshengbo @paulcastro

[2017-04-25 03:53] houshengbo commented on #187
@lzbj not on bluemix yet. How did you do it?

[2017-04-25 05:52] lzbj commented on #187
@houshengbo ,please run the test case against your bluemix openwhisk api, you could reference https://console.ng.bluemix.net/openwhisk/

[2017-04-25 12:39] lionelvillard commented on #249
Yes env variables are supported.

[2017-04-25 22:03] pritidesai opened #250 "Create Action from a ZIP file"
We have a use case of creating an action from a zip file after running set of bash commands, e.x: when an action directory contains index.js and package.json for node runtime:

[code]

[Here](https://github.com/IBM/openwhisk-serverless-apis) is the OpenWhisk Serverless repo.

Here the question is, how do we support this kind of workflow without expecting users to run those bash commands before ini

[2017-04-25 22:16] pritidesai commented on #249
Thanks @lionelvillard also found an explanation in specification file:

**Setting values using ($) dollar notation**

In the Deployment file, a parameter value may be set from the local execution environment by using the dollar ($) notation to denote names of local environment variables which supply the value to be inserted at execution time.

Syntax

`<parameter>: $<local environment variable nam

[2017-04-25 22:16] #249 closed

[2017-04-25 22:27] #246 closed

[2017-04-26 16:43] pritidesai opened #251 "Add support for env. variables as a YAML key"
We just verified that we do have support for env. variables in #249 and they can be referenced by using ($) dollar notation like  $CLOUDANT_USERNAME and $CLOUDANT_PASSWORD  in the following example:

[code]

But we do not support env. variables when they are referenced by the YAML keys for example,  $CLOUDANT_INSTANCE in the above sample. We do have such use case as part of [openwhisk-data-process

[2017-04-27 07:04] lzbj commented on #233
close as merged.

[2017-04-27 07:04] #233 closed

[2017-04-27 07:27] lzbj commented on #250
This issue is sound more like we support run command line from wskdeploy? @pritidesai , so what about:
[code]

For the use case you mentioned we only need the npm install command, because we supported create zip action from folder.  Any way, the user needs to make sure the npm install command is supported on the os, and there is packages.json under the folder.

[2017-04-27 07:28] lzbj commented on #251
@pritidesai , why need to support the $CLOUDANT_INSTANCE key as env, is it related to the dependency management or package binding issue?

[2017-04-27 07:29] lzbj commented on #245
yes, I'll add a test for it.

[2017-04-27 07:55] lzbj commented on #201
@mrutkows , is this included in the latest spec?

[2017-04-27 07:56] lzbj commented on #187
close this one as merged

[2017-04-27 07:57] lzbj commented on #102
I think this one duplicated with #201. close it, feel free to reopen if necessary.

[2017-04-27 07:57] #102 closed

[2017-04-27 09:59] cjelger commented on #233
Thank you all for that very useful feature!

[2017-04-27 16:49] pritidesai commented on #251
The key `$CLOUDANT_INSTANCE` is being used in multiple actions and would like to avoid hard coding same value throughout the manifest file, for example:

[code]

@krook @paulcastro

[2017-04-28 18:52] paulcastro commented on #187
It appears that the `openwhisk-client-go` library no longer supports the calls used by our current implementation.  @lzbj can you take a look?

[2017-04-28 19:05] paulcastro commented on #187
@lzbj , @mdeuser should be able to help you

[2017-04-28 22:23] houshengbo opened #255 "Possible API gate regression due to openwhisk-client-go changes"
There have been quite some changes in openwhisk-client-go. After we pin to the latest commit number of openwhisk-client-go, a lot of method calls have to be changed accordingly.

However, there is probably a API gateway regression in wskdeploy, since in the CreateAPI method of api.go,
_, _, err := deployer.Client.Apis.Insert(api, true) was changed to
_, _, err := deployer.Client.Apis.Insert(api, n

[2017-04-28 22:50] csantanapr commented on #255
@houshengbo take into account that there is a new api gateway implementation `wsk api`, the old `wsk api-experimental` would be sunset.

[2017-05-02 02:58] lzbj commented on #255
@houshengbo , so I'll add test code as you already submitted the fix right? sorry for late reply we were on labor's holiday, and the office resumed today.

[2017-05-02 19:03] krook opened #257 "Mac build problems"
I'm new to Go, but I wanted to build the latest binary (which isn't yet released) on my Mac workstation off of master (is the develop branch still the one I should build from per the README? Seems like a later version is in master now).

I was originally using go 1.2.1 and 1.2.2 installed from Homebrew on macOS El Capitan 10.11.6 some time ago and saw these errors when trying to build off the READ

[2017-05-02 19:16] krook commented on #257
I was able to install wskdeploy using the Gradle and Docker approach, so this isn't critical to me. However, it should be looked into. Perhaps a list of environment prereq's for Mac?

[2017-05-02 20:14] houshengbo commented on #257
Hi Dan,

When you download the latest source code of openwhisk-wskdeploy, open a
terminal and go to this openwhisk-wskdeploy folder.

You can build the binary either by running "make build" or go build -o
wskdeploy.

Normally, the make build command should work, since the it has taken the
installation of dependencies in to account.
If "go build -o wskdeploy" does not work, you can run "go get -d -

[2017-05-04 15:30] krook opened #258 "Support concatenated variables in the manifest file"
In some cases it's convenient to concatenate values from environment variables in a manifest into a single value.

For example, imagine a scenario, as with Cloudant database credentials, where a hostname can be derived from existing variables:

[code]

The manifest entry for the Cloudant host name might be like the following, where CLOUDANT_DATABASE defined from another variable and string.

[code

[2017-05-04 15:41] krook commented on #257
Thanks for the reply @houshengbo. I did get it working with the Gradle build approach, and I see that you released a new binary, so I think I have what I need for the time being. I may come back to test the solution you suggested at a later time if I needed an updated build.

[2017-05-04 15:46] mrutkows commented on #258
This is an interesting idea, having a concat() intrinsic... I would rather not open this path as other intrinsics come up.  let us leave this as low-priority until we have a better/customer use case...

[2017-05-04 15:46] krook commented on #245
@houshengbo Yes, this would be for zipped actions.

[2017-05-04 15:47] mrutkows commented on #187
support added...

[2017-05-04 15:47] #187 closed

[2017-05-04 15:48] mrutkows commented on #201
feature added...

[2017-05-04 15:48] #201 closed

[2017-05-04 15:50] mrutkows commented on #216
@paulcastro @csantanapr we support a single-line syntax (as well as full grammar).  How do I make this clearer?

[2017-05-04 15:54] krook commented on #157
There is a manifest that mostly works for the Cloudant use case. However, it may miss the package binding step.

Using this manifest: https://github.com/IBM/openwhisk-data-processing-cloudant/blob/update_wskdeploy/manifest.yaml

I still had to do this step manually before hand to make sure it worked:
[code]

FYI @pritidesai

[2017-05-04 15:56] mrutkows commented on #255
@lzbj is there any status on this?

[2017-05-04 16:03] mrutkows opened #259 "Update spec. to support "dependencies" grammar..."
Please see: https://github.com/openwhisk/openwhisk-wskdeploy/pull/243

which has the proposed grammar (and experimental code added to support).

FYI, @houshengbo @daisy-ycguo @lzbj
Other issues to consider (or open as separate):
1. Current impl. is a list (array); we need a true dep. graph
2. Dep. graph should assure:
a. No cycles
b. dependency order (if this cannot be derived, we need "-" to chan

[2017-05-04 16:03] mrutkows commented on #41
@paulcastro opened https://github.com/openwhisk/openwhisk-wskdeploy/issues/259 to track spec. updates for dependencies.

[2017-05-05 01:01] lzbj commented on #255
@mrutkows , I'll add test code for the api use case. As @csantanapr  said, currently the experimental api may sunset, we may also update the code as the latest implementation.

[2017-05-05 01:54] paulcastro commented on #41
merged

[2017-05-05 01:54] #41 closed

[2017-05-05 02:06] lzbj commented on #255
as the code that can build now, I would lower the pri to mid, please rise if not agree.

[2017-05-05 02:16] lzbj opened #260 "Add/move necessary unitary test code as golang best practices."
Now we have standalone test folder, but as per golang unitary test best practices, the corresponding unitary test code should reside beside the code been tested. We need to update this to avoid more tech debt stacking.

[2017-05-05 02:21] lzbj commented on #156
@daisy-ycguo , you can resume from this point.

[2017-05-05 02:27] #62 closed

[2017-05-05 02:28] lzbj commented on #68
@daisy-ycguo ， please open a issue if you think we should integrate with blume mix cli, I'll close this one.

[2017-05-05 02:28] #68 closed

[2017-05-09 15:27] mrutkows opened #263 "Update package imports to "apache" (github) relative"
As we have moved to Apache org. under Github,  we should change package import statements to reflect this change...

for example:
import (
	"github.com/openwhisk/openwhisk-client-go/whisk"
        "github.com/openwhisk/openwhisk-wskdeploy/config"
}

should be:
import (
	"github.com/apache/incubator-openwhisk-client-go/whisk"
        "github.com/apache/incubator-openwhisk-wskdeploy/config"
}

[2017-05-09 20:38] pritidesai commented on #157
Hi Daniel,

wskdeploy does create package binding named "openwhisk-cloudant" and rest of the components from manifest file.

[code]

And here is my env. variables:

[code]

I am using latest wskdeploy from master and [manifest](https://github.com/IBM/openwhisk-data-processing-cloudant/blob/master/manifest.yaml) from master branch as well.

What kind of error do you see?

[2017-05-10 14:40] lionelvillard commented on #157
I also tried it and it works. I tried Step 3 and the last activation I get is:

[code]

all good.

[2017-05-11 03:34] lzbj opened #265 "Add use case to support the Passport auth pacakge."
There is a very interesting and useful OW package created by @ddragosd https://github.com/ddragosd/experimental-openwhisk-passport-auth, we need to figure out how to use it and add use case to support it.

[2017-05-11 06:23] lzbj commented on #250
@pritidesai @mrutkows , do you have any feedback on this issue? We can use os.exec to support run commands.

[2017-05-11 18:57] mrutkows commented on #257
@krook Daniel, have not heard any update on this so am going to close for now.  Do not want you to have to use gradle, but use Go with makefile.  If you can try again, and open another issue to work through if needed that would be great.  We have several people able to build with Go (both ways) and assume it is some dependency or conflict locally?

[2017-05-11 18:57] #257 closed

[2017-05-12 02:21] #260 closed

[2017-05-12 06:13] lzbj commented on #263
close as merged

[2017-05-12 06:13] #263 closed

[2017-05-12 19:30] pritidesai opened #269 "CreateFolderZip fails at io.Copy(writer, file)"
**Here is the directory content:**

[code]

**Manifest YAML:**

[code]

**Failure:**

[code]

@lzbj @mrutkows

[2017-05-12 23:45] pritidesai commented on #250
Instead of having users specify custom bash commands in a separate `command` YAML key, wskdeploy implicitly installs dependent packages and zip them in a folder, for example, wskdeploy runs through following steps with this manifest file:

[code]

- Check if `package.json` file exists in action folder (`actions/cat-get-action`) and runtime is `nodejs`, run `npm install` so that all the necessary m

[2017-05-15 07:14] lzbj commented on #269
@pritidesai , the latest pr should have fixed it, it's under review.

[2017-05-15 07:23] lzbj commented on #250
@pritidesai, good idea. But perhaps it's limited the command to the nodejs action only, what about swift, python or blackbox actions? Do we need to consider?

[2017-05-15 18:12] pritidesai commented on #250
@lzbj are there any use cases for those runtimes? If so, we can include them. I don't see any and also can not envision what would be the installation steps for them.

[2017-05-15 19:05] rabbah commented on #250
is what you're doing for this issue useful for https://github.com/apache/incubator-openwhisk/issues/2243.

[2017-05-15 19:14] pritidesai commented on #250
@rabbah In apache/incubator-openwhisk#2243, are you talking about adding "init" in WSK CLI?

[2017-05-15 19:32] rabbah commented on #250
no - a whisk.system action which when invoked will itself create a new action on behalf of the user.

[2017-05-16 03:21] lzbj opened #270 "Bump go to 1.8 and gradle to 3.5 as openwhisk core repo."
We'd better bump golang to 1.8 and gradle to 3.5 as core repo, which could reduce build time and size.

[2017-05-19 18:45] mrutkows opened #272 "ZIP and any dependency resolution needs to take into account target OS and ARCH"
Just because the wskdeploy tool runs on a certain OS and ARCH does not mean that is the same OS and ARCH environment of the target invoker...

Some how the invoker target needs to be provided (and/or defaulted) and any tools run (e.g., npm install need to be aware of this and cause errors if matching

In the case of binaries (instead of cross-platform, source packages that are simply copied), this

[2017-05-19 18:55] mrutkows commented on #272
Here is a sample discussion of the problem and at least one suggestion... http://stackoverflow.com/questions/24961623/installing-node-js-packages-for-different-architecture

[2017-05-19 19:03] pritidesai opened #273 "Action created with .zip file fails with SyntaxError: Invalid or unexpected token"
I tried a simple workflow here:

**1. Created an action for nodejs runtime**

[code]

**2. Created zip file out of this single action file `index.js`:**

[code]

**3. Created manifest file with:**

[code]

**4. Deployed hello world action:**

[code]

**5. Invoke hello world action**

[code]

Running the same with wsk CLI:

**Create an action:**

[code]

**Invoking hello world:**

[code]

Tried wit

[2017-05-22 21:40] pritidesai commented on #273
HTTP request is sent by `wskdeploy`, note unicode in `code`:

[code]

VS

Request Body when an action is created with `wsk' cli:

[code]

[2017-05-23 14:21] mrutkows commented on #273
@pritidesai it looks like you have isolated an encoding error and can reference the CLI code to see what they do differently.  I would assume that at some point we are using a "string" type (some automatic conversion to unicode ) where the "code" should be treated as binary perhaps?

[2017-05-23 14:24] daisy-ycguo commented on #270
openwhisk-cli and openwhisk-go-client still use golang 1.7.
wskdeploy depends on openwhisk-cli, and I think these two projects will integrate in the future.
Do we really need to bump to 1.8?

[2017-05-23 14:27] mrutkows commented on #272
@pritidesai  As you are now looking at using a serverside (system) action to perform the resolution of dependencies this approach should, by default, overcome this concern/consideration; however we may need to consider this in the near future (even if we just document this ZIP behavior or limitation) if they user wants to ZIP on the client-side (perhaps when using the OW debugger?)

[2017-05-23 14:38] mrutkows commented on #273
@pritidesai if this helps (and sure you could find this as well) the
 incubator-openwhisk/tools/cli/go-whisk-cli/commands/action.go includes this fx where Go string is used from a readFile() then base64 encoded (and treated as a byte array):

[code]

[2017-05-30 15:32] mrutkows commented on #270
@houshengbo @csantanapr Comments Vincent from the CLI perspective?

[2017-06-01 02:03] lzbj commented on #270
maybe openwhisk-cli and openwhisk-go-client needs bump? I reviewed core repo, they use gradle 3.5 and go 1.8.

[2017-06-01 23:33] pritidesai opened #276 "Action creation with .jar fails with "The request content was malformed""
**1: Create a Java file called `Hello.Java` from [here](https://console.ng.bluemix.net/docs/openwhisk/openwhisk_actions.html#openwhisk_actions_java)**

[code]

**2: Compile `Hello.java` into a JAR file `hello.jar` as follows:**

[code]

**3: Create `manifest.yaml` with:**

[code]

**4: Deployment fails with:**

[code]

[2017-06-02 00:16] pritidesai commented on #276
As part of fixing this issue, please add integration test for JAR.

[2017-06-02 02:15] #273 closed

[2017-06-02 18:46] mrutkows opened #277 "Add support for Swift version 3.1.1 "kind""
Add support for Swift version 3.1.1 as per:
https://github.com/apache/incubator-openwhisk/pull/2120

Our supported "kinds" include only (according to spec.):

swift@3, swift@2
where default is swift@3 if just "swift" is supplied.

@paulcastro thoughts?

[2017-06-02 19:07] paulcastro commented on #277
The semantics may be changing. In the past, minor and patch level changes to Swift were just updates to the major version kind.  This meant that, for example, 2.0.1 would replace 2.0.0 and the kind `swift:2` (actually the label was `swift`) would not change.

We now have to retain binary level compatibility so even patch level changes will create a new kind.  Right now we support `swift:3` and ver

[2017-06-02 21:35] pritidesai commented on #276
The same failure is seen when an action is created without `--main`:

[code]

v/s

[code]

[2017-06-06 15:52] mrutkows opened #279 "Support new "native" (or "binary") kind"
See PR for this feature...
https://github.com/apache/incubator-openwhisk/pull/2112

Need to support in spec. and in tooling.

[2017-06-13 19:41] pritidesai commented on #269
As part of the fix to this issue, the actions created should be valid and invokable. There is no point in creating an action which can not be invoked.

**How to reproduce:**

**Step 1: Clone openwhisk serverless API repo from here:**

https://github.com/IBM/openwhisk-serverless-apis.git

**Step 2: Create manifest file with:**

[code]

**Step 3: Setup env.**

export MYSQL_HOSTNAME=<hostname>
export

[2017-06-14 01:20] lzbj commented on #269
agree, will fix it.

[2017-06-14 06:50] lzbj commented on #269
@pritidesai , I updated the pr, please help review it if you available, tks.
https://github.com/apache/incubator-openwhisk-wskdeploy/pull/256

[2017-06-14 19:08] mrutkows commented on #132
@pritidesai FYI

[2017-06-14 19:35] pritidesai commented on #269
Hi David,

I commented on the [PR](https://github.com/apache/incubator-openwhisk-wskdeploy/pull/256), thanks again for the fix.

Cheers
Priti

[2017-06-15 03:50] mrutkows commented on #269
@pritidesai did you want to close this out?

[2017-06-15 06:06] lzbj commented on #269
@pritidesai @mrutkows ,thanks.

[2017-06-15 16:14] pritidesai commented on #269
Yes please, thanks David @lzbj for helping fixing this issue.

[2017-06-15 16:14] #269 closed

[2017-06-21 20:44] mrutkows opened #282 "Remove unused/commented code in mhget.js"
/tests/usecases/data-processing-app/actions/mhget/mhget.js

has commented out code; if it is not needed please remove it; otherwise, fix it and re-purpose this issue.

[2017-06-22 06:39] #245 closed

[2017-06-25 23:46] csantanapr opened #284 "update travis script to use new location of openwhisk repo url"

[2017-06-29 05:36] lzbj commented on #282
@mrutkows ,  I reviewed the js file, it's not commented code, just some help message about the message json structure the action will handle, so we don't need to change it, do you agree?

[2017-06-29 05:39] lzbj commented on #206
@houshengbo , are you still look at this issue, could you give a little more info in the issue description, so I can fix it if you not available?

[2017-06-29 08:45] lzbj commented on #255
@mrutkows , when I try to fix this issue, I found there were 2  grammar in our spec, one is simple format, one is full grammar, but as our yaml parsers are predefined structures which is a reflection of our grammar structure, so I don't which grammar to support? could you help clarify this issue?

[2017-06-29 08:48] lzbj commented on #251
@pritidesai , I think it's good idea, but you know as our yaml parsers are predefined structures, so I don't know if there is a better way to support this flexible environments parsing in yaml, do you know some libraries support this?

[2017-07-07 13:48] mrutkows commented on #270
See PR https://github.com/apache/incubator-openwhisk-wskdeploy/pull/271

[2017-07-07 13:49] mrutkows commented on #276
See PR: https://github.com/apache/incubator-openwhisk-wskdeploy/pull/278

[2017-07-07 13:54] mrutkows commented on #157
@krook Can you please confirm this issue is fixed?

[2017-07-07 18:21] krook commented on #157
@mrutkows Yes, just tested and this works. It can be closed now.

[2017-07-10 20:54] #276 closed

[2017-07-17 20:41] mrutkows opened #289 "Typo in constructor 'NewManfiestReader' in file manifestreader.go"
Should be 'NewManifestReader' for function and references (refactor).

See https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/manifestreader.go

[code]

[2017-07-17 20:47] mrutkows opened #290 "Change util_test.go's "ReadUrl" test URL to a neutral address (e.g., 'apache.org')"
https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/util_test.go

Currently the following address is hardcoded:
"http://www.baidu.com"

We should change this to a neutral (non-commercial) address, for example:
"https://www.apache.org/"

[2017-07-17 20:59] mrutkows opened #291 "Do not print "Done!" after deployment phase; use only success/failure (binary)"
Currently, we print "Done!" in most (but not all) cases after the code completes its "deployment" (phase/code).

However, If deployment fails, we still display "Done!" (in my case for "Deploying action HelloWorld/greeting ..." when the Deployment file had an invalid namespace).  The code should not display this as it implies successful completion to the user.  Also, this "Done!" was done after the

[2017-07-17 21:02] mrutkows opened #292 "Undeploy (on failure) should have user prompt when "interactive" mode is true"
The code logic attempts to "undeploy" code automatically when a deployment failure is detected.

Although this is good in concept, when the user is in "interactive mode" the user should be informed of the failure and asked if they wish to "undeploy" (with a Yes/No prompt) as we do for the deployment phase.

[2017-07-18 21:40] mrutkows opened #294 "wskdeploy should display "--help usage" if no command or manifest provided"
Currently, for both "deploy" phase and "undeploy" phase (or sub-commands) the output is as follows:
[code]
However, it would be more helpful (pun?) if we actually told the user how to access the "help" command for wskdeploy.  Something like:
[code]

Again, this advice is for any top-level failure at the command syntax level. That is we should identify invalid required commands/command line options

[2017-07-18 21:43] mrutkows commented on #294
Another option is if we can identify just invalid command syntax, we COULD display the --help message (full usage) by default...

[2017-07-19 01:26] #284 closed

[2017-07-19 13:35] mrutkows opened #295 "wskdeploy -p finds manifest.yaml, but not manifest.yml"
The default behavior for wskdeploy when pointed to a Package directory is to look for the file "manifest.yaml"; however,  our own "usecases" name the file "manifest.yml" (i.e., .yml versus .yaml) and fail.

Please allow the code to look for both .yaml and .yml extensions by default.

For example, our test (usecase) for webhook has instructions:
[code]
However, this fails with:
[code]
because the M

[2017-07-19 20:42] mrutkows opened #296 "Invalid Deployment. yaml for use case "webhook""
The deployment YAML contains references to "WskTool" (invalid deleted repo.). It also includes an Daisy's username as default value where we should not be including developer usernames if possible in test files.

[code]

In addition, we should try not to use "guest" namespace (but use '_') default namespace where possible to allow testing/deployment on multiple target providers of openwhisk.

[2017-07-20 22:20] mrutkows opened #297 "WIP: supplying "type" key-value in Action in manifest causes Nil pointer exception"
Run the following wskdeploy use case, using this command:
[code]

you get this stacktrace:
[code]
It appears that the parser does not like when an input parameter (e.g., 'name') and its type (string) are not defined on a single line:

For example, this version of the alarmtest manifest does not work (commented out all but failing grammar), which by default defines the "type" on a separate line:
[c

[2017-07-21 06:49] lzbj commented on #297
@mrutkows , the inputs now was interpreted as structure, not a interface. So if you add them in different line, you introduce a new object, which is not expected by our parser.

you could reference this PR change, https://github.com/apache/incubator-openwhisk-wskdeploy/commit/050772191cf1a713381423554243ce3404bd7d99.

But anyway, we should handle parser errors, instead of nil pointer error.

[2017-07-21 06:52] lzbj commented on #296
@daisy-ycguo ,could you please help take a look when you available? This use case seems added by you.

[2017-07-21 06:58] daisy-ycguo commented on #296
@lzbj OK

[2017-07-21 08:31] lzbj commented on #295
https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/shared.go, seems all the file extension was covered.

Will take a look in the code logic to handle the parameters.

[2017-07-21 15:41] mrutkows commented on #297
@pritidesai @lzbj I have a dix, but looking at making code more robust....

[2017-07-21 15:42] mrutkows commented on #297
@lzbj the PR you referenced,  PR change, 0507721, introduced this error in the ResolveParameter function.

[2017-07-25 03:34] mrutkows opened #301 "Feature: Support Complex Types"
To support adv. math/science calculations we should look to support Complex types (i.e., in Go Complex64, Complex128).

This would need to be added to the specification, as well as the code.

[2017-07-26 07:04] mrutkows commented on #297
Working on a fix as part of https://github.com/apache/incubator-openwhisk-wskdeploy/pull/298

[2017-08-04 17:36] houshengbo opened #304 "Support of list for openwhisk entities"
We currently support multiple entities like triggers, actions and rules, described under one element, but in different sub-elements. For exmaple,
[code]
We should extend to support entities defined in list, since list is a commonly supported in yaml file, like
[code]

[2017-08-04 17:38] houshengbo commented on #304
@lzbj Could you please take a look at this enhancement? Thank you.

[2017-08-07 07:36] lzbj commented on #304
@houshengbo , I remember we discussed this issue before, but let's see what Matt's comments.

[2017-08-07 20:59] zachschultz opened #305 "Wondering why triggers are updated with overwrite set to false"
I have a wskdeploy manifest yaml file that looks like:

[code]

When I changed the `source` of the `message-received-trigger` and ran wskdeploy I noticed that OpenWhisk didn't actually change the trigger, and after running with `verbose` I saw that the request was:

[code]

Why is it that everything else is sent with `overwrite=true` but trigger creations are sent with `overwrite=false`?

[2017-08-07 21:11] zachschultz commented on #305
It looks like the relevant code is here and that trigger feed actions are treated differently: https://github.com/apache/incubator-openwhisk-wskdeploy/blob/a67e7285845828510c2c6c8849c950c37ca4576d/deployers/servicedeployer.go#L415

[2017-08-07 21:46] csantanapr commented on #305
I think the wskdeploy needs to do more with feed actions to be able to updated them, it needs to delete the trigger and invoke the feed action with the with delete lifecycle, and then follow with normal feed creation.

[2017-08-08 00:05] pritidesai opened #306 "Implicit Runtime for Java is set to nodejs:default"
In the [manifest_parser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L248), default runtime is set to nodejs.

[code]

When an action with .jar or .java extension is specified, the runtime is set to nodejs:default (snippet of the unit tests I was writing)

[code]

Here, default kind should be an empty string, and specifically check for each fil

[2017-08-08 00:41] pritidesai opened #307 "Report invalid runtimes"
There are only few valid runtimes available:

[code]

manifest_parser should report if a runtime is set to any value outside of the above valid options.

For example, today when I say my runtime is set to "invalid", ComposeActions accepts it as is and does not complain:

[code]

[2017-08-08 03:31] lzbj commented on #306
why default kind should be a empty string? we need to consider php also as it's supported now.

[2017-08-08 03:32] lzbj commented on #307
@pritidesai , is it related to #306 , I suggest we combine them.

[2017-08-08 17:44] pritidesai commented on #306
We should add all supported runtimes. Also, the point of default being empty string here is in GoLang, when we initialize a struct/declare a variable, it sets the variable to its zero value which in case of string is empty string. We should add a check in ComposeActions if runtime is empty than report an error and return, do not allow further processing.

[2017-08-08 18:38] pritidesai opened #309 "Switch to yaml.UnmarshalStrict()"
[manifest_parser.Unmarshal()](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L61) method is using [yaml.Unmarshal()](https://github.com/go-yaml/yaml/blob/v2/yaml.go#L90). Evaluate and change it to call [yaml.UnmarshalStrict()](https://github.com/go-yaml/yaml/blob/v2/yaml.go#L86).

Notice a test case in [manifest_parser_test.go](https://github.com/apa

[2017-08-09 06:01] lzbj commented on #295
https://github.com/apache/incubator-openwhisk-wskdeploy/pull/310

[2017-08-09 21:38] pritidesai opened #311 "Action Function V/S Location"
We have Action field "Function" described as in WskDeploy Specifications:

function | true | string | N/A | Required source location (path inclusive) of the Action code either  								• Relative to the Package manifest file. • Relative to the specified Repository.

For a sample manifest file:

[code]

wskdeploy fails with:

[code]

manifest_parser.ComposeActions initialized ActionRecord with foll

[2017-08-10 00:13] pritidesai opened #312 "Action limits in Manifest file is ignored"
We describe in WskDeploy specification that wskdeploy supports map of limit keys and values under `limits` section, e.g.:

[code]

But this `limits` section is ignored by manifest_parser. `Action` is defined without such limits section at [yamlparser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/yamlparser.go#L51)

In addition to wskdeploy, [openwhisk client](http

[2017-08-10 01:52] #270 closed

[2017-08-10 05:34] pritidesai opened #313 "web action annotations are not set"
When we use `wsk` CLI to create a web action like:

[code]

When I am translating this `wsk` CLI into wskdeploy manifest:

[code]

[code]

manifest_parser.ComposeActions() initializes ActionRecord to:

[code]

Note, the Annotations is `<nil>` and missing keys which are needed for creating web actions.

I tried adding a bogus annotation in my manifest file:

[code]

Now, ActionRecord looks somethin

[2017-08-10 19:13] zachschultz commented on #291
For Blueprints work this would be very helpful, when my wskdeploy action runs on OW it's hard to handle the case where a trigger wasn't deployed if it existed already, as the overall result from wskdeploy is still "Done!..."

[2017-08-10 20:46] houshengbo opened #315 "Use case of trigger rule does not configure the parameters of the action with the correct values"
In our test case of trigger rule, one action helloworld/greeting will be created with the default inputs name: Bernie and place: Vermont. However, the keys name and place have been added, but the values are not added. Here is the information of the action created, if I run the command:
 ./wskdeploy -m tests/usecases/triggerrule/manifest.yml -d tests/usecases/triggerrule/deployment.yml
{
    "names

[2017-08-10 20:47] houshengbo commented on #315
@lzbj Please take a look at this issue.

[2017-08-11 01:36] lzbj commented on #315
Ok, I'll take a look once I finished current bugs fix.

[2017-08-14 20:07] zachschultz commented on #306
Just wskdeploy-ed a PHP action and it defaulted to `node` runtime on OpenWhisk. Should I open a new issue if my problem directly relates to this one?

[2017-08-14 22:13] mrutkows commented on #306
@zachschultz Hi Zach, yes we should have tests in place to assure we can at least load the correct "kind" and include the latest runtime PHP.  I am of the belief that we should open more issues that are granular and worry about finding duplicates later and not hope another issue is "like mine" and assume it will be fixed.

[2017-08-15 15:01] #297 closed

[2017-08-15 15:01] mrutkows commented on #297
Fixed in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/298

[2017-08-15 15:07] mrutkows commented on #306
@daisy-ycguo @lzbj

In addition, the code should support named versions of runtimes (not just ":default").

For example, in the "triggerrule" use case, we have
[code]
which fails with the following error:

2017/08/15 09:58:28 error happened during unmarshal :yaml: line 9: did not find expected key
2017/08/15 09:58:28 yaml: line 9: did not find expected key
'''
since the  value "nodejs:6" was not r

[2017-08-15 15:21] mrutkows commented on #306
of course we need new testcases for each of these numbered cases/examples above ^^^.

[2017-08-15 17:36] zachschultz opened #317 "Action deployed with .php extension defaulted to a Node runtime"
My manifest file looks like:

[code]

After running `wskdeploy` I noticed that my deployed action happened to be the Node runtime, and naturally didn't run correctly.

[2017-08-15 20:43] pritidesai opened #320 "Rename Marshal to marshal"
`Marshal` method in [manifest_parser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L71) has only one usage inside the same `manfiest_parser.go` file. There is no need to export this method outside of `parser` package. Rename it to `marshal` to mark it as unexported.

[2017-08-15 20:53] pritidesai opened #321 "Delete unused ComposeWskAction from Manifest Parser"
[ComposeWskAction](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L419) is defined in `manifest_parser.go` but not used anywhere inside this project. Please delete the dead code.

[2017-08-15 20:55] pritidesai opened #322 "Unit Test - manifest_parser.go"
Add unit tests to validate methods under `parsers` package which are defined in [manifest_parser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go).

All unit tests should go in `manifest_parser_test.go` under [parsers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers)

[code]

[2017-08-15 20:57] pritidesai opened #323 "Delete unused marshal and unmarshal methods from manifest_parser.go"
[UnmarshalYAML](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L579) and [MarshalYAML](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/manifest_parser.go#L606) are not used anywhere in the project. Please delete these two methods to remove dead code.

[2017-08-15 21:44] pritidesai opened #324 "Delete dead code - deployer_parser.go"
Delete method [MarshalDeployment](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/070651b274f2d8affe6d16bfd763fc85b294b6bc/parsers/deploy_parser.go#L36) which is not used anywhere in the project.

[2017-08-15 21:50] pritidesai opened #325 "Unit Test - deployer_test.go"
Add unit tests to validate methods under parsers package which are defined in [deployer_parser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/deployer_parser.go).

All unit tests should go in `deployer_parser_test.go` under [parsers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers)

[code]

[2017-08-15 21:52] pritidesai opened #326 "Rename UnmarshalDeployment to unmarshalDeployment"
`UnmarshalDeployment` method in deployment_parser.go has only one usage inside the same deployment_parser.go file. There is no need to export this method outside of parser package. Rename it to `unmarshalDeployment` to mark it as unexported.

[2017-08-15 22:26] pritidesai opened #327 "Unit Test - yamlparser.go"
Add unit tests to validate methods under parsers package which are defined in [yamlparser.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/yamlparser.go).

All unit tests should go in `yamlparser_test.go` under [parsers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers)

[code]

[2017-08-15 23:27] pritidesai opened #328 "Unit Test - deploymentreader.go"
Add unit tests to validate methods under deployers package which are defined in [deploymentreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/deploymentreader.go).

All unit tests should go in deploymentreader_test.go under [deployers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers)

[code]

[2017-08-15 23:45] mrutkows commented on #317
@lzbj the general issue is described by https://github.com/apache/incubator-openwhisk-wskdeploy/issues/306

Please use the comments in #306 and be sure to add tests that verify PHP runtime (newly added) is also supported as a valid "runtime" value.

[2017-08-15 23:46] mrutkows commented on #306
@lzbj Be sure to verify that https://github.com/apache/incubator-openwhisk-wskdeploy/issues/317 (PHP runtime/kind) also is fixed by this PR.

[2017-08-16 00:25] pritidesai opened #329 "Unit Test - manifestreader.go"
Add unit tests to validate methods under deployers package which are defined in [manifestreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/manifestreader.go).

All unit tests should go in manifestreader_test.go under [deployers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers)

[code]

[2017-08-16 00:30] pritidesai opened #330 "rename Set* to set* in manifestreader.go"
There are few set methods in [manifestreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/manifestreader.go) which only have single usage inside the same manifestreader.go file. There is no need to export following methods outside of deployer package. Rename them to set* to mark it as unexported.

SetDependencies to setDependencies
SetPackage to setPackage
SetA

[2017-08-16 00:33] pritidesai opened #331 "Delete dead code - manifestreader.go"
Delete [getQualifiedName](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/manifestreader.go#L377) method which is not used anywhere in the project.

[2017-08-16 00:38] mrutkows commented on #304
The spec. is intended to represent the openwhisk programming model which is a referential model based upon entity names (actions, rules, triggers, etc.).  We are not trying to represent a flat configuration file and simplify parsing, but instead better represent a model of named entities that can easily reference each other by their name.

If every object has to have a “name:” or “id:” then comple

[2017-08-16 00:38] #304 closed

[2017-08-16 00:50] pritidesai opened #332 "Unit Test - servicedeployer.go"
Add unit tests to validate methods under deployers package which are defined in [servicedeployer.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/servicedeployer.go).

All unit tests should go in servicedeployer_test.go under [deployers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers)

[code]

[2017-08-16 00:56] pritidesai opened #333 "Rename Deploy* to deploy* and UnDeploy* to undeploy*"
There are few methods in servicedeployer.go which only have single usage inside the same servicedeployer.go file. There is no need to export following methods outside of deployer package. Rename them to mark as unexported.

DeployPackages to deployPackages
DeployDependencies to deployDependencies
DeployActions to deployActions
DeploySequences to deploySequences
DeployTriggers to deployTriggers
Dep

[2017-08-16 01:02] pritidesai opened #334 "Unit Test - filesystemreader.go"
Add unit tests to validate methods under deployers package which are defined in [filesystemreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/filesystemreader.go).

All unit tests should go in filesystemreader_test.go under deployers/

[code]

[2017-08-16 01:04] pritidesai opened #335 "delete dead code verifier.go"
verifier.go is dead and nothing from that go file is used anywhere in the project. Please delete [verifier.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/verifier.go)

[2017-08-16 01:06] pritidesai opened #336 "Unit Test - whiskclient.go"
Add unit tests to validate methods under deployers package which are defined in [whiskclient.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers/whiskclient.go).

All unit tests should go in whiskclient_test.go under [deployers/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/deployers)

[code]

[2017-08-16 02:17] lzbj opened #337 "support more various manifest file names."
currently, we have 2 hardcoded filenames for manifest and for deployment files (i.e., manifest.yaml and .yml and deployment.yaml and .yml respectively (declared in "shared.go"). These names appear "lowercased". We need to find a way such that we can match any mixed base name such as "Manifest.yaml" or "manifest.YAML" etc. I would be happy if you want to open this as a lower priority issue to fix l

[2017-08-16 19:24] pritidesai opened #338 "Unit Test - contentreader.go"
Add unit tests to validate methods under utils package which are defined in [contentreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/contentreader.go).

All unit tests should go in contentreader_test.go under [utils/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils)

[code]

[2017-08-16 19:30] pritidesai opened #339 "Unit Test - dependencies.go"
Add unit tests to validate methods under utils package which are defined in [dependencies.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/dependencies.go).

All unit tests should go in dependencies_test.go under [utils/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils)

[code]

[2017-08-16 20:38] mrutkows opened #340 "Create Error handling /display path through all code"
Many errors/warnings are captured but not surfaced properly or reported; some are caught by a general "panic" method, but does not provide context of error.  Warnings are not surfaced at all.

These all need to be surfaced in a way such that "unwinding of a Deployment can happen properly.

Also need to consider i18n messages and specific named Error types with detailed messages.

If parsing errors

[2017-08-16 20:39] mrutkows commented on #292
See issue https://github.com/apache/incubator-openwhisk-wskdeploy/issues/340 which should be a pre-cursor to enabling this feature.

[2017-08-16 20:54] mrutkows commented on #272
The Zip is being done on the server-side so there is no platform dependent consideration any longer.

[2017-08-16 20:54] #272 closed

[2017-08-16 20:56] mrutkows commented on #265
This an Adobe package/function we should support which would enable several 3rd party service integrations.

[2017-08-16 20:58] mrutkows commented on #255
@lzbj we decided (together) to use the full grammar (for first pass) and open a new issue to subsequently support the simple grammar later.

[2017-08-16 20:59] mrutkows commented on #251
@pritidesai If we move forward on this, we need another issue to update the specification itself.

[2017-08-16 21:08] mrutkows commented on #250
@pritidesai Can we open up the appropriate issues to track the following TODOs? (and reference here)?  I assume we want issues here to create "test" or use cases to test this functionality from wskdeploy (and also perhaps the CLI).
TODO: we need to open an issue against main openwhisk/catalog
TODO: support other than nodejs runtimes

[2017-08-16 21:11] mrutkows commented on #226
Priti indicates this is resolved.

[2017-08-16 21:11] #226 closed

[2017-08-16 21:13] mrutkows commented on #224
See https://github.com/apache/incubator-openwhisk-wskdeploy/issues/340

[2017-08-16 21:13] mrutkows commented on #340
See https://github.com/apache/incubator-openwhisk-wskdeploy/issues/224 for spec. impacts.

[2017-08-16 21:21] mrutkows commented on #182
@daisy-ycguo any update?

[2017-08-16 21:29] mrutkows commented on #118
Priti indicated whiskbot is now under tests/usecases.

[2017-08-16 21:32] mrutkows commented on #92
Making "low" priority until we have a "pluggable" CLI

[2017-08-16 22:08] pritidesai opened #341 "Unit Test - errorhandlers.go"
Add unit tests to validate methods under utils package which are defined in [errorhandlers.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/errorhandlers.go)

All unit tests should go in errorhandlers_test.go under utils/

[code]

[2017-08-16 22:10] pritidesai opened #342 "Unit Test - fileoperations.go"
Add unit tests to validate methods under utils package which are defined in [fileoperations.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/fileoperations.go)

All unit tests should go in fileoperations_test.go under utils/

[code]

[2017-08-16 22:14] pritidesai opened #343 "Unit Test - gitreader.go"
Add unit tests to validate methods under utils package which are defined in [gitreader.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/gitreader.go)

All unit tests should go in gitreader_test.go under [utils/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils)

[code]

[2017-08-16 22:20] pritidesai opened #344 "Unit Test - misc.go"
Add unit tests to validate methods under utils package which are defined in [misc.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/misc.go)

All unit tests should go in misc_test.go under [utils/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils)

[code]

[2017-08-16 22:23] pritidesai opened #345 "Unit Test - qualifiedname.go"
Add unit tests to validate methods under utils package which are defined in [qualifiedname.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils/qualifiedname.go)

All unit tests should go in qualifiedname_test.go under [utils/](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/utils)

[code]

[2017-08-16 22:27] pritidesai opened #346 "discard util_test.go"
Move the following two test functions to contentreader_test.go:

[code]

Move the following one test function to misc_test.go:

[code]

create contentreader_test.go and misc_test.go if they don't exist.

[2017-08-16 22:32] pritidesai opened #347 "Unit Test - cmd package"
Determine a list of go files and functions in those files for which we can write unit tests, create one test file per go file

Go files under [cmd](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/cmd) package:

[code]

[2017-08-16 22:34] pritidesai opened #348 "Unit Test - cmdImp package"
Determine a list of go files and functions in those files for which we can write unit tests, create one test file per go file

Go files under [cmdImp](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/cmdImp) package:

[code]

[2017-08-16 22:38] pritidesai opened #349 "Integration Test - Alarm Trigger"
Create an integration test for validating [alarm trigger](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/alarmtrigger) usecase.

Integration tests are located under [tests/src/integration](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/src/integration). Create a new folder named "alarmtrigger" under tests/src/integration.

Remove [alar

[2017-08-16 22:44] pritidesai opened #350 "Integration Test - api-gateway"
Create an integration test for validating [api-gateway](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/api-gateway) usecase.

Integration tests are located under [tests/src/integration](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/src/integration). Create a new folder named "api-gateway" under tests/src/integration.

Remove api-gatew

[2017-08-16 22:47] pritidesai opened #351 "Add readme to badyaml usecase"
Justify the significance of [badyaml](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/badyaml) usecase by adding README.md. If its not used/applicable anymore, delete badyaml use case.

[2017-08-16 22:50] pritidesai opened #352 "Integration Test - data-processing-app (uses MessageHub)"
Create an integration test for validating [data-processing-app](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/data-processing-app) usecase.

Integration tests are located under tests/src/integration. Create a new folder named "data-processing-app" under tests/src/integration.

Remove data-processing-app from usecase folder.

[2017-08-16 23:37] pritidesai opened #353 "Delete use case under default test"
Discard [defaulttest](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/defaulttest) as its not significant or adding any value to project.

[2017-08-16 23:47] pritidesai opened #354 "discard defaulttest_bindings"
Discard [defaulttest-bindings](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/defaulttest-bindings) as it looks bogus and can be confusing.

[2017-08-16 23:50] pritidesai opened #355 "Integration Test - Dependency (package binding)"
Add a working example of package binding and dependency section specified in [dependency under  usecases](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/dependency).

Delete dependency folder from use cases folder.

[2017-08-16 23:57] pritidesai opened #356 "Integration Test - hello world"
Create an integration test based on manifest in [helloworld under use cases](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/helloworld). Add hello world actions in all supported runtimes in addition to nodejs.

Create integration tests under test/src/integration.

If this manifest file is referenced in any of the test cases, update the test to read the manifest

[2017-08-16 23:59] pritidesai opened #357 "Integration Test - open stack"
Create an integration test for validating [openstack](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/openstack) usecase.

Integration tests are located under tests/src/integration. Create a new folder named "openstack" under tests/src/integration.

Remove openstack from usecase folder.

[2017-08-17 00:02] pritidesai opened #358 "Discard opentest usecase"
Its covered by alarm trigger usecase. Discard [opentest](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/opentest).

[2017-08-17 00:08] pritidesai opened #359 "Integration Test - webhook"
Create an integration test for validating [webhook](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/usecases/webhook) usecase.

Integration tests are located under tests/src/integration. Create a new folder named "webhook" under tests/src/integration.

Remove webhook from usecase folder.

[2017-08-17 00:11] pritidesai opened #360 "Validate integration tests are running as part of Travis build"
See issue #313, creating web action is failing but Travis build never complains about any failure running [webaction](https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/src/integration/webaction) integration test.

[2017-08-17 00:37] pritidesai opened #361 "Refactor yamlparser_test.go"
[yamlparser_test.go](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/parsers/yamlparser_test.go) has test cases involving manifest and deployment files. Classify those test cases and move them to manifest_parser_test.go if its manifest related test case and deployment_parser_test.go if its deployment related test case. Keep test cases as is which involves both manifest and depl

[2017-08-17 03:41] lzbj opened #362 "Support get action from remote host through http."
We need to support action is on remote host , such as https://raw.githubusercontent.com/apache/incubator-openwhisk-catalog/master/packages/github/webhook.js, currently it only assume the file on local host.

[2017-08-17 21:02] zachschultz opened #365 "Bluemix Stage 1 errors creating triggers"
Using the two blueprints ([Cloudant](https://github.com/zachschultz/owbp-cloudant-trigger) and [MessageHub](https://github.com/zachschultz/owbp-message-hub-trigger)).

From OpenWhisk on Stage 1 Bluemix with no bindings or existing triggers/rules/actions I am trying to run my wskdeploy action on the [Cloudant-Swift blueprint](https://github.com/zachschultz/owbp-cloudant-trigger/blob/master/runtimes

[2017-08-18 03:30] #295 closed

[2017-08-18 07:18] lzbj commented on #306
@mrutkows , is wsk cli lib provided the supported runtime/version list for us? I tried the cli command, not found yet.

[2017-08-18 13:49] mrutkows commented on #306
@lzbj I would ask Vincent about https://github.com/apache/incubator-openwhisk/issues/335. if you need to hardcode the list for now to get it supporting all current kinds/runtimes please do so and open another issue to make it dynamic using the API (CLI).

[2017-08-18 17:08] mrutkows commented on #359
For reference see discussion in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/316#pullrequestreview-57257299

[2017-08-18 21:19] pritidesai commented on #360
I just ran a dump on one of the integration tests and found that the deployment is being canceled as there is no "Y" provided on cmdline while executing wskdeploy:

[code]

Even though the deployment is canceled, integration test returns success and sends notification that the test was successful with `PASS`

[2017-08-21 02:31] lzbj commented on #306
Ok, got it, thank your @mrutkows .

[2017-08-21 09:12] daisy-ycguo commented on #365
@zachschultz help me understand when you are saying "a clean OpenWhisk on Stage 1 Bluemix with no bindings or existing triggers/rules/actions" do you mean "/whisk.system/cloudant" is not installed in your clean OpenWhisk ? I think, openwhisk-cloudant-trigger has dependencies on "/whisk.system/cloudant", you need to install whisk.system package before you run this case.

[2017-08-21 18:35] mrutkows commented on #296
addressed this issue in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/300

[2017-08-21 18:35] #296 closed

[2017-08-21 18:46] zachschultz commented on #365
@daisy-ycguo Sorry about the confusion, what I meant was that I just created a new space and org on Bluemix and used the OpenWhisk from there

[2017-08-21 19:16] mrutkows commented on #157
![image](https://user-images.githubusercontent.com/7816715/29534361-5387cfb0-867b-11e7-92b1-e783222c5eb8.png)

[2017-08-22 02:26] houshengbo opened #373 "Load the credentials the same way as client go does"
There is a PR in Client go regarding how to load the openwhisk credentials in a precedence order: https://github.com/apache/incubator-openwhisk-client-go/pull/29. Wskdeploy also needs it to load the credentials to access the openwhisk service, so that we can free up from adding credentials in manifest file/deployment file.

[2017-08-22 02:27] houshengbo opened #374 "Interactive mode should be configurable"
We need to make the interactive mode of wskdeploy configurable, so that we do not have to enter "yes" all the time to issue a command.

[2017-08-22 06:47] daisy-ycguo commented on #365
@zachschultz I checked this case in my environment, but I didn't meet with errors. Please refer to my steps and let me know what happens in your environment. Thank you.

Have a clean OpenWhisk environment firstly.

1. Create a Cloudant service in Bluemix, with the service name as "openwhisk-cloudant", creating a database named "cats".
2. Check out your source code `zachschultz/owbp-cloudant-trigge

[2017-08-22 20:28] mrutkows opened #376 "Why default version to "master" inside manifest parser"
in manifest_parser.yaml we default to version = "master"; however, this has no meaning in the specification.  We need to examine why this was done and if we can remove it.

for reference, it is set as follows:
[code]

[2017-08-22 21:05] mrutkows commented on #376
The ```version``` parameter was intended for "release" (name) for GitHub; we may need to introduce a field called ```branch``` (optional) and use that for default "master" when GitHub is the repo.

[2017-08-23 01:49] daisy-ycguo commented on #305
@zachschultz You are right, I think it should be set to false.
[code]

[2017-08-23 06:58] #311 closed

[2017-08-23 07:30] daisy-ycguo commented on #305
@zachschultz There is a PR #377 to address this issue. But I'm very curious to your case. What's the new value you want to update the `source` of the `message-received-trigger`?

[2017-08-23 14:45] mrutkows opened #378 "Overwrite (true) should be a configurable option"
Perhaps "overwrite=true" should be our default behavior, but we should give user a command line option to turn this off for all entities.

See issue where we changed default behavior for Triggers (as an example).  https://github.com/apache/incubator-openwhisk-wskdeploy/pull/377

[2017-08-23 14:48] mrutkows commented on #378
At the time of this issue being opened here are all the places we hardcoded the default:

Matt$ grep -r "Insert" . *.g
./deployers/servicedeployer.go:	_, _, err := deployer.Client.Packages.Insert(packa, true)
./deployers/servicedeployer.go:	_, _, err := deployer.Client.Packages.Insert(packa, true)
./deployers/servicedeployer.go:	_, _, err := deployer.Client.Triggers.Insert(trigger, true)
./deploye

[2017-08-23 18:43] zachschultz commented on #305
Hi @daisy-ycguo, thanks for the PR! What was happening for us was that if we changed our manifest.yaml file to change the trigger in any way, no updates were actually propagating through because of the `overwrite=false`

[2017-08-23 18:53] mrutkows commented on #305
@zachschultz can u verify if PR 337 allows this issue to be resolved?

[2017-08-23 19:56] zachschultz commented on #365
@daisy-ycguo thank you! For some reason, now I am able to get the triggers and rules working when I push data to cloudant/message-hub, however when I run wskdeploy for the message-hub blueprint I'm still getting the extra action that looks like this:

[code]

Everything seems to work though, but I am still getting that message

[2017-08-23 20:05] zachschultz commented on #305
@mrutkows let me build a wskdeploy with that PR included to test if it works

[2017-08-23 20:24] pritidesai opened #380 "WIP: Add unit tests to verify that wskdeploy is able to load credentials"
We have a plan to follow precedence order of setting whisk credentials:

- API host for the OpenWhisk deployment

- API key for the subject invoking the action

- Namespace for the activation

Here is the precedence order:

(1) Deployment/Manifest file
(2) whisk properties / wskprops file
(3) Environment variables

Add verification in wskdeploy to verify that these credentials are being set before

[2017-08-23 20:30] pritidesai opened #381 "Move manifest.yml and manifest.yaml out of integration test"
Integration tests should not have manifest.yaml and manifest.yml files. Please move them to https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/dat and convert the following integration tests into unit tests:

TestSupportManifestYamlPath
TestSupportManifestYmlPath
TestSupportManifestYamlDeployment
TestSupportManifestYmlDeployment

Our integration tests should define manifest

[2017-08-23 21:03] pritidesai opened #382 "Rename manifest and deployment files under tests/dat/..."
We have bunch of manifest and deployment files under https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/dat:

[code]

Rename these files to something meaningful and update the test cases which are using these files.

[2017-08-23 21:05] pritidesai opened #383 "Delete openwhisk credentials from manifest and deployment files"
We have few integration tests with manifest and deployment files which have hardcoded credentials including api host and api key. Please remove these credentials from the yaml files.

[2017-08-23 23:11] mrutkows commented on #374
fixed in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/375

[2017-08-23 23:11] #374 closed

[2017-08-23 23:17] mrutkows commented on #360
WIP PR: https://github.com/apache/incubator-openwhisk-wskdeploy/pull/372

[2017-08-23 23:26] mrutkows commented on #365
@zachschultz  @daisy-ycguo Daisy, did you test this with BlueWhisk or local OpenWhisk?  You steps indicate "Have a clean OpenWhisk environment"  this implies local (not Bluemix OpenWhisk unless you mean the account has not Actions/Triggers/Rules, etc.)?

[2017-08-24 08:49] daisy-ycguo commented on #365
@mrutkows I'm using OpenWhisk on Bluemix, i.e. BlueWhisk. "Have a clean OpenWhisk env" here means there is no Actions/Triggers/Rules under this account and namespace. That is to make sure to not to create any duplicated action/trigger/rule.

[2017-08-24 13:13] mrutkows opened #385 "Remove credential from Action and Trigger entities"
The pseudo-grammar in the packaging spec. had 2 cut-paste errors where both the Action and Trigger entities had  a key called  'credential' this is in error an they need to be removed.

[2017-08-24 13:41] mrutkows opened #386 "Key 'package_credential' needs to be removed"
At one point, the spec. included pseudo-grammar which included variations of what to name 'credential'.  One such iteration was not deleted and the code seems to allow 'package_credential' as a valid key (see unit test for 'yamlparser_test.go' which uses 'deploy2.yaml'.  This test is no longer valid; please remove it an also the key 'package_credential' from the 'yaml_parser.go'.

[2017-08-24 19:09] zachschultz commented on #365
@mrutkows sorry about the confusion, adjusted my original issue comment to hopefully clear it up. @daisy-ycguo covered what I actually meant.

[2017-08-25 08:09] lzbj commented on #348
close as those files removed.

[2017-08-25 12:34] mrutkows commented on #306
See PR https://github.com/apache/incubator-openwhisk-wskdeploy/pull/366#pullrequestreview-58637061

[2017-08-25 13:14] mrutkows commented on #348
@lzbj rootImp.go and undeployImp.go are removed, but shared.go still exists.  Will change title to reflect this.

[2017-08-25 13:15] #348 closed

[2017-08-25 13:33] mrutkows commented on #386
See PR https://github.com/apache/incubator-openwhisk-wskdeploy/pull/390

[2017-08-25 15:30] zachschultz opened #391 "Wskdeploy sometimes tries to create sequence before action"
During testing and trying to deploy this [blueprint](https://github.com/zachschultz/owbp-cloudant-trigger/) with this [manifest file](https://github.com/zachschultz/owbp-cloudant-trigger/blob/master/runtimes/node/manifest.yaml) I noticed that I was getting the error: `Got error creating action with error message: Sequence component does not exist. (code 970378) and error code: 144.` On the next tr

[2017-08-25 15:31] zachschultz commented on #391
@beemarie

[2017-08-25 16:19] mrutkows opened #393 "Deployment.yaml files all use "package" key, spec. has "packages""
In every test's Deployment.yaml (and of course the code supports this) the key "package:" is used; however, the spec. has always had the plural "packages:" this key name change will impact all files.

I would be happy to support both "package" (singular) and "packages" (plural) as long as we display a warning, but our tests should use what is in the spec.

[2017-08-25 19:49] zachschultz opened #394 "Change manifest file to not need specific location of action in rules and sequences"
Right now when we write the location of an action for a rule and sequence in the manifest file it needs to be in the format `PACKAGE_NAME/ACTION_NAME`, i.e.

[code]

It would be nice if we only needed to write `process-change` and `process-change-cloudant-sequence` instead, especially if we want to allow users to change the package name with an environment variable. Replacing just `package.name` i

[2017-08-25 20:23] houshengbo opened #395 "Deprecation of baseUrl"
The parameters baseUrl and apihost co-exist, which leads to confusion. We decide to deprecate the support of baseUrl.

[2017-08-26 03:06] #386 closed

[2017-08-28 02:23] daisy-ycguo commented on #305
@zachschultz Are we able to close it ?

[2017-08-28 08:34] daisy-ycguo commented on #394
@zachschultz Will you try blow manifest, removing `cloudant-trigger/` from `cloudant-trigger/process-change` and `cloudant-trigger/process-change-cloudant-sequence`? I think it works. Let me know how it works in your test env.

[code]

[2017-08-28 08:52] daisy-ycguo commented on #391
I think it should be a bug, although I didn't find the root cause yet. Look at printed help message when deploying this package,`process-change-cloudant-sequence` is displayed as an `action`, not `sequence`. It's a very rare error. Thank you for reporting, @zachschultz .

[code]

[2017-08-28 13:59] mrutkows commented on #394
Our decision on this was that the wskdeploy tool would automatically pre-pend the <package name>/ before any triggers or rules defined withing the same packages (i.e., package:) scope.

[2017-08-28 14:11] mrutkows commented on #394
@zachschultz can you post what you see when you try Daisy's suggestion (although I thought that was what you had tried and had failed).

[2017-08-28 19:34] houshengbo opened #398 "Concurrent issues when running integration tests accessing the same resources"
Integration tests like triggerrule_test and flags_test running together will lead to this issue. Since they both create, access, and delete the resource with the same name.

Go runs tests in a parallel way. We need to add a concurrent lock for test cases trying to access the same resources in openwhisk.

[2017-08-28 19:35] houshengbo commented on #398
@mrutkows @pritidesai
We run into this concurrent issue, for some of our test cases, since they are creating, accessing and deleting resources at the same time.

[2017-08-28 19:46] pritidesai opened #399 "Error out when env. variables from manifest/deployment are not defined"
Incorporating env. variables into a manifest or deployment file is supported practice with wskdeploy. Its very common to run wskdeploy without setting those env. variables. In such situations, wskdeploy fails with this cryptic message:

[code]

(I am using Zach's manifest here)

We should instead report that the essential env. variables are not defined and error out instead of reporting this kind

[2017-08-28 19:57] pritidesai commented on #391
@daisy-ycguo the error that @zachschultz reported was caused by the missing env. variables, when you run wskdeploy with a  manifest file which is using env. variables which are not set yet, wskdeploy throws this kind of cryptic error, refer to #399

[2017-08-28 20:10] zachschultz commented on #391
@pritidesai that error only occurred in the second (successful) run, however, so while that still looks like a bug, I don't think it's directly related to the first and main issue, correct? It seems like wskdeploy was trying to create the action-sequence before the action

[2017-08-28 21:02] zachschultz opened #400 "Cross-compiling wskdeploy"
I see a lot of issues regarding this but none seem to explicitly state how it's done. Running `./gradlew distDocker` I noticed that this command is run `docker build --build-arg WSKDEPLOY_OS=mac --build-arg WSKDEPLOY_ARCH=amd64 -t wskdeploy /Users/zach/dev/incubator-openwhisk-wskdeploy` and it seems like you're able to change the `WSKDEPLOY_OS` and `WSKDEPLOY_ARCH` to build for whatever platform y

[2017-08-28 21:13] pritidesai commented on #391
Its still failing for me with:

[code]

[2017-08-28 21:15] mrutkows commented on #391
Are we considering Zach's comment " that would tell wskdeploy to wait for the actions to be created before sequences were created."?   It seems if this is infrequently found as an error we may need to verify/wait for Actions in a sequence to be created BEFORE we create the actual sequence?

[2017-08-28 21:29] mrutkows commented on #400
@priti @zachschultz as Priti described, we will need to document how to set the project property "crossCompileWSKDEPLOY" and how this affects Dockerfile build ARGS (WSKDEPLY_OS and WSKDEPLOY_ARCH); specifically, the default behavior or build.gradle automatically sets these to the local OS environment.

[code]

[2017-08-28 21:30] mrutkows commented on #400
@priti has volunteered to update the documentation after having researched this issue

[2017-08-28 21:35] mrutkows commented on #399
For context, the manifest is referencing CLOUDANT_xxx env. vars as follows:
[code]

[2017-08-28 21:37] mrutkows commented on #399
In the test, NONE of the expected env. vars. have been set... that is, CLOUDANT_HOSTNAME, etc. are NOT set, but the error message provides NO accurate message that this was the actual problem...  we should detact the env. was NOT found and output an appropriately descriptive error message.

[2017-08-28 21:39] mrutkows commented on #398
@houshengbo @pritidesai can we identify where we have overlapping names in our int. tests and assure we have unique names for each? at least for now?

[2017-08-28 21:59] zachschultz commented on #305
@daisy-ycguo On my most recent run with the new binary I now see this error `Got error creating trigger with error message: A trigger feed is only permitted when the trigger is created (code 162316) and error code: 144.`

[2017-08-28 23:15] pritidesai commented on #398
Its the result of having copy/pasted deployment file from the integration test which was added in the beginning. This is the deployment file in **flagstests** with application name `wskdeploy-samples` and packaging name `triggerrule`:

https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/tests/src/integration/flagstests/deployment.yml

[code]

Depoyment file in **triggerrule:**

htt

[2017-08-29 01:35] daisy-ycguo commented on #394
@mrutkows The manifest file proposed by me works in my environment. I think wskdeploy supports to use default package if the package is omitted. So I'd like to ask @zachschultz to try this manifest.

[2017-08-29 02:04] daisy-ycguo commented on #391
@pritidesai Thank you, Priti. I will take a look at it.
@mrutkows No, it's not true. According to our source code, `ServiceDeployer.deployAssets` will deploy sequences after actions. All the wsk client code invocations are synchronized invocation. So the error will not be fixed by `waiting for actions in sequence to be created BEFORE we create the actual sequence`.

[2017-08-29 03:05] houshengbo opened #405 "Unit test of TestParseManifestForSingleLineParams failing"
=== RUN   TestParseManifestForSingleLineParams
2017/08/28 23:03:51 error happened during unmarshal :yaml: unmarshal errors:
  line 25: cannot unmarshal !!str `` into parsers.Parameter
  line 26: cannot unmarshal !!str `` into parsers.Parameter
2017/08/28 23:03:51 yaml: unmarshal errors:
  line 25: cannot unmarshal !!str `` into parsers.Parameter
  line 26: cannot unmarshal !!str `` into parsers.Pa

[2017-08-29 03:06] houshengbo commented on #405
@daisy-ycguo @lzbj Did you see this issue?

[2017-08-29 06:40] daisy-ycguo commented on #391
@pritidesai Please make sure below environment is set to correct values. Or else, feed cannot be created successfully. It will cause your error. After you set these environment variables, if you still get errors, please let me know.
[code]

[2017-08-29 07:58] daisy-ycguo commented on #405
@houshengbo it didn't have any issues in my laptop.
[code]

[2017-08-29 08:03] lzbj commented on #405
I got the same issue.
Installing dependencies
go get -d -t ./...
Testing
go test ./... -tags=unit
?   	github.com/apache/incubator-openwhisk-wskdeploy	[no test files]
ok  	github.com/apache/incubator-openwhisk-wskdeploy/cmd	1.254s
ok  	github.com/apache/incubator-openwhisk-wskdeploy/deployers	0.013s
Error:  <nil>
Filepath: "  "
Package:  {   [] map[]     map[] map[] map[] map[] map[] map[] map[]}

[2017-08-29 08:05] lzbj commented on #405
Raise the level to get some attention, since it will slow down the development.

[2017-08-29 08:09] daisy-ycguo commented on #305
@zachschultz please make sure the environment variables are setting to correct values. When I met with this error, it means feed `openwhisk-cloudant/changes` is not created successfully, which is caused by missing environment variables.
[code]

[2017-08-29 08:53] daisy-ycguo commented on #157
Close it because it is fixed

[2017-08-29 08:53] #157 closed

[2017-08-29 19:56] pritidesai opened #409 "Undeploy doesn't work with manifest.yml"
We can have deployment done with `manifest.yml` but when you try to undeploy, it fails with:

[code]

[2017-08-29 19:58] houshengbo commented on #405
@lzbj Strangely travis does not report this error, but it really exists when I run make test locally. Is there something wrong with manifest_validate_singleline_params.yaml?

[2017-08-29 21:46] houshengbo commented on #395
This is already fixed.

[2017-08-29 21:46] #395 closed

[2017-08-30 00:26] pritidesai opened #411 "typo in error message"
[code]

should be

[code]

In manifest parser at: https://github.com/apache/incubator-openwhisk-wskdeploy/blob/37925e44a5772e5540c984465661e606427695e7/parsers/manifest_parser.go#L309

[2017-08-30 01:40] lzbj commented on #405
@houshengbo , correct, so I doubt we hit a yaml lib bug or even a golang bug perhaps, need to dig deeper in this.

[2017-08-30 01:44] houshengbo commented on #405
@lzbj Line 25 and Line 26 put '' and "" as the values. It seems the parser does not read them correctly.

[2017-08-30 01:45] daisy-ycguo commented on #405
@lzbj @houshengbo interesting issue. I run under ubuntu and it works fine.

[2017-08-30 01:50] houshengbo commented on #405
@daisy-ycguo It is valid in mac. I tried ubuntu as well, there is no issue for linux.

[2017-08-30 02:02] daisy-ycguo commented on #411
Fixed and closed.

[2017-08-30 02:02] #411 closed

[2017-08-30 02:19] daisy-ycguo opened #413 "Create enough sequence tests to make sure actions are created before sequences"

[2017-08-30 02:29] mrutkows commented on #306
Fixed in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/366

[2017-08-30 02:29] #306 closed

[2017-08-30 02:30] mrutkows commented on #305
Fixed in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/377

[2017-08-30 02:30] #305 closed

[2017-08-30 02:31] mrutkows commented on #360
All integration tests are not running again, we will use individual issues marked high priority to track each one's health.

[2017-08-30 02:31] #360 closed

[2017-08-30 02:34] mrutkows commented on #398
Vincent mitigated this issue by naming each test (package) with a different name thereby putting each into a different namespace and preventing concurrent tests from interfering with one another.
Fixed in https://github.com/apache/incubator-openwhisk-wskdeploy/pull/404

[2017-08-30 02:34] #398 closed

[2017-08-30 02:34] daisy-ycguo commented on #391
Fixed with PR #396.

[2017-08-30 02:34] #391 closed

[2017-08-30 02:37] mrutkows commented on #393
@pritidesai can you please look at changing this globally; see if we can allow (in some deprecated manner, perhaps issue a WARNING message) and allow the "package" (singular) to be supported for some period of time and mark/comment the code to indicated we should remove this at a later date (perhaps open a low priority issue as well to remind us).

[2017-08-30 02:44] daisy-ycguo opened #414 "Reporting warning information when the env variables in yaml files are not set"
Environment values in YAML files are very important to make sure the assets are created correctly. If environment values are not set, error codes returned from backend will be shown to end users, which make end users confused. So we should give clear warning messages to end users when env variables are empty.

[2017-08-30 02:49] pritidesai opened #415 "dependent packages requires manifest.yml and doesn't support manifest.yaml"
wskdeploy does not support dependent packages which has manifest.yaml file. It only deploys dependent package with manifest.yml. Please add support for manifest.yaml. Refer to integration test on dependency for more info: https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/src/integration/dependency

[2017-08-30 02:52] daisy-ycguo commented on #414
Duplicated with #399. Close this one.

[2017-08-30 02:52] #414 closed

[2017-08-30 02:53] daisy-ycguo commented on #399
I'm going to give warning msg when env variables are not set. Are you fine with it, @pritidesai @mrutkows

[2017-08-30 03:44] lzbj opened #416 "wskdeploy doesn't work with latest code merges."
is anyone face the issue.
when I run wskdeploy -m /path/to/manifest, I got a error.
2017/08/30 11:44:26 Unmarshal Openwhisk info from internet
2017/08/30 11:44:26 Missing authentication key
2017/08/30 11:44:26 Error happened during execution, please type 'wskdeploy -h' for help messages.
exit status 1

@daisy-ycguo @houshengbo @pritidesai , can you double confirm, when I try to resolve the issue h

[2017-08-30 03:45] lzbj commented on #416
@daisy-ycguo, said she can't build with latest codes.

[2017-08-30 03:52] daisy-ycguo commented on #416
@lzbj
I updated to latest wskclient, and I can build now. I deployed a cloudant-trigger test case, it worked for me.

[2017-08-30 05:24] lzbj commented on #416
ok, got it, I didn't update my cli lib, yes it works now, close it.
Thanks a lot @daisy-ycguo .

[2017-08-30 05:24] #416 closed

[2017-08-30 05:37] lzbj commented on #405
@pritidesai  is our UT expert, please could you help take a look @pritidesai

[2017-08-30 06:14] lzbj commented on #415
@pritidesai , I can't reproduce this issue, could you help confirm.
I forked your repo here.https://github.com/lzbj/openwhisk-app
then I changed the yaml like this:
diff --git a/tests/src/integration/dependency/manifest.yaml b/tests/src/integration/dependency/manifest.yaml
index f76390d..e85bc4b 100644
--- a/tests/src/integration/dependency/manifest.yaml
+++ b/tests/src/integration/dependency/mani

[2017-08-30 06:15] lzbj commented on #415
I have already changed the yaml file in my repo to .yaml, did I miss some steps to reproduce?

[2017-08-30 06:34] daisy-ycguo opened #417 "New output messages from wskdeply"
Do we really want to print these messages ? Or they are debug messages which should be removed ?

[code]

[2017-08-30 07:51] pritidesai commented on #405
@lzbj thanks for recognition :) you will be surprised to know I have no QA background 👎

didn't find any issues while running that test on mac:

[code]

[2017-08-30 08:05] pritidesai commented on #415
nope @lzbj doesn't look like you missed anything, I am not able to reproduce as well, but now running into different issue, @daisy-ycguo can you please check? I just replaced `location` with `function` in [manifest file](https://github.com/apache/incubator-openwhisk-wskdeploy/blob/master/tests/src/integration/dependency/manifest.yaml#L5).

[code]

[2017-08-30 08:17] daisy-ycguo commented on #415
@pritidesai  In the specification, the properties under `dependencies` are: `location`, `version` and `inputs`. So please don't change it to `function`. Our code doesn't support `function` under `dependencies`. We only support `function` under `action`.

[2017-08-30 09:14] lzbj commented on #405
thank you @pritidesai , it seems my env problems.
I run the same command, got the output.
 go test ./parsers/ -tags=unit -run=TestParseManifestForSingleLineParams -v
=== RUN   TestParseManifestForSingleLineParams
2017/08/30 17:14:34 error happened during unmarshal :yaml: unmarshal errors:
  line 25: cannot unmarshal !!str `` into parsers.Parameter
  line 26: cannot unmarshal !!str `` into parsers.

[2017-08-30 09:15] lzbj commented on #405
I used go1.9

[2017-08-30 10:40] daisy-ycguo commented on #365
@zachschultz Is this issue fixed ? We have opened another issue #399 to print out warning messages and promoting if user wants to process when environment variables in YAML files are empty.

[2017-08-30 14:17] zachschultz commented on #365
@daisy-ycguo I can't reproduce the issue anymore, so I would say it's fixed!

[2017-08-30 18:56] mrutkows commented on #259
Fixed in spec. version 0.8.5 uploaded 2017-04-21 via PR https://github.com/apache/incubator-openwhisk-wskdeploy/pull/267

[2017-08-30 18:56] #259 closed

[2017-08-30 19:00] mrutkows commented on #277
OpenWhisk support the use of the "curl" command to query supported runtimes.
I myself just tried it against bluemix:

Matt$ curl -k https://openwhisk.ng.bluemix.net
{
"support": {
"github": "https://github.com/apache/incubator-openwhisk/issues",
"slack": "http://slack.openwhisk.org"
},
"description": "OpenWhisk",
"api_paths": ["/api/v1"],
"runtimes": {
"nodejs": [{
"image": "openwhisk/nodejsaction

[2017-08-30 19:20] mrutkows commented on #277
Updated spec. v0.8.8 with latest values as if Aug. 2017

[2017-08-30 19:50] #277 closed

[2017-08-30 21:58] mrutkows opened #422 "Validate all entity names <= 256 chars before create/update to server"
For all "entity names" (i.e., Actions, Triggers, Packages, Rules, etc.) we should validate (on the client side) that they are less than or equal to 256 characters (including their full namespaced named).

• For example, the Action name (i.e., <actionName> MUST be less than or equal to 256 characters.

Note: THis include the TOTAL length of the namespace; therefore we MUST make the length calculati

[2017-08-30 22:04] mrutkows commented on #417
As part of Vincent's work I hope we have something like a "printWarning()" printError() printInfo() printTrace() in a shared package/module (with standard formatting that allow timestamp, module, line number for trace and YAML file/line number if parser finds an error in a YAML file.  We can do what the CLI does and print trace if an Environment Variable is set to value > 0.  @houshengbo

[2017-08-30 22:06] mrutkows commented on #417
If we have ^^^ then we can decide which ones are info, verbose and which are trace...  and turn on verbose when user sets flag, turn on trace if env. variable is set to non-zero (true) value.

[2017-08-30 22:07] mrutkows commented on #417
@daisy-ycguo @pritidesai @houshengbo for now the more messages the better as we work down our backlog and we can move most to a printTrace() or printVerbose() type method later.

[2017-08-30 22:09] mrutkows opened #423 "Validate Entity names match allowed REGEX (client side)"
Regex used at server-side is:
protected[core] val REGEX = raw"\A([\w]|[\w][\w@ .-]{0,${ENTITY_NAME_MAX_LENGTH - 2}}[\w@.-])\z"
private val entityNamePattern = REGEX.r.pattern // compile once

where: ENTITY_NAME_MAX_LENGTH=256

[2017-08-30 22:17] mrutkows commented on #423
May want to duplicate the methods used server-side in scala.

[2017-08-31 01:28] daisy-ycguo commented on #365
Thank you, @zachschultz . I will close it. When you meet with it again, we can reopen it.

[2017-08-31 01:28] #365 closed

[2017-08-31 02:09] mrutkows commented on #415
@lzbj @priti Please see that we no longer use hardcoded "manifest.yaml" in any function when possible.  See grep:

``
grep -r "\"manifest.yaml" . --include=*.go
./cmd/add.go:		parsers.Write(maniyaml, "manifest.yaml")
./cmd/add.go:		parsers.Write(maniyaml, "manifest.yaml")
./cmd/add.go:		parsers.Write(maniyaml, "manifest.yaml")
./cmd/init.go:		parsers.Write(maniyaml, "manifest.yaml")
./cmd/root.go:

[2017-08-31 03:45] daisy-ycguo commented on #182
Duplicated with 352. Close it.

[2017-08-31 03:45] #182 closed

[2017-08-31 09:19] lzbj opened #425 "Run some lint command before submit PR."
@pritidesai @houshengbo @daisy-ycguo please run 'make lint' before you submit pr, to make sure the code format and style coherent.
No worry, just raise the level to let's know this.

[2017-08-31 09:20] lzbj commented on #425
let's close this one after our tomorrow's meeting.

[2017-08-31 15:47] pritidesai commented on #415
verified hardcoding of manifest and deployment is gone with PR #424

[2017-08-31 16:04] pritidesai commented on #415
[code]

[2017-08-31 17:16] #409 closed

[2017-08-31 17:16] #415 closed

[2017-08-31 17:36] pritidesai opened #427 "Should move towards `function` for creating Dependent Packages?"
we recently standardized on `function` deprecating `location` for specifying source location of action code/files. Should we follow the same path for dependent packages? Dependent packages still use `location`:

[code]

We don't have support for `function` today, `wskdeploy` fails with:

[code]

Failure:

[code]

If we decide to standardize on `function`, we will have to change code and spec.

[2017-08-31 17:38] pritidesai commented on #415
addressing `function` vs `location` in issue https://github.com/apache/incubator-openwhisk-wskdeploy/issues/427

[2017-08-31 17:51] pritidesai commented on #383
Confirming that we no longer have any hardcoded credential in manifest and deployment file except `./tests/usecases/webhook/deployment.yml` which just shows the usage and will be removed with issue #359. Closing this issue.

[code]

[2017-08-31 17:51] #383 closed

[2017-08-31 19:03] mrutkows commented on #427
@priti location is meant to be URI/URL in all places, we made a conscious decision to only change the name from location to function within the scope of the Action definitions.

[2017-08-31 19:23] pritidesai commented on #359
PR #428

[2017-08-31 22:59] pritidesai opened #429 "runtime swift vs swift:2 vs swift:3.1.1"
I am writing an action and have set runtime to `swift` or `swift:2` which fails:

[code]
This error disappears and action is deployed when runtime is set to `swift:3.1.1`.

Does openwhisk support swift:2? One of the blog posts says "If you have any Swift v2 actions, you will want to migrate those to the Swift v3 runtime."

[2017-08-31 23:08] rabbah commented on #429
Not anymore.

[2017-08-31 23:19] pritidesai commented on #356
I am working on this and soon create a PR. Thanks!

[2017-09-01 00:18] daisy-ycguo commented on #399
Fixed and closed.

[2017-09-01 00:18] #399 closed

[2017-09-01 01:25] #359 closed

[2017-09-01 01:59] mrutkows commented on #427
Will leave this open so we can discuss in the future; do not want to make any changes besides the one under Action schema.  In fact, we may be keeping support for the deprecated "location" for some time and simply emit a warning letting people know function is preferred.

[2017-09-01 02:57] lzbj commented on #425
close is as I think everybody knows it.

[2017-09-01 02:57] #425 closed

[2017-09-01 08:35] lzbj commented on #203
I think we have enough CI test cases now despite we'll add more.

[2017-09-01 08:35] #203 closed

[2017-09-01 08:36] lzbj commented on #282
close as comments

[2017-09-01 08:36] #282 closed

[2017-09-01 08:36] lzbj commented on #429
close as rabbah's comments.

[2017-09-01 08:36] #429 closed

[2017-09-01 08:37] lzbj commented on #121
fixed.

[2017-09-01 08:37] #121 closed

[2017-09-01 08:38] lzbj commented on #202
fixed.

[2017-09-01 08:38] #202 closed

[2017-09-01 08:38] lzbj commented on #317
fixed

[2017-09-01 08:38] #317 closed

[2017-09-01 16:21] mrutkows opened #430 "Manifest parser needs to find Manifests in subdirectories within GitHub"
Currently, our parser will only find manifest files (i.e., manifest.yaml) within the top-level GitHub project directory/folder.  We need to be able to allow manifests for packages to be referenced (and found and processed) if they are placed within sub-directories (or sub-folders) within a GitHub project repo. as well.

For example, if we specify a dependent (GitHub hosted) package within a manife

[2017-09-04 03:52] daisy-ycguo commented on #381
@pritidesai I don't quite understand this issue.
These four tests invoke the command `wskdeploy` to deploy action (src: `tests/src/integration/flagstests/src/greeting.js`) to OpenWhisk server. I think it's a kind of integration tests not unit test. Because unit test will not set up OpenWhisk server and will not exec the deployment to real OpenWhisk server. What's more, I noticed there were several

[2017-09-05 01:18] daisy-ycguo commented on #118
I verified. There is no typo error "seqeunces" in manifest.yaml. So I will close this issue.

[2017-09-05 01:18] #118 closed

[2017-09-05 02:51] daisy-ycguo opened #437 "Create binding when dependency name and the origin package name are different"
Below are `dependencies` samples.
[code]

Now we can define two kinds of dependencies:
- Binding to existing package, e.g. `myCloudant` in the sample.  We will create a package binding to `/whisk.system/cloudant` with the new package name as `myCloudant`.
- Dependency to an external source code in git repo, e.g. `myhelloworld` in the sample. We will deploy the package `myhelloworld` using the mani

[2017-09-05 06:31] daisy-ycguo commented on #430
Fixed by PR #436 and closed

[2017-09-05 06:31] #430 closed

[2017-09-05 07:13] daisy-ycguo opened #438 "Review apis in the specification"
In the specification, there is a full grammar sample of `apis` and a simplified grammar sample (Refer to below). I think they are not consistent. According to the codes, I think `path` is not an element under `apis`. It should be a sub element under `basepath`. `actions` should be a sub element under `path`.
[code]
[code]

[2017-09-05 07:18] daisy-ycguo opened #439 "api-gateway feature doesn't support full grammar manifest"
Do we want the api-gateway feature to support the full grammar manifest ? If so, we need to add more test.

[code]

[2017-09-05 17:23] mrutkows commented on #439
@daisy-ycguo we discussed how we changed (simplified) the grammar into asingle grammar in spec. version 0.8.8.

it appears as follows:
[code]

and example:
[code]

[2017-09-05 17:25] #439 closed

[2017-09-05 17:26] mrutkows commented on #438
@daisy-ycguo As indicated in issue https://github.com/apache/incubator-openwhisk-wskdeploy/issues/439

I believe you are looking at an old grammar (before version 0.8.8)

[2017-09-05 17:26] #438 closed

[2017-09-05 17:30] pritidesai commented on #381
Hi @daisy-ycguo sorry for the confusion, the whole point of this issue was to get rid of`manifest.yml` from https://github.com/apache/incubator-openwhisk-wskdeploy/tree/master/tests/src/integration/runtimetests, which is already deleted (as part of PR #408). We want to standardize our integration test and have only one manifest and one deployment under any integration test.

We still want to add u

[2017-09-05 17:34] mrutkows commented on #437
@daisy-ycguo  The intent was that the  dependency's <package_name> would be treated as a local alias for the actual package name as decribed in the referenced package.  The referenced package would have its own Manifest file that would include its actual Package name (and the one that would be used by the wskdeploy tool to replace the local alias).

[2017-09-05 17:42] pritidesai opened #442 "Add runtime WARNINGS"
Add warnings with implicit runtimes:

1. With the actions without explicit runtimes, produce a WARNING saying `wskdeploy` has chosen a particular runtime (with specific version) for their actions.

2. When a user chooses to create an action with a deprecated version of any runtime, produce a warning saying the version they have chosen is deprecated, `wskdeploy` chose the latest version and go ahea

[2017-09-05 17:45] mrutkows commented on #437
@daisy-ycguo this would align with our decision on how to handle 'rules' and 'sequence' name references (that is, assume their names to be package-scoped names unless otherwise specified) in https://github.com/apache/incubator-openwhisk-wskdeploy/issues/394

[2017-09-05 18:19] pritidesai opened #443 "Add --strict flag to deploy actions with specified runtimes"
As a result of issue #442, we are adding ability in wskdeploy to create actions with latest version of specified runtimes if the user specified version is no longer supported. In case, when user doesn't want `wskdeploy` to **fix** the version for them instead stop the deployment, this kind of flag will be useful.

[2017-09-05 18:32] pritidesai commented on #393
Please close this as its fixed with PR #418

[2017-09-05 18:33] pritidesai commented on #356
Closing this as its fixed with PR #432

[2017-09-05 18:33] #356 closed

[2017-09-05 20:08] zachschultz commented on #394
@daisy-ycguo yes after testing some deploys this seems to work perfectly, thank you!

[2017-09-05 20:44] #340 closed

[2017-09-06 01:34] daisy-ycguo commented on #381
@pritidesai again, if we want to validate `wskdeploy` honors .yaml and iml extension, we need a OpenWhisk runtime environment. But during unit test, we don't have such environment. Then how can we test `wskdeploy` in the unit test ?

[2017-09-06 02:01] mrutkows commented on #327
Fixed in 440

[2017-09-06 02:02] #327 closed

[2017-09-06 02:19] mrutkows commented on #394
Zach agreed to close this as the use case is now working.

[2017-09-06 02:19] #394 closed

[2017-09-06 02:25] mrutkows commented on #393
Priti fixed in PR 418 not only fixed the warning, but also the actual root of the problem.  WTG!

[2017-09-06 02:25] #393 closed

[2017-09-06 02:32] mrutkows commented on #350
The use case (integration) that David submitted is deemed sufficient coverage for now.

[2017-09-06 02:32] #350 closed

[2017-09-06 02:42] mrutkows commented on #315
@daisy-ycguo please verify and see if the value in a Deployment.yaml were correctly being applied over the action default values.

[2017-09-06 02:45] mrutkows commented on #255
The signature of the Insert() method is now correct in current build within ServiceDeployer.go

[2017-09-06 02:45] #255 closed

[2017-09-06 03:12] #309 closed

[2017-09-06 03:16] daisy-ycguo commented on #437
I verified and I think package binding can help this use case.
I made following test.
1. create package `IntegrationTestHelloWorld` by `wskdeploy -p tests/src/integration/helloworld`
2. create a binding package newpkg by `wsk package bind IntegrationTestHelloWorld newpkg`, and then get the newpkg by `wsk package get --summary newpkg`, I see all the actions are listed:
[code]
3. create another bind

[2017-09-06 03:28] daisy-ycguo commented on #315
I think this issue is fixed. Below is what I found.

When I ran `wskdeploy -i -p tests/usecases/triggerrule/`, I saw below output message:
[code]
Then I verified in OpenWhisk, trying `wsk action get triggerrule/greeting`, and I saw below message:
[code]
So I think this issue is fixed. We can close it.